body {
  font-family: 'Archivo';
}

.bloque_cupon{
  /* display: flex; */
    column-gap: 15px;
}

.bloque_cupon .bc_input{ 
  width: 300px;
}

.total-cupon .btn-check:focus+.btn, 
.total-cupon .btn:focus{
  box-shadow: none;
}

.wizard-nav .wizard-step {
  background-color: #6bd8d1;
  border: 1px solid #6BD8D2!important;
  border-radius: 0px!important;
  color: #2d21b5;
  font-weight: 700;
  font-size: 18px!important;
  padding: 15px 20px 15px 20px!important;
  line-height: 1.2;
  fill: #2d21b5;
}

.wizard-nav .wizard-step.active {
  background-color: #2927B9;
  border: 1px solid #2927B9!important;
  color: #ffffff;
  fill: #ffff;
}
.wizard .wizard-content {
  border: 1px solid #ffffff;
  /*margin-top: 20px;
  margin-bottom: 20px;*/
  background-color: #ffffff;
  border-radius: 7px;
  padding: 30px 20px!important;
}

.modal-wizard .modal-content {
  border: 1px solid #fff0;
}

.wizard-nav .wizard-step:first-child{
  border-top-left-radius: 7px !important;
  border-bottom-left-radius: 7px !important;
}

.wizard-nav .wizard-step:last-child{
  border-top-right-radius: 7px !important;
  border-bottom-right-radius: 7px !important;
}

.wizard .wizard-buttons {
  display: flex;
  justify-content: center!important;
  gap: 20px;
}
button.wizard-btn.btn.btn-ecuavisa.finish,
button.wizard-btn.btn.btn-ecuavisa.next {
  background: #2826b8;
  color: #fff;
  border-radius: 2px;
  /* padding: 12px 8px; */
  padding: 12px 20px;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  margin: 0;
}

button.wizard-btn.btn.btn-ecuavisa.prev {
  background: #23DCD1;
  color: #2826b8;
  border-radius: 2px;
  /* padding: 12px 8px; */
  padding: 12px 20px;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  margin: 0;
}
.wizard-step[data-step="1"] .form-control {
  padding: 0.675rem 1.1rem;
  border-radius: 0.34rem;
}

.wizard-step[data-step="1"] .form-control::placeholder {
opacity: 0.3;
line-height: 1.2;
font-weight: 200;
font-size: 16px;
}

.wizard-step[data-step="1"] .form-label {
  margin-bottom: 0.1rem;
}
.btn-changeplan {
display: flex;
width: 100%;
flex-direction: row;
align-items: center;
max-width: 100%;
position: relative;
min-width: 100%;
}
.detaill-content {
width: 100%;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
}
#changePlan .icon {
display: flex;
    background-color: #6bd8d1;
    border-radius: 7px;
    align-items: center;
    padding: 10px 10px;
    width: 55px;
    height: 55px;
}

#changePlan .flex-row {
gap: 20px;
}
.price-detaill {
gap: 10px;
display: flex;
flex-direction: row;
align-content: center;
align-items: center;
}

#changePlan .flex-row {
gap: 20px;
}

.price-detaill {
gap: 10px;
display: flex;
flex-direction: row;
position: relative;
align-items: flex-end;
}

#changePlan {
background-color: #e9ebf4;
padding: 20px 20px;
border-radius: 10px;
border: 2px solid #2d21b5;
}

.title-plan {}

.title-plan {
font-size: 20px;
font-weight: bold;
}

.title-detaill {
display: flex;
flex-direction: column;
align-items: flex-start;
}

.change-descripcion {
font-size: 15px;
color: #afafaf;
line-height: 1.2;
letter-spacing: 1.2px;
font-weight: 200;
}

.price-detaill .valor {
position: relative;
font-size: 40px;
font-weight: 900;
line-height: 1.2;
}

.price-detaill .usd {
position: absolute;
left: -17px;
top: -5px;
font-size: 25px;
font-weight: 200;
color: #727272;
}

.price-detaill .frecuencia {
/* position: absolute; */
/* right: 0; */
font-size: 16px;
font-weight: 200;
color: #727272;
/* bottom: 0px; */
}

.item-beneficio {
display: flex;
gap: 20px;
flex-direction: row;
align-items: flex-start;
padding: 5px 10px;
justify-content: flex-start;
}

.caracteristica-beneficio {
font-size: 12px;
font-weight: 300;
color: #cccccc;
}

.icon-beneficio svg {
fill: #6bd8d1;
}

.ring {
  --uib-size: 40px;
  --uib-speed: 2s;
  --uib-color: black;
  
  height: var(--uib-size);
  width: var(--uib-size);
  vertical-align: middle;
  transform-origin: center;
  animation: rotate var(--uib-speed) linear infinite;
}

.ring circle {
  fill: none;
  stroke: var(--uib-color);
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: stretch calc(var(--uib-speed) * 0.75) ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes stretch {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dashoffset: -124px;
  }
}

.plans-tabs {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  flex-wrap: wrap;
}
.plans-tabs .tab-button{
  margin-top: 10px;
}

/*.tab {
  display: none;
}

.active-tab {
  display: block;
}*/

.nav-pills .nav-link,
.list-card-plans ul button,
.tab-button {
  cursor: pointer;
  padding: 7px 20px;
  border-radius: 3px;
  border: 1px solid #D5D5D5;
  background: #D5D5D5;
  color: #000;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link,
.list-card-plans ul .active {
  background-color: #2927B9;
  background: #2927B9;
  border: 1px solid #2927B9;
  color: #fff;
}

.card {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, .1);
}

.list-card-plans {
  /*margin: 20px 0;
  display: flex;
  align-items: stretch;
  justify-content: center;
  column-gap: 20px;
  flex-wrap: wrap;*/
}

.list-card-plans .card {
  margin-top: 20px;
}

.card-body img {
  width: 100%;
  margin: auto;
  display: block;
}

.card-title {
  text-align: center;
  margin: 15px 0;
  text-transform: uppercase;
}
.boton_sus{
  margin: 20px 0;
  background: #23DCD1;
  display: block;
  color: #2927B9;
  border-radius: 20px;
}

.icono {
  list-style-type: none;
  padding: 0;
  background-image: url('https://estadisticas.ecuavisa.com/sites/gestor/assets-rd/check-line.svg');
  /* Ruta al archivo SVG */
  background-repeat: no-repeat;
  background-position: left center;
  /* Puedes ajustar la posición del ícono */
  padding-left: 30px;
  /* Ajusta el espaciado izquierdo para dejar espacio para el ícono */
  margin-bottom: 12px;
  /* Ajusta el espaciado entre elementos */
}

.plan_grupos {
  margin: 20px 0;
}

.plan_precio{
  text-align: center;
}

.plan_precio .span_ {
  font-weight: 800;
  font-size: 40px;
}

.item-pago .btn {
    width: 100%;
    align-items: center;
    justify-content: initial;
    gap: 20px;
    border: 1px solid #d4d4d4;
    padding: 15px 20px;
    border-radius: 7px;
    transition: all 0.5s ease;
}

.item-pago .check-pago {
    background: #ffffff;
    width: 20px;
    height: 20px;
    border-radius: 100px;
    border: 1px solid #c4c4c4;
    position: relative;
}
.method-pago {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    gap: 10px;
    padding-left: 12px;
}
.titulo-beneficio {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
    font-weight: 700;
    justify-content: center;
}

.titulo-beneficio p {
    font-size: 12px;
    line-height: 1.2;
    font-weight: 300;
    color: #cccccc;
    text-align: left;
}
.item-pago .btn:hover {
    background-color: #f2f2f2;
}

.item-pago .btn:hover {
    background-color: #f2f2f2;
}

.item-pago .active .check-pago {background: #2d21b5;border-color: #2d21b5;}

.item-pago .active .check-circle {
    width: 8px;
    height: 8px;
    background: white;
    border-radius: 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.pago-list {
    gap: 5px;
}

.item-pago button {
    position: relative;
}

.item-pago .check-pago {
    position: absolute;
    left: 15px;
}

.item-pago .btn {
    padding-left: 35px;
}

.icon-pago img {
    width: 100%;
    height: auto;
}

#modalPaqueteHtml .precio-promo-content {
    position: relative;
}

#modalPaqueteHtml .precio-normal {
    position: absolute;
    font-size: 16px;
    color: #ff0303;
    left: -55px;
    bottom: -5px;
}

#modalPaqueteHtml .precio-normal:after {
    width: 2px;
    content: "";
    height: 54px;
    position: absolute;
    top: -17px;
    left: 25px;
    transform: rotate(70deg);
    background-color: #ff0303;
}

.plan_precio .span_ {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}


.plan_precio .precio-promo-content {
    position: relative;
}

/*.plan_precio .precio-normal {
    position: absolute;
    font-size: 16px;
    color: #ff0303;
    left: -76px;
    top: 10px;
}

.plan_precio .precio-normal:after {
    width: 2px;
    content: "";
    height: 50px;
    position: absolute;
    top: -15px;
    left: 21px;
    transform: rotate(70deg);
    background-color: #ff0303;
}*/

#modalPaqueteHtml[disabled="true"] .modal-dialog {
    opacity: 0.3;
    pointer-events: none!important;
    z-index: 22;
}

.content-gracias {
    max-width: 255px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 32px 25px;
    box-shadow: -6px 5px 25px -10px rgb(0 0 0 / 49%);
    -webkit-box-shadow: -6px 5px 25px -10px rgb(0 0 0 / 33%);
    -moz-box-shadow: -6px 5px 25px -10px rgba(0,0,0,0.75);
}

.icon-gracias svg {
    fill: green;
    width: 100px;
    height: 100px;
}

.gracias-descripcion {
    font-size: 25px;
    line-height: 1.2;
    font-weight: 600;
}

.gracias-email {
    font-size: 12px;
    line-height: 1.2;
    margin-top: 20px;
    font-weight: 300;
    fill: #c1c1c1;
    color: #c1c1c1;
}

.content-gracias.error svg.success {
    display: none;
}

.content-gracias.success svg.error {
    display: none;
}

.content-gracias.error svg.error {
    fill: #dd0000;
}

.content-gracias.error .gracias-email {
    display: none;
}

.no-login {max-width: 270px;gap: 10px;text-align: center;margin-left: auto;display: flex;margin-right: auto;flex-direction: column;}

.icon-login svg {
    width: 40px;
    height: 40px;
}

#btn-login-ec {
    background: #2826b8;
    color: #fff;
    border-radius: 2px;
    padding: 12px 20px;
    text-align: center;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    margin: 0;
    margin-top: 20px;
}

.detalles .login {
  max-width: 350px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0;
}

.btn-ecuavisa.next[disabled="true"] {
    display: none;
}

#bloque-ec-one {
    padding-bottom: 56px;
}

.title-plan {
    text-align: left;
    line-height: 1.2;
}

.title-detaill {
    padding-right: 50px;
}

.precio-promo-content .precio-normal {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.precio-promo-content  .price_currency {
    font-size: 14px;
    color: #727586;
    text-decoration-line: line-through;
    font-weight: 400;
}

.precio-promo-content .save_price {
    font-size: 16px;
    color: #2e22b6;
    background-color: #2e22b621;
    border-radius: 20px;
    display: inline-block;
    padding: 7px 12px;
}

.plan_grupos .h4 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
}

#pills-tabContent {
    max-width: 1100px;
}

hr.hr-planes {
    opacity: 1;
    height: 0.3px;
    background: #dfdfdf;
}

.total-precio {
    padding: 12px;
    border: 1px solid #d5d5d5;
    border-radius: 7px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.row-precios {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.column-precio {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.precio-normal-t {
    font-weight: 300;
    line-height: 24px;
    text-decoration: line-through;
    font-size: 12px;
    color: #bbbbbb;
}

.precio-promo-t {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
}

.select2-container--open{
    z-index: 9999;
}

.select2-container--bootstrap-5 .select2-selection {
    width: 100%;
    min-height: calc(1.5em + 0.75rem + 11px)!important;
    padding: 0.675rem 1.1rem!important;
    border-radius: 0.34rem!important;
}

.select2-selection__rendered {
    opacity: 0.3;
    line-height: 1.2;
    font-weight: 200;
    font-size: 16px;
}

small.bg-red {
    color: red;
}

.show.invalid-feedback{
    display: block!important;
}