.seccionCancelacion {
  margin-bottom: 100px;
}

#iter-content-wrapper{
  padding-top: 0;
}

.seccionCancelacion .seca_actualiza {
  color: #000;
  font-family: Archivo;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  text-transform: uppercase;
}

.seccionCancelacion .seca_darse {
  color: #000;
  font-family: Archivo;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
}

/*--------------*/
.seccionCancelacion .seca_mensaje_exito,
.seccionOpinion .seca_mensaje_exito_susc {
  color: #000;
  font-family: Archivo;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.seccionOpinion .seop_title_pregunta {
  color: #000;
  font-family: Archivo;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
/* ss */

.seccionOpinion .seop_boton {
  color: #23DCD1;
  font-family: 'Mattone 150';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  background: #2927B9;
  display: block;
  width: 441px;
  height: 44px;
  flex-shrink: 0;
  text-align: center;
  padding: 10px;
  margin: 22px 0;
}
/*---*/

.seca_mensaje_exito_susc {
    background-color: #23DCD1;
    width: 100%;
    display: flex;
    max-width: 441px;
    padding: 20px;
    color: #2927B9!important;
    border-radius: 2px;
    margin-top: -15px;
    margin-bottom: 40px;
    font-weight: bold!important;
}

.seccionOpinion select {
    background-color: #F5F5F5;
    border: 1px solid #F5F5F5;
    padding: 14px 10px;
    width: 100%;
    max-width: 441px;
    color: #717171;
    margin-top: 5px;
    font-weight: 500;
    font-family: Archivo;
}


.seccionOpinion select {
  background-image: url(https://estadisticas.ecuavisa.com/sites/gestor/Recursos%2Fabajo-redi.png); /*aquí deberás escribir la ruta de la imagen que utilizarás como flecha del desplegable*/
  background-repeat: no-repeat;
  background-position: right center;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  background-size: 27px;
  background-position: 94% 50%;
}

.seccionOpinion select::-ms-expand {
  display: none; /*Evita que se muestre la flecha por defecto en versiones de IE*/
}

@media (max-width: 767px) {
  .seccionOpinion .seop_boton {
    width: 100%;
    height: auto;
  }
}