.seccionCancelacion {
  margin-bottom: 100px;
}

#iter-content-wrapper{
  padding-top: 0;
}



.seccionCancelacion .seca_actualiza {
  color: #000;
  font-family: Archivo;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  text-transform: uppercase;
}

.seccionCancelacion .seca_darse {
  color: #000;
  font-family: Archivo;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
}


/*----------*/

.seccionCancelacion .seca_mensaje_exito,
.seccionOpinion .seca_mensaje_exito_susc {
  color: #000;
  font-family: Archivo;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.seccionOpinion .seop_title_pregunta {
  color: #000;
  font-family: Archivo;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
/* ss */

.seccionOpinion .seop_boton {
  color: #23DCD1;
  font-family: 'Mattone 150';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  background: #2927B9;
  display: block;
  width: 441px;
  height: 44px;
  flex-shrink: 0;
  text-align: center;
  padding: 10px;
  margin: 22px 0;
}
/*---*/
@media (max-width: 767px) {
  .seccionOpinion .seop_boton {
    width: 100%;
    height: auto;
  }
}