/*
.content_mp .temas-hot .botones__, 
.content_mp .temas-quemado .botones__ {
    display: none;
}*/
/**********************CINTILLO**********************/
.isDisabled{
  opacity: 0.4;
  cursor: not-allowed;
  pointer-events: none;
}

#iter-content-wrapper {
  padding-top: 0px;
}

.cintillo-rd-mp {
  display: inline-block;
  color: var(--rd-cintillo);
  font-family: 'Anek Malayalam';
  letter-spacing: -0.03em;
  font-style: normal;
  font-weight: 600;
  font-size: 88px;
  line-height: 96px;
  text-transform: lowercase;
}

.c_azul_celeste_Mobile_mp {
  display: none;
}


@media (max-width: 767px) {
  .cintillo-rd-mp {
    font-size: 55px;
    line-height: 24px;
    margin-bottom: 20px;
  }

  .c_azul_celeste_Mobile_mp {
    display: block;
  }

  .c_azul_celeste_Desktop_mp {
    display: none;
  }
}


/****************ENTRADA******************/

.entradaGrid {
  display: flex;
  align-items: center;
  gap: 20px;
}

.entradaGrid .imgAvatar img {
  border: 2.4px solid #2927B9;
  border-radius: 50%;
  width: 120px;
  height: 100%;
}

.entradaGrid .infoBox .infoName {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 30px;
  color: #060127;
  margin: 0;
}

.entradaGrid .infoBox .infoName p {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 26px;
  display: flex;
  align-items: center;
  color: #060127;
  margin: 0;
}


@media (max-width: 767px) {
  .entradaGrid .infoBox .infoName {
    font-size: 22px;
  }

  .entradaGrid .imgAvatar img {
    width: 100px;
  }

  .entradaGrid .infoBox .infoName p {
    font-size: 16px;
  }
}

.outsideEmail>div:last-child {
  display: none;
}

/****************NOTIFICACIONES******************/
.container_loader {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-bottom: 40px;
  padding-top: 20px;
}

.loader {
  width: 75px;
  height: 75px;
  border-top: 4px solid #23DCD1;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

.NoticiasGuardadasBox .container_loader {
  width: 100%;
  display: block;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.MP_notificaciones {
  background: #2927B9;
  color: #ffffff;
  margin-top: 30px;
  margin-bottom: 35px;
}


.MP_notificaciones .noticias .article {
  display: flex;
  column-gap: 20px;
  align-items: center;
  border-top: 1px solid #23DCD1;
  border-bottom: 1px solid #23DCD1;
  padding: 30px 0;
  margin-top: 30px;
  margin-bottom: 70px;
  height: auto;
}

.MP_notificaciones .notificationBox .swiper-pagination {
  bottom: 24px;
}

.MP_notificaciones .mp_title_notificaciones {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  color: #FFFFFF;
  padding-top: 40px;
}

.MP_notificaciones .noticias .article .multimedia img {
  width: 100px;
  height: 97px;
  border-radius: 2px;
  object-fit: cover;
}

.MP_notificaciones .article .text_block .section {
  font-family: 'Mattone 150';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #23DCD1;
  margin-bottom: 8px;
}

.MP_notificaciones .article .text_block h3 {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}

.MP_notificaciones .swiper-pagination-bullet {
  background: rgb(35 220 209 / 50%);
  opacity: inherit;
  margin: 0 10px !important;
  width: 11px;
  height: 11px;
}

.MP_notificaciones .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #23dcd1;
}

/****************DATOS PERSONALES******************/
.MP_datos .insideTitle {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #060127;
}

.MP_datos .insideValue {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  color: #060127;
}

.MP_datos .insideValue input {
  border: 0;
}

.MP_datos .changeEmail,
.MP_datos .changePassword {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  text-decoration-line: underline;
  color: #2927B9;
}


.MP_datos .outsidetName,
.MP_datos .outsideEmail,
.MP_datos .outsidePassword {
  padding: 30px 10px;
  height: 100%;
  border-bottom: 1px solid #CACACA;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.MP_datos .outsidetName {
  border-top: 1px solid #CACACA;
}

@media (max-width: 767px) {
  .MP_datos .insideTitle {
    font-size: 16px;
  }

  .MP_datos .changeEmail,
  .MP_datos .changePassword {
    font-size: 16px;
  }

  .MP_datos .insideValue {
    font-size: 16px;
  }

}



/****************SUSCRIPCIONES******************/

/*INICIO - DINAMICO*/
.temas-hot .categoryGroup .categoryListBlock .categoryListItemPosition {
  display: none;
}

.temas-hot .categoryGroup .categoryListBlock .categoryList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
}

.temas-hot .categoryGroup .categoryListBlock .categoryList .categoryListItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10px;
  border-bottom: 1px solid #CACACA;
}

.temas-hot .categoryGroup .categoryListBlock .categoryList .categoryListItem:nth-child(1) {
  border-top: 1px solid #CACACA;
}

.temas-hot .categoryGroup .categoryListBlock .categoryList .categoryListItem:nth-child(2) {
  border-top: 1px solid #CACACA;
}

.temas-hot .categoryGroup .categoryListBlock .categoryList .categoryListItem .botones__ .button_siguiendo .follow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 18px 20px;
  gap: 10px;
  width: 135.85px;
  height: 32px;
  background: #23DCD1;
  border: 1px solid #23DCD1;
  border-radius: 2px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.temas-hot .categoryGroup .categoryListBlock .categoryList .categoryListItem .botones__ .button_siguiendo span {
  font-family: 'Mattone 150';
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 0;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #2927B9;
  padding-top: 4px;
}


.temas-hot .categoryGroup .categoryListBlock .categoryList .categoryListItem .botones__ .button_seguir span {
  font-family: 'Mattone 150';
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 0;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #2927B9;
  padding-top: 4px;
}

.temas-hot .categoryGroup .categoryListBlock .categoryList .categoryListItem .botones__ .button_seguir .follow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 18px 20px;
  gap: 10px;
  width: 135.85px;
  height: 32px;
  border: 1px solid #23DCD1;
  border-radius: 2px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.temas-hot .categoryGroup .categoryListBlock .categoryList .categoryListItem .categoryListItemLink {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  color: #060127;
}

.temas-hot .categoryGroup .categoryListBlock .categoryList .categoryListItem .categoryListItemLink .metaTitle {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #060127;
  margin-bottom: 10px;
}



/*DINAMICO - FIN*/


.MP_suscripciones {
  margin-top: 50px;
}

.MP_suscripciones .grid-miperfil {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
}

.MP_suscripciones .metaOutsideBox {
  padding: 30px 10px;
  height: 100%;
  border-bottom: 1px solid #CACACA;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.MP_suscripciones .metaOutsideBox:nth-child(1) {
  border-top: 1px solid #CACACA;
}

.MP_suscripciones .metaOutsideBox:nth-child(2) {
  border-top: 1px solid #CACACA;
}

.MP_suscripciones .metaOutsideBox .metaTitle {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #060127;
  margin-bottom: 10px;
}

.MP_suscripciones .metaOutsideBox .metaValue {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  color: #060127;
}

.MP_suscripciones .metaOutsideBox .button_siguiendo .follow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 18px 20px;
  gap: 10px;
  width: 135.85px;
  height: 32px;
  background: #23DCD1;
  border: 1px solid #23DCD1;
  border-radius: 2px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.MP_suscripciones .metaOutsideBox .button_seguir .follow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 18px 20px;
  gap: 10px;
  width: 135.85px;
  height: 32px;
  border: 1px solid #23DCD1;
  border-radius: 2px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.MP_suscripciones .metaOutsideBox .button_seguir span {
  font-family: 'Mattone 150';
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 0;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #2927B9;
  padding-top: 4px;
}

.MP_suscripciones .metaOutsideBox .button_siguiendo span {
  font-family: 'Mattone 150';
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 0;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #2927B9;
  padding-top: 4px;
}

@media (min-width: 767px) {
  /* .MP_suscripciones .content_mp {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
  } */





}

@media (max-width: 767px) {
  .temas-hot .categoryGroup .categoryListBlock .categoryList {
    grid-template-columns: none;
  }

  .MP_suscripciones .grid-miperfil {
    grid-template-columns: none;
  }

  .temas-hot .categoryGroup .categoryListBlock .categoryList .categoryListItem:nth-child(2) {
    border-top: none;
  }
  
  .MP_suscripciones .metaOutsideBox:nth-child(2) {
    border-top: none;
  }

  .MP_suscripciones .metaOutsideBox .metaTitle {
    font-size: 16px;
  }

  .MP_suscripciones .metaOutsideBox .metaValue {
    font-size: 16px;
  }

}





/****************NOTICIAS GUARDADAS******************/

.MP_noticias_save {
  margin-top: 50px;
}



.MP_noticias_save .noticias .article {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  align-items: center;
  border-bottom: 1px solid #2927B9;
  padding: 30px 0;
  height: auto;
}

.MP_noticias_save .noticias .article:nth-child(1) {
  border-top: 1px solid #2927B9;
}

.MP_noticias_save .noticias .article:nth-last-child(1) {
  border-bottom: none;
}

.MP_noticias_save .noticias .article .multimedia {
  position: relative;
}

.MP_noticias_save .noticias .article .multimedia img {
  width: 100px;
  height: 97px;
  border-radius: 2px;
  object-fit: cover;
}

/*.MP_noticias_save .noticias .article .multimedia::after {
  content: url('https://ecuavisadev.netlify.app/rd-mi-perfil/assets/saved.svg');
  position: absolute;
  z-index: 9999;
  display: block;
  bottom: 0;
  right: 0;
  padding: 5px 10px;
}*/

.MP_noticias_save .article .text_block .section {
  font-family: 'Mattone 150';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #2927B9;
  margin-bottom: 8px;
}

.MP_noticias_save .article .text_block h3 {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: flex-end;
  color: #060127;
}

.MP_noticias_save .btn_view_all {
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.MP_noticias_save .btn_view_all a {
  font-family: 'Mattone 150';
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 12px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  text-transform: uppercase;
  color: #2927B9;
}

.MP_noticias_save .btn_view_all a:after {
  content: url('https://estadisticas.ecuavisa.com/sites/gestor/Newsletter%2FbotonNews.svg');
  transform: scale(0.8);
}

button.btn-ecuavisa-noticia img {
  max-width: 100%;
  height: auto !important;
}

.btn-ecuavisa-noticia {
  position: absolute;
  width: 20%;
  bottom: 10px;
  padding: 0px;
  right: 10px;
}

@media (min-width: 767px) {
  .MP_noticias_save .noticias {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
  }

  .MP_noticias_save .noticias .article {
    margin-top: 0;
    margin-bottom: 0;
  }

  .MP_noticias_save .noticias .article:nth-child(2) {
    border-top: 1px solid #2927B9;
  }

  .MP_noticias_save .noticias .article:nth-last-child(2) {
    border-bottom: none;
  }
}



/****************AYUDA******************/

.MP_ayuda .AyudaBox {
  background: #F5F5F5;
}

.MP_ayuda .AyudaBox .noticias {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.MP_ayuda .AyudaBox .noticias .article {
  padding: 20px 0;
  height: auto;
}

/*.MP_ayuda .AyudaBox .noticias .article:nth-child(1) {
  border-bottom: 1px solid #CACACA;
}

.MP_ayuda .AyudaBox .noticias .article .text_block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 30px;
}*/

.MP_ayuda .AyudaBox .noticias .article .text_block a {
  font-family: 'Mattone 150';
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 12px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  text-transform: uppercase;
  color: #2927B9;
}

.MP_ayuda .AyudaBox .noticias .article .text_block a:after {
  content: url('https://estadisticas.ecuavisa.com/sites/gestor/Newsletter%2FbotonNews.svg');
  transform: scale(0.7);
}


@media (min-width: 991px) {
  .MP_ayuda .AyudaBox .noticias,
  .faq-ayuda.u-ayuda-faq {
    /*max-width: 500px;*/
    max-width: 800px;

  }
 
}



/****************BOTON CERRAR SESION******************/


.collapsible_mp.container {
  padding-right: 18px;
  padding-left: 18px;
}

.MP_cerrar_session .button_cerrar_sesion {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 45px;
}


.MP_cerrar_session .button_cerrar_sesion a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 18px 18px;
  gap: 10px;
  width: 152px;
  height: 32px;
  border: 1px solid #23DCD1;
  border-radius: 2px;
  font-family: 'Mattone 150';
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 12px;
  text-align: center;
  text-transform: uppercase;
  color: #2927B9;
}

/****************COLLAPSE SIEMPRE DEBE DE ESTAR AL FINAL******************/

.mp_title {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 28px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #060127;
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: -webkit-fill-available;
}

.active_mp,
.mp_title:hover {
  color: #2927B9;
}

.mp_title:after {
  content: url('./assets/chevron-down.svg');
  color: #2927B9;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active_mp:after {
  content: url('./assets/chevron-up.svg');

}

.content_mp {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: transparent;
}

@media (max-width: 767px) {
  .mp_title {
    font-size: 22px;
  }
}


/*Estilos modal*/
#titleModal {
  color: #2927B9;
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  color: #2927B9;
  cursor: pointer;
  width: -webkit-fill-available;
}

#modalcambiopass label.form-label {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  color: #060127;
}

#modalcambiopass input::placeholder {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  color: #d8d9db;
}

#modalcambiopass .modal-footer .btn-secondary {
  border: 1px solid #23DCD1;
  border-radius: 2px;
  font-family: 'Mattone 150';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  color: #2927B9;
  background-color: transparent;
  padding: 10px 25px;
}

#modalcambiopass .modal-footer .btn-primary {
  background-color: #2927b9;
  border: 1px solid #2927b9;
  border-radius: 2px;
  font-family: 'Mattone 150';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  padding: 10px 25px;
}

.btn-eyes {
  background-color: #2927b9;
  border: 1px solid #2927b9;
  border-radius: 2px;
  font-family: 'Mattone 150';
  font-style: normal;
  font-weight: 100;
  font-size: 8px;
  text-transform: uppercase;
  padding: 7px 7px;
  top: 5px;
}

.btn-eyes.btn-outline-primary {
  background-color: transparent;
  border: 1px solid #2927b9;
  border-radius: 2px;
  font-family: 'Mattone 150';
  font-style: normal;
  font-weight: 100;
  font-size: 8px;
  text-transform: uppercase;
  padding: 7px 7px;
  color: #2927b9;
}

.text-danger.error {
  font-size: 12px;
  line-height: 17px;
  padding-top: 5px;
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 300;
}

.error.d-none {
  display: none !important;
}

.error.d-block {
  display: block;
}

/* 👉 MODAL SEGUIMIENTO DE TEMAS */
.MODAL_SEGUIMIENTO_TEMA .modal-title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  font-size: 23.027px;
  line-height: 28px;
  color: #2927B9;
}

.MODAL_SEGUIMIENTO_TEMA .modal-footer{
  border-top: 1px solid transparent !important;
  padding: 1rem 0 0.75rem 0 !important;
}

.MODAL_SEGUIMIENTO_TEMA .modal-footer #btn_enviar_seguimiento_tema {
  display: flex;
  flex-direction: column;
  background-color: transparent !important;
  border-color: transparent !important;
  font-family: 'Mattone 150';
  font-style: normal;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 17px;
  color: #2927b9;
}

.MODAL_SEGUIMIENTO_TEMA .modal-header{
  background: #23DCD1;
  padding: 1.5rem;
}

.MODAL_SEGUIMIENTO_TEMA .modal-content{
  border: none !important;
}

.MODAL_SEGUIMIENTO_TEMA .modal-body {
  padding: 2.5rem 1.5rem 0 !important;
}

.MODAL_SEGUIMIENTO_TEMA .modal-body label{
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 300;
  font-size: 20.4685px;
  line-height: 33px;
}

.MODAL_SEGUIMIENTO_TEMA #btn_enviar_seguimiento_tema{
  font-family: 'Archivo';
  font-style: normal;
  line-height: 33px;
  background: transparent !important;
  border: 1px solid #CACACA !important;
  border-radius: 3px;
}

.MODAL_SEGUIMIENTO_TEMA .btn {
  line-height: 1 !important;
}

.MODAL_SEGUIMIENTO_TEMA .btn-primary:hover {
  color: #2927b9;
  background-color: transparent !important;
  border-color: transparent !important;
}

.MODAL_SEGUIMIENTO_TEMA .modal-footer button:after {
  content: url('https://estadisticas.ecuavisa.com/sites/gestor/Banner/Vector-login.svg');
}

.MODAL_SEGUIMIENTO_TEMA .btn-close{
  background: url('https://estadisticas.ecuavisa.com/sites/gestor/Banner/close-fill.svg') center/1em auto no-repeat !important;
  border: 0;
  background-size: 45px !important;
  opacity: 1 !important;
}

.MODAL_SEGUIMIENTO_TEMA .btn-check:focus+.btn-primary, .btn-primary:focus{
  box-shadow: 0 0 0 0.25rem rgb(49 132 253 / 0%);
}

.MODAL_SEGUIMIENTO_TEMA .btn-close:focus {
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 0%);
}

.MODAL_SEGUIMIENTO_TEMA .mis-intereses-modal {
    font-weight: 600;
}

.MODAL_SEGUIMIENTO_TEMA .item_tema {
    display: inline-block;
    padding: 0px;
}

.MODAL_SEGUIMIENTO_TEMA .template-meta-favorite-action svg {
    display: none;
}

.MODAL_SEGUIMIENTO_TEMA .template-meta-favorite-action.add .btn-modal-seguir{
    display: flex;
    align-items: center;
    gap: 10px;
}

.MODAL_SEGUIMIENTO_TEMA .template-meta-favorite-action.add .btn-modal-seguir svg:nth-child(2) {
    display: inline-block;
}

.MODAL_SEGUIMIENTO_TEMA .template-meta-favorite-action.remove .btn-modal-seguir svg:nth-child(3) {
    display: inline-block;
}

.MODAL_SEGUIMIENTO_TEMA .keywords {
    display: flex;
    align-items: center;
    line-height: 1.2;
}

.btn-modal-seguir small {
    font-family: 'Mattone 150';
    color: #2927b9;
    text-transform: uppercase;
    font-weight: 500;
}

.MODAL_SEGUIMIENTO_TEMA .template-meta-favorite-action {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid #2927b9;
    border-radius: 3px;
    color: #2927b9;
    padding-right: 8px;
    padding-top: 9px;
    padding-left: 8px;
    padding-bottom: 8px;
    line-height: 1.2;
}

.btn-check:focus+.btn.btn-modal-seguir, .btn.btn-modal-seguir:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 0%);
}

.template-meta-favorite-action.add svg {
    color: #2927b9;
}

.template-meta-favorite-action.remove {
    background-color: #2927b9;
    padding-bottom: 5px;
}

.template-meta-favorite-action.remove button small {
    color: #fff;
}

.template-meta-favorite-action.remove svg {
    color: #fff;
}

.listado-temas{
  display: flex;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap;
}
/* FIN MODAL SEGUIMIENTO DE TEMAS */

.MP_noticias_save .noticias{
      padding-left: 7px;
}

/*================================INICIO=AYUDA========================================*/
.AyudaBox .noticias .section{
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 28px;
}

.AyudaBox .noticias #faq,
.AyudaBox .noticias #faq_form{
  padding-right: 18px;
  padding-left: 18px;
}

.ocultar_icon.active_mp:after{
  display: none; /*momentaneo*/
}

.faq-ayuda.u-ayuda-faq{
  background: #F5F5F5;
}
.faq_ecu section.noticias{
  display: none;
}
 #accesos {
  min-height:0;
  display:inline-block;
  position:relative;
  left:50%;
  transform:translate(-50%,0);
  width:100%;
  max-width:960px;
  background: #F5F5F5;
 }
 .ayuda-faq h1 {
  color:#2927b9;
  font-size:55px;
  line-height:1.2em;
  font-weight:600;
  padding-top:2rem;
  font-family:anek malayalam;
 }
 .ayuda-faq h2 {
  font-size:1em;
  display:block;
  margin:0;
  cursor:pointer;
  padding:.5em 0;
  font-weight:700;
  width:90%;
  font-family:archivo!important;
  color:#060127;
 }
 .ayuda-faq p {
  font-weight:700;
 /* padding:1rem 0;*/
  font-family:archivo;
 }
 .ayuda-faq .text_block .priority-content {
  color:#060127;
  font-weight:500;
  font-family:archivo;
 }
 .ayuda-faq .text_block .text .text-wrapper p {
  color:#060127;
  font-weight:400;
  font-family:archivo;
 }
 .ayuda-faq .contAcordeon {
  color:#060127;
  line-height:1.5em;
  letter-spacing:.05em;
  position:relative;
  overflow:hidden;
  max-height:200em;
  opacity:1;
  transform:translate(0,0);
  margin-top:1em;
  z-index:2;
  padding:0 .5em;
  width:100%;
  font-family:archivo;
 }
 #accesos ul {
  list-style:none;
  perspective:900;
  padding:0;
  margin:0;
 }
 #accesos ul li {
  position:relative;
  padding:10px 0;
  margin:0;
 }
 #accesos ul li:nth-of-type(1) {
  animation-delay:.5s;
 }
 #accesos ul li:nth-of-type(2) {
  animation-delay:.75s;
 }
 #accesos ul li:nth-of-type(3) {
  animation-delay:1s;
 }
 #accesos ul li:last-of-type {
  animation-delay:1.25s;
  padding-bottom:0;
 }
 #accesos ul li i.chevron {
  position:absolute;
  transform:translate(-18px,0);
  margin-top:15px;
  right:0;
 }
 #accesos ul li i.chevron:before,
 #accesos ul li i.chevron:after {
  content:"";
  position:absolute;
  background-color:#046cdf;
  width:2px;
  height:11px;
 }
 #accesos ul li i:before {
  transform:translate(-22px,0) rotate(45deg);

 }
 #accesos ul li i.chevron:after {
  /*transform:translate(-8px,0) rotate(-45deg);*/
  transform:translate(-15px,0) rotate(-45deg);
 }
 #accesos ul li input[type=checkbox] {
  position:absolute;
  cursor:pointer;
  width:100%;
  height:100%;
  z-index:1;
  opacity:0;
 }
 #accesos ul li input[type=checkbox]:checked~div {
  margin-top:0;
  max-height:0;
  opacity:0;
  transform:translate(0,50%);
 }
 #accesos ul li input[type=checkbox]:checked~i:before {
  transform:translate(-6px,0) rotate(45deg);
  transform: translate(-15px,0) rotate(45deg);
 }
 #accesos ul li input[type=checkbox]:checked~i:after {
  transform:translate(-22px,0) rotate(-45deg);
 }
 /*#accesos input[type=checkbox]:checked~h2 {
  background-color:#fff;
 }*/
 #accesos h2>i {
  width:50px;
  height:30px;
  display:inline-block;
  margin-right:1em;
  margin-top:10px;
  text-align:center;
  float:right;
 }
 #accesos .callout {
  padding:0 1em;
  margin:0;
 }
 #accesos .callout h3 {
  font-size:18px;
  margin-bottom:.5em;
  margin-top:0;
  color:#060127;
  font-family:archivo;
 }
 .transition,
 ul li i:before,
 ul li i:after,
 .contAcordeon {
  transition:all .25s ease-in-out;
 }
 .ui-dialog {
  background:#fff;
  border:4px solid #ccc;
  border-radius:5px;
  float:left;
  padding:10px;
  z-index:9999999;
  font-family:archivo;
 }
 .ui-dialog.dialog_error .btts_error {
  text-align:right;
  position:relative;
  bottom:4rem;
 }
 .ui-dialog.dialog_error .label_error {
  padding:15px 25px 45px;
  font-size:18px;
  bottom:5rem;
 }
 .ui-dialog .ui-dialog-titlebar {
  height:90px;
 }
 ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable.dialog_error {
  position:absolute!important;
  top:100%!important;
  left:50%!important;
  transform:translate(-50%,-50%)!important;
  font-family:archivo;
 }
 .formulario {
  margin-left:10.5rem;
 }
 .formulario .element_form select {
  width:70%;
 }
 .formulario .element_form textarea {
  width:70%;
 }
 .title-form h2 {
  min-height:0;
  display:inline-block;
  position:relative;
  left:50%;
  transform:translate(-50%,0);
  width:100%;
  max-width:960px;
  font-size:1.25rem;
  padding-top:3rem;
 }
 .formulario .label_ant {
  font-size:16px;
  display:block;
  margin:0;
  cursor:pointer;
  font-weight:700;
  font-family:archivo;
  color:#060127;
 }
 .formulario .element_form input {
  line-height:normal;
  border:none;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  width:70%;
  height:35px;
  border:1px solid #333;
 }
 .formulario .btts_forms input {
  font-weight:600;
  margin:0 auto;
  color:#fff;
  background:#046cdf;
  border:none;
  -webkit-border-radius:7px;
  -moz-border-radius:7px;
  border-radius:3px;
  margin:20px 0;
  padding:10px;
 }
 .title-form .transition,
 ul li i:before,
 ul li i:after,
 .contAcordeon {
  transition:all .25s ease-in-out;
 }
 .title-form ul {
  list-style:none;
  perspective:900;
  padding:0;
  margin:0;
 }
 .title-form ul li {
  position:relative;
  padding:0;
  margin:0;
  padding-bottom:4px;
  padding-top:0;
 }
 .title-form ul li:nth-of-type(1) {
  animation-delay:.5s;
 }
 .title-form ul li:nth-of-type(2) {
  animation-delay:.75s;
 }
 .title-form ul li:nth-of-type(3) {
  animation-delay:1s;
 }
 .title-form ul li:last-of-type {
  animation-delay:1.25s;
  padding-bottom:0;
 }
 .title-form ul li i.chevron {
  position:absolute;
  transform:translate(-18px,0);
  margin-top:60px;
  right:10px;
 }
 .title-form ul li i.chevron:before,
 ul li i.chevron:after {
  content:"";
  position:absolute;
  background-color:#046cdf;
  width:2px;
  height:22px;
 }
 .title-form ul li i:before {
  transform:translate(-13px,0) rotate(45deg);
 }
 .title-form ul li i.chevron:after {
  transform:translate(2px,0) rotate(-45deg);
 }
 .title-form ul li input[type=checkbox] {
  position:absolute;
  cursor:pointer;
  width:100%;
  height:100%;
  z-index:1;
  opacity:0;
  background-color:#046cdf;
  max-height:100px;
 }
 .title-form ul li input[type=checkbox]:checked~div {
  margin-top:0;
  max-height:0;
  opacity:0;
  transform:translate(0,50%);
 }
 .title-form ul li input[type=checkbox]:checked~i:before {
  transform:translate(3px,0) rotate(45deg);
 }
 .title-form ul li input[type=checkbox]:checked~i:after {
  transform:translate(-12px,0) rotate(-45deg);
 }
 .title-form h2>i {
  width:50px;
  height:30px;
  display:inline-block;
  margin-right:1em;
  margin-top:10px;
  text-align:center;
  float:right;
 }

  @media(max-width:1440px) {
  .title-form ul li i.chevron {
   right:175px;
  }
  }
  @media(max-width:1024px) {
   .formulario {
    margin-left:0;
   }
   .formulario .element_form input {
    width:100%;
   }
   .formulario .element_form select {
    width:100%;
   }
   .formulario .element_form textarea {
    width:100%;
   }
   .title-form ul li i.chevron {
    right:20px;
   }
  }
  @media(max-width:768px) {
   .formulario {
    margin-left:0;
   }
   .formulario .element_form input {
    width:100%;
   }
   .formulario .element_form select {
    width:100%;
   }
   .formulario .element_form textarea {
    width:100%;
   }
   .title-form ul li i.chevron {
    right:20px;
   }
  }
  @media(max-width:600px) {
   .formulario {
    margin-left:0;
   }
   .formulario .element_form input {
    width:100%;
   }
   .formulario .element_form select {
    width:100%;
   }
   .formulario .element_form textarea {
    width:100%;
   }
   #accesos ul li i.chevron {
    right:0;
    right:-30px;
   }
   .title-form ul li i.chevron {
    right:20px;
   }
   #accesos {
    box-sizing:border-box;
    transform:translate(0,0);
    max-width:100%;
    min-height:100%;
    margin:0;
    left:0;
   }
   .ayuda-faq h2 {
    letter-spacing:0;
    padding-right: 5px;
   }
   .formulario {
    padding-left:0;
   }
   .ayuda-faq .text_block .text .text-wrapper p {
    font-size:1rem;
    font-weight:300;
    font-family:archivo;
   }
   .c_002_001.form-portlet{
    width: 100%;
   }
   .AyudaBox .noticias .section{
    font-size: 22px;
    line-height: 25px;
   }
  }
  @media(max-width:375px) {
   #accesos ul li i.chevron {
    right:-15px;
   }
   .title-form ul li i.chevron {
    right:-5px!important;
   }
  }

/*==================================FIN=AYUDA==========================================================*/

/*================CONTACTO==================*/
.faq_form_ecu{
  display: none;
}
#faq_form .c_002_001.form-portlet{
  float: none !important;
  margin: 3rem auto !important;
}
/*================CONTACTO==================*/