/**********************CINTILLO**********************/

.cintillo-rd-mp {
  display: inline-block;
  color: var(--rd-cintillo);
  font-family: 'Anek Malayalam';
  letter-spacing: -0.03em;
  font-style: normal;
  font-weight: 600;
  font-size: 88px;
  line-height: 96px;
  margin-top: 30px;
  text-transform: lowercase;
}

.c_azul_celeste_Mobile_mp {
  display: none;
}


@media (max-width: 767px) {
  .cintillo-rd-mp {
    font-size: 55px;
    line-height: 24px;
    margin-bottom: 20px;
  }

  .c_azul_celeste_Mobile_mp {
    display: block;
  }

  .c_azul_celeste_Desktop_mp {
    display: none;
  }
}


/****************ENTRADA******************/

.entradaGrid {
  display: flex;
  align-items: center;
  gap: 20px;
}

.entradaGrid .imgAvatar img {
  border: 2.4px solid #2927B9;
  border-radius: 50%;
  width: 120px;
  height: 100%;
}

.entradaGrid .infoBox .infoName {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 30px;
  color: #060127;
  margin: 0;
}

.entradaGrid .infoBox .infoName p {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 26px;
  display: flex;
  align-items: center;
  color: #060127;
  margin: 0;
}


@media (max-width: 767px) {
  .entradaGrid .infoBox .infoName {
    font-size: 22px;
  }

  .entradaGrid .imgAvatar img {
    width: 100px;
  }

  .entradaGrid .infoBox .infoName p {
    font-size: 16px;
  }
}

/****************NOTIFICACIONES******************/


.MP_notificaciones {
  background: #2927B9;
  color: #ffffff;
}



/****************DATOS PERSONALES******************/
.mp_title {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 28px;
  color: #2927B9;
  margin: 20px 0;
}

.insideTitle {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #060127;
  margin-bottom: 10px;
}

.insideValue {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  color: #060127;
}

.insideValue input {
  border: 0;
}

.changeEmail,
.changePassword {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  text-decoration-line: underline;
  color: #2927B9;
}


.outsidetName,
.outsideEmail,
.outsidePassword {
  padding: 30px 10px;
  height: 100%;
  border-bottom: 1px solid #CACACA;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.outsidetName {
  border-top: 1px solid #CACACA;
}

@media (max-width: 767px) {
  .insideTitle {
    font-size: 16px;
  }

  .changeEmail,
  .changePassword {
    font-size: 16px;
  }

  .insideValue {
    font-size: 16px;
  }

  .mp_title {
    font-size: 22px;
  }
}