/*SWIPER CARDS - TEMAS DESTACADOS*/
.card_dest_estilo {
  padding: 0 82px !important;
}

.card_dest_estilo .noticias .article .media_block .text_block .headline a h3 {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #FFFFFF;

}

.card_dest_estilo .noticias .article .media_block .text_block .article-section {
  display: none;
}

.card_dest_estilo .noticias .article .media_block .multimedia .multimediaIconMacroWrapper a div:after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  left: 0;
  right: 0;
  background-image: url('https://ecuavisadev.netlify.app/rd-estilo/assets/fondo-temas-destacados.png') !important;
  background: #3F3F4200;
  background-position: center 100%;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  opacity: .7;
}


/*Encuesta estilo*/

.form-check .form-check-input {
  float: none !important;
  margin-left: 0 !important;
}

.form-check {
  padding-left: 0 !important;
  display: grid !important;
}


.poll-form.form-check input[type="radio"]:checked+label {
  font-weight: bold;
  background: #ffffff42;
  display: block;
  padding: 10px;
}

.quiz-593 {
  color: #333;
  box-shadow: 0 5px 5px rgb(0 0 0 / 40%);
  border-radius: 3px;
}

.quiz-593 .teaser-viewer-title h1 {
  background-color: #0067D5;
  padding: 8px;
  color: white;
  font-weight: 100;
}

.question-poll h2 {
  font-weight: 700;
}

.POLL.template-poll {
  padding: 0px 15px 2rem 15px;
}

.poll-form.form-check input[type="radio"]:checked,
input[type="radio"] {
  visibility: hidden;
}

.poll-form.form-check span[data-choiceid] label {
  font-weight: bold;
  border: 1px solid #0d6efd;
  display: block;
  padding: 10px;
}


.results .choice .bg-bar .bar {
  background: #0d6efd;
  height: 24px;
}


.results .choice {
  font-weight: bold;
  border: 2px solid #0d6efd;
  display: block;
  padding: 10px;
  margin: 10px 0;
}


.encuesta_estilo .teaser-viewer-title h1 {
  margin-bottom: 0;
}


.encuesta_estilo .teaser-viewer-title h1 {
  background-color: #23dcd1 !important;
  padding: 25px !important;
  font-weight: 500 !important;
  color: #2835bb !important;
  text-align: center;
  font-size: 22px;
}


.encuesta_estilo .teaser-viewer-title span {
  font-weight: 800;
  font-size: 40px;
  font-family: 'Anek Malayalam';
}


.encuesta_estilo .question-poll h2 {
  font-weight: 600;
  font-size: 20px;
  color: white;
  text-align: center;
  padding-top: 1.2rem;
}


.encuesta_estilo .noticias {
  background-color: #060127 !important;
}


.encuesta_estilo .poll-form.form-check span[data-choiceid] label {
  border: 1px solid #23dcd1;
  border-radius: 5px;
}


.encuesta_estilo .poll-form.form-check span {
  color: #1fc0bb;
  font-weight: 100;
}


.cols-2 .iter-tabview-content-item {
  grid-template-columns: repeat(1, 1fr);
}