/*SWIPER CARDS - TEMAS DESTACADOS*/
.card_dest_estilo {
  padding: 0 82px !important;
}

.card_dest_estilo .noticias .article .media_block .text_block .headline a h3 {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #FFFFFF;

}

.card_dest_estilo .noticias .article .media_block .text_block .article-section {
  display: none;
}

.card_dest_estilo .noticias .article .media_block .multimedia .multimediaIconMacroWrapper a div:after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  left: 0;
  right: 0;
  background-image: url('https://ecuavisadev.netlify.app/rd-estilo/assets/fondo-temas-destacados.png') !important;
  background: #3F3F4200;
  background-position: center 100%;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  opacity: .7;
}