.section-items {
  display: flex;
  align-items: center;
  column-gap: 30px;
  background: #F5F5F5;
  padding: 15px;
  margin: 30px 0;
}

.section-items .siguiendo {
  background: #23DCD1;
}

.section-items .block_img img {
  border-radius: 50%;
  border: 3px solid #2927b9;
  width: 150px;
}

.section-items .bloc_chil h2 {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 28px;
  color: #060127;
  padding: 10px 0 0;
  margin-bottom: 0;
}

.section-items .bloc_chil h3 {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: #060127;
}

.section-items .bloc_chil button.seguir {
  font-family: 'Mattone';
  border: 2px solid #23dcd1;
  padding: 8px 20px;
  font-weight: 600;
  border-radius: 2px;
  text-transform: uppercase;
  cursor: pointer;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  color: #2927B9;
  width: 165px;
}

.section-items .bloc_chil button.seguir.loading,
.section-items .bloc_chil button.siguiendo.loading  {
  opacity: 0.4;
}

.section-items .bloc_chil button.siguiendo {
  font-family: 'Mattone';
  border: 2px solid #23dcd1;
  background: #23dcd1;
  padding: 8px 20px;
  font-weight: 600;
  border-radius: 2px;
  text-transform: uppercase;
  cursor: pointer;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  color: #2927B9;
  width: 165px;
}

.section-items .bloc_chil button.seguir svg,
.section-items .bloc_chil button.siguiendo svg {
  margin-left: 10px;
  vertical-align: unset;
}

@media(max-width: 600px) {
  .section-items .bloc_chil h2 {
    font-size: 22px;
  }

}