@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
  font-family: 'Archivo', sans-serif;
}

.bpw-widget-btn {
  background-color: #2927B9 !important;
}

.bpw-send-button {
  background: #23dcd1 !important;
  color: #2927B9;
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px;

}

.bpw-send-button[disabled] {
  background: initial !important;
}

.bpw-layout{
  box-shadow: 0px 0px 14px -7px;
}

.bpw-from-user .bpw-chat-bubble .bpw-chat-bubble-content{
  background-color: #2927B9 !important;
}

.bpw-chat-container {
  border: 0.5px solid #b6b6b6;
  border-radius: 8px;
  overflow: hidden;
}

.bpw-bot-avatar img {
  height: 30px;
  width: 30px;
}

.bpw-header-icon svg {
  height: 12px;
  width: 12px;
}

.bpw-composer textarea {
  font-size: 14px;
}

.bpw-send-button {
  margin-bottom: 0.5rem;
  font-family: 'Roboto';
}