.newsletter_rd {
  background: #2927B9;
}

.newsletter_rd .info-formulario {
  margin: 5rem 0;
  text-align: -webkit-center;
  background-repeat: no-repeat;
  background-position-x: 5rem;
}

.info-formulario .news-texto-rd h1 {
  font-family: 'Anek Malayalam';
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 24px;
  letter-spacing: -0.03em;
  color: #23dcd1;

}

.info-formulario .news-texto-rd h2 {
  font-size: 24px;
  color: #ffff;
  padding-left: 0;
  margin: 0;
  line-height: 45px;
  font-weight: 600;
  text-align: center;
}

.info-formulario .news-texto-rd p {

  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: #fff;
  opacity: 0.7;
  width: 350px;
  margin: 2rem 0;
}

.consulta_interes {
  margin: 7rem 5rem;
}

.consulta_interes h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  letter-spacing: -0.025em;
  color: #2927b9;
}

.consulta_interes .text_click {
  font-weight: 600;
  font-size: 11px;
  line-height: 12px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #2927b9;
  margin-top: 4rem;
}


