.newsletter_rd {
  background: #2927B9;
}

.newsletter_rd .newsContenido {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.newsletter_rd .newsContenido .news-texto-rd .esendpulse iframe {
  height: 260px;
}

.newsletter_rd .info-formulario {
  margin: 5rem 0;
  text-align: -webkit-center;
  background-repeat: no-repeat;
  background-position-x: 5rem;
}

.newsletter_rd .info-formulario .news-texto-rd h1 {
  font-family: 'Anek Malayalam';
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 24px;
  letter-spacing: -0.03em;
  color: #23dcd1;
}

.newsletter_rd .info-formulario .news-texto-rd h2 {
  font-size: 24px;
  color: #ffff;
  padding-left: 0;
  margin: 0;
  line-height: 45px;
  font-weight: 600;
  text-align: center;
}

.newsletter_rd .info-formulario .news-texto-rd p {
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: #fff;
  opacity: 0.7;
  width: 350px;
  margin-bottom: 1rem;
  margin-top: 0.3rem;
}