* {
    font-family: 'Archivo';
}

#container {
    height: 800px;
    max-width: 700px;
    margin: 0 auto;
}

.highcharts-mapview-inset-border{
    display: none;
}

.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}
.mapa_ec_2023{
    height: 820px;
    border: 1px solid;
}

@media (max-width: 680px) {
    #container {
        height: 700px;
    }
    .mapa_ec_2023{
        height: 720px;
    }
}

@media (max-width: 550px) {
    #container {
        height: 600px;
    }
    .mapa_ec_2023{
        height: 620px;
    }
}

@media (max-width: 450px) {
    #container {
        height: 480px;
    }
    .mapa_ec_2023{
        height: 520px;
    }
}

@media (max-width: 400px) {
    #container {
        height: 500px;
    }
    .mapa_ec_2023{
        height: 520px;
    }
}

@media (max-width: 350px) {
    #container {
        height: 450px;
    }
    .mapa_ec_2023{
        height: 466px;
    }
}