* {
    font-family: 'Archivo';
}

.porcentaje-item {
    margin-bottom: 10px;
    padding: 5px;
    color: white;
    font-weight: bold;
    text-align: center;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 44px;
  }

  /* Estilo de fondo para porcentajes mayores al 50% */
  .porcentaje-item.high {
    background-color: #0a6aa6;
  }

  /* Estilo de fondo para porcentajes menores o iguales al 50% */
  .porcentaje-item.low {
    background-color: #cd181c;
  }

  #dataPorcentaje {
    display: flex;
  }

  .itemsFoto img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
  }

  .itemsFoto:nth-child(1) img {
    margin-right: 10px;
  }

  .itemsFoto:nth-child(2) img {
    margin-left: 10px;
  }

  .block-text {
    display: flex;
    flex-direction: column;
  }

  .block-text .fotoName {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
  }

  #dataFotos {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  .itemsFoto:nth-child(1) {
    display: flex;
    flex-direction: initial;
    align-items: center;
  }

  .itemsFoto:nth-child(2) {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }


#container {
    height: 800px;
    max-width: 700px;
    margin: 0 auto;
}

.highcharts-mapview-inset-border{
    display: none;
}

.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}
.mapa_ec_2023{
    height: 820px;
    border: 1px solid;
}

@media (max-width: 680px) {
    #container {
        height: 700px;
    }
    .mapa_ec_2023{
        height: 720px;
    }
}

@media (max-width: 550px) {
    #container {
        height: 600px;
    }
    .mapa_ec_2023{
        height: 620px;
    }
}

@media (max-width: 450px) {
    #container {
        height: 480px;
    }
    .mapa_ec_2023{
        height: 520px;
    }
}

@media (max-width: 400px) {
    #container {
        height: 500px;
    }
    .mapa_ec_2023{
        height: 520px;
    }
}

@media (max-width: 350px) {
    #container {
        height: 450px;
    }
    .mapa_ec_2023{
        height: 466px;
    }
}