/*YOTRABAJOSOLO - ERI VERA (6 feb - Prohibido Olvidar)*/

/*Eliminar padding top*/
#iter-content-wrapper {
  padding-top: 0px !important;
}


/*Portada - Inicio*/

.notas-1-p-ap .noticias .article .text_block .section {
  font-family: 'Mattone 150';
  font-weight: 600;
  color: #2927b9;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 17px;
}

.notas-1-p-ap .noticias .article .media_block {
  position: relative;
  background: #060127;
}

.notas-1-p-ap .text_block.container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 4rem;
  width: 100%;
}


.notas-1-p-ap .noticias .article .media_block .multimedia img {
  -webkit-mask-image: linear-gradient(to top, transparent 0, #060127 60%);
}

.notas-1-p-ap .noticias .article .multimedia img {
  height: 582px !important;
  object-fit: cover;
}

.notas-1-p-ap .noticias .article .text {
  font-family: 'Archivo';
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 26px;
  max-width: 500px;
  color: #d5d5d5;
}

.notas-1-p-ap .noticias .article .text_block .section {
  font-family: 'Mattone 150';
  font-weight: 600;
  color: #23DCD1;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 17px;
}

.notas-1-p-ap .noticias .article .text_block .headline h1,
.notas-1-p-ap .noticias .article .text_block .headline h2 {
  font-family: 'Archivo';
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 33px;
    color: #FFFFFF;
    max-width: 800px;
    margin: 0;
    border-left: 7px solid #fff;
    padding-left: 15px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.notas-1-p-ap .noticias .article .text_block .subheadline .rd-h3 {
  font-family: 'Archivo';
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 26px;
  max-width: 500px;
  color: #d5d5d5;
}

@media (min-width: 1400px) {
  .notas-1-p-ap .noticias .article .multimedia img {
    height: 100% !important;
  }

  .notas-1-p-ap .noticias .article .media_block .multimedia img {
    height: 100% !important;
  }
}

@media (max-width: 768px) {

  .notas-1-p-ap .noticias .article .multimedia img {
   
    height: 323px !important;
  }

  .notas-1-p-ap .noticias .article .text_block {
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin-top: -2px;
    position: initial;
    padding-bottom: 1rem;
    padding-top: 1rem;
    background: #060127;
  }
}

@media (max-width: 767px) {

  .notas-1-p-ap .noticias .article .media_block .multimedia img {
    height: 370px !important;
  }

  .notas-1-p-ap .noticias .article .multimedia img {
    height: 370px !important;
  }
}

@media (max-width: 575px) {
  .notas-1-p-ap .noticias .article .multimedia img {
   
    height: 254px !important;
  }

  .notas-1-p-ap .noticias .article .text_block .headline h1,
  .notas-1-p-ap .noticias .article .text_block .headline h2 {
    font-size: 34px;
    line-height: 38px;
  }

  .notas-1-p-ap .noticias .article .media_block .multimedia img {
    height: 254px !important;
  }

}

/*Portada - Fin*/



/*Listado - inicio*/

.parent-listado {
  background: #2927B9;
  padding: 60px 0;
}

.titulo__sec {
  color: #FFFFFF;
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  margin-bottom: 20px;
}

/* .listado__especiales {
  margin-top: 3rem;
} */

#iter-footer-wrapper {
  margin-top: 0px;
}

/* .listado__especiales .noticias .article .swiper-slide-shadow {
  background: #464549;
  border-radius: 5px;
} */

.swiper.listado__especiales {
  width: 100% !important;
  padding: 0 40px;
}

/* .listado__especiales .noticias {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
} */

.listado__especiales .LIST_ESP_ECU {
  position: relative;
}

.listado__especiales .noticias .article {
  margin-bottom: 20px;
}

.listado__especiales .noticias .article .media_block .multimedia img {
  position: relative;
  /* height: 285px; */
  object-fit: cover;
  width: 100%;
  border-radius: 5.0022px;
  -webkit-mask-image: linear-gradient(to top, #00000029 0, #060127 60%);
}


.listado__especiales .noticias .article .media_block {
  background-color: #060127;
  border-radius: 8px 8px 5.0022px 5.0022px;
}

.listado__especiales .noticias .article .text_block {
  position: absolute;
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: end;
  bottom: 0;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
  z-index: 1;
}

.listado__especiales .noticias .article .text_block .headline {
  margin-top: 2px;
}

.listado__especiales .noticias .article .text_block .section {
  font-family: 'Mattone 150';
  font-weight: 600;
  color: #23DCD1;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 17px;
}

.listado__especiales .noticias .article .text_block .headline h3 {
  color: #FFFFFF;
  font-family: 'Anek Malayalam';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  display: block;
}

.swiper-cards.swiper-3d div[class="crop_134_100_L"]:after {
  background-image: url("https://estadisticas.ecuavisa.com/sites/gestor/Recursos/deslizar-a-la-izquierda.png");
  right: 10px;
  top: 20px;
}

.swiper-cards.swiper-3d div[class="crop_134_100_L"]:before {
  background-image: url("https://estadisticas.ecuavisa.com/sites/gestor/Recursos/deslizar-a-la-derecha.png");
  left: 10px;
  top: 20px;
}

.swiper-cards.swiper-3d div[class="crop_134_100_L"]:before,
.swiper-cards.swiper-3d div[class="crop_134_100_L"]:after {
  content: "";
  height: 42px;
  width: 42px;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  z-index: 9;
}


@media (max-width: 991px) {

  .swiper.listado__especiales {
    padding: 0 15px;
  }

  .listado__especiales .noticias .article .text_block .headline h3 {
    font-size: 14px;
    line-height: 18px;
  }
}

@media (max-width: 767px) {
  .swiper.listado__especiales{
    margin-bottom: 40px;
  }
}

@media (max-width: 575px) {
  .swiper.listado__especiales {
    padding: 0 60px;
  }
}