/*YOTRABAJOSOLO - ERI VERA (6 feb - Prohibido Olvidar)*/

/*Eliminar padding top*/
#iter-content-wrapper {
  padding-top: 0px !important;
}


/*Portada - Inicio*/

.notas-1-p-ap .noticias .article .text_block .section {
  font-family: 'Mattone 150';
  font-weight: 600;
  color: #2927b9;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 17px;
}

.notas-1-p-ap .noticias .article .media_block {
  position: relative;
  background: #060127;
}

.notas-1-p-ap .text_block.container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 4rem;
  width: 100%;
}


.notas-1-p-ap .noticias .article .media_block .multimedia img {
  -webkit-mask-image: linear-gradient(to top, transparent 0, #060127 60%);
}

.notas-1-p-ap .noticias .article .multimedia img {
  height: 582px !important;
  object-fit: cover;
}

.notas-1-p-ap .noticias .article .text {
  font-family: 'Archivo';
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 26px;
  max-width: 500px;
  color: #d5d5d5;
}

.notas-1-p-ap .noticias .article .text_block .section {
  font-family: 'Mattone 150';
  font-weight: 600;
  color: #23DCD1;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 17px;
}

.notas-1-p-ap .noticias .article .text_block .headline a h1,
.notas-1-p-ap .noticias .article .text_block .headline a h2 {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  line-height: 48px;
  color: #FFFFFF;
  padding-top: 15px;
  padding-bottom: 10px;
  max-width: 500px;
  margin: 0;
}

.notas-1-p-ap .noticias .article .text_block .subheadline .rd-h3 {
  font-family: 'Archivo';
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 26px;
  max-width: 500px;
  color: #d5d5d5;
}

@media (min-width: 1400px) {
  .notas-1-p-ap .noticias .article .multimedia img {
    height: 100% !important;
  }

  .notas-1-p-ap .noticias .article .media_block .multimedia img {
    height: 100% !important;
  }
}

@media (max-width: 768px) {

  .notas-1-p-ap .noticias .article .multimedia .multimediaIconMacroWrapper a div {
    border-bottom: none;
    height: 323px !important;
  }

  .notas-1-p-ap .noticias .article .text_block {
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin-top: -2px;
    position: initial;
    padding-bottom: 1rem;
    padding-top: 1rem;
    background: #060127;
  }
}

@media (max-width: 767px) {

  .notas-1-p-ap .noticias .article .media_block .multimedia a img {
    height: 370px !important;
  }

  .notas-1-p-ap .noticias .article .multimedia a div {
    height: 370px !important;
  }
}

@media (max-width: 575px) {
  .notas-1-p-ap .noticias .article .multimedia a div {
    border-bottom: none;
    height: 254px !important;
  }

  .notas-1-p-ap .noticias .article .text_block .headline a h1,
  .notas-1-p-ap .noticias .article .text_block .headline a h2 {
    font-size: 34px;
    line-height: 38px;
  }

  .notas-1-p-ap .noticias .article .media_block .multimedia a img {
    height: 254px !important;
  }

}

/*Portada - Fin*/



/*Listado - inicio*/

.listado__especiales {
  margin-top: 3rem;
}

/* .listado__especiales .noticias {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
} */

.listado__especiales .LIST_ESP_ECU {
  position: relative;
}

.listado__especiales .noticias .article{
  margin-bottom: 20px;
}

.listado__especiales .noticias .article .media_block .multimedia img {
  position: relative;
  height: 285px;
  object-fit: cover;
  width: 100%;
  border-radius: 5.0022px;
  -webkit-mask-image: linear-gradient(to top, #00000029 0, #060127 60%);
}


.listado__especiales .noticias .article .media_block {
  background-color: #060127;
  border-radius: 8px 8px 5.0022px 5.0022px;
}

.listado__especiales .noticias .article .text_block {
  position: absolute;
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: end;
  bottom: 0;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
  z-index: 1;
}

.listado__especiales .noticias .article .text_block .headline {
  margin-top: 2px;
}

.listado__especiales .noticias .article .text_block .section {
  font-family: 'Mattone 150';
  font-weight: 600;
  color: #23DCD1;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 17px;
}

.listado__especiales .noticias .article .text_block .headline h3 {
  color: #FFFFFF;
  font-family: 'Anek Malayalam';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  display: block;
}

@media (max-width: 991px) {
  .listado__especiales .noticias {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 767px) {
  .listado__especiales .noticias {
    grid-template-columns: 1fr 1fr;
  }

}

@media (max-width: 575px) {
  .listado__especiales .noticias {
    grid-template-columns: none;
  }

  .listado__especiales .noticias .article .media_block .multimedia img {
    height: 385px;
  }
}