 :root {
   --animate-duration: 2s;
   --animate-delay: 1s;
   --animate-repeat: 1
 }

 @-webkit-keyframes fadeIn {
   0% {
     opacity: 0
   }

   to {
     opacity: 1
   }
 }

 @keyframes fadeIn {
   0% {
     opacity: 0
   }

   to {
     opacity: 1
   }
 }

 /*Inicio FONT Mattone 150*/
 @font-face {
   font-family: 'Mattone 150';
   src: url("../fonts/Mattone-150.woff2") format("woff2"),
     url("../fonts/Mattone-150.woff") format("woff");
   font-weight: normal;
   font-style: normal;
   font-display: swap;
 }

 /*Fin FONT Mattone 150*/
 body {
   background: #060127;
   -webkit-animation-name: fadeIn;
   animation-name: fadeIn;
   -webkit-animation-duration: 1s;
   animation-duration: 1s;
   -webkit-animation-duration: var(--animate-duration);
   animation-duration: var(--animate-duration);
   -webkit-animation-fill-mode: both;
   animation-fill-mode: both
 }

 .div__hide {
   display: none !important;
 }

 .mediaBlock__ .senal_active img {
   animation-name: parpadeo;
   animation-duration: 1s;
   animation-timing-function: linear;
   animation-iteration-count: infinite;
   -webkit-animation-name: parpadeo;
   -webkit-animation-duration: 1s;
   -webkit-animation-timing-function: linear;
   -webkit-animation-iteration-count: infinite;
   width: 2rem;
 }

 @-moz-keyframes parpadeo {
   0% {
     opacity: 1.0;
   }

   50% {
     opacity: 0.0;
   }

   100% {
     opacity: 1.0;
   }
 }

 @-webkit-keyframes parpadeo {
   0% {
     opacity: 1.0;
   }

   50% {
     opacity: 0.0;
   }

   100% {
     opacity: 1.0;
   }
 }

 @keyframes parpadeo {
   0% {
     opacity: 1.0;
   }

   50% {
     opacity: 0.0;
   }

   100% {
     opacity: 1.0;
   }
 }

 #programlist2 {
   align-items: center;
 }

 #programlist2 .programaItem.activo {
   background: #2927B9;
 }

 #tab-contents {
   margin-top: 2rem;
   margin-bottom: 2rem;
 }

 #programlist2 .programaItem {
   background: #2927b95c;
   border-radius: 2px;
   padding: 15px 33px;
   height: 85px;
   display: flex;
   flex-direction: column;
   justify-content: center;
 }

 #programlist2 .programaItem p {
   font-weight: 600;
   font-size: 16px;
   text-align: start;
   line-height: 20px;
   font-family: 'Anek Malayalam', sans-serif;
 }

 #programlist2 .programaItem p:nth-child(1) {
   color: #23DCD1;

 }

 #programlist2 .programaItem p:nth-child(2) {
   color: white;
 }

 #programlist2 .programaItem[data-name*='Televistazo Comunidad Guayaquil Rr'] {
   width: 30%;
 }


 .mediaBlock__ {
   position: relative;
 }

 .mediaBlock__ .multimedia {
   position: relative;
   display: none;
 }

 .mediaBlock__ .senal_active {
   color: white;
   padding-top: 00px;
   padding-bottom: 40px;
   text-transform: uppercase;
   font-weight: 600;
   display: flex;
   align-items: center;
   justify-content: flex-end;
   gap: 5px;
   font-size: 13px;
   font-family: 'Mattone 150';
 }

 .mediaBlock__ .senal_active span {
   margin-top: 4px;
 }

 .mediaBlock__ .multimedia img {
   width: 100%;
   height: 555px;
   object-fit: cover;
   object-position: top;
 }

 .mediaBlock__ .multimedia:after {
   position: absolute;
   width: 100%;
   height: 100%;
   content: "";
   left: 0;
   right: 0;
   background-image: url('https://redyman.netlify.app/header2022/img/img-fondo.png') !important;
   background: #3F3F4200;
   background-position: center 100%;
   background-repeat: no-repeat;
   background-size: cover;
   top: 0;
   opacity: .9;
 }

 .mediaBlock__ .t_prog {
   /* position: absolute; */
   bottom: 0;
   left: 0;
   right: 0;
   bottom: 15px;
 }

 .mediaBlock__ .icon_player_prog.mobile_player {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   display: none;
   z-index: 9;
 }

 .mediaBlock__ .icon_player_prog.mobile_player img {
   width: 60px;
 }

 .mediaBlock__ .t_prog .icon_player_prog img {
   width: 42px;
   margin-bottom: 18px;
 }

 .mediaBlock__ .t_prog .nameP {
   margin: 0;
   color: white;
   font-size: 42px;
   font-style: normal;
   font-weight: 700;
   line-height: 48px;
   font-family: 'Archivo';
 }

 .mediaBlock__ .t_prog .nameH {
   margin: 0;
   color: #23DCD1;
   font-family: 'Anek Malayalam';
   font-style: normal;
   font-weight: 600;
   font-size: 22px;
   line-height: 32px;
 }

 .mediaBlock__ #rd_cont_botones {
   margin-top: 20px;
   display: flex;
   align-items: center;
 }

 .mediaBlock__ #rd_cont_botones a {
   background: transparent;
   color: aliceblue;
   border-radius: 2px;
   padding: 18px 20px;
   text-align: center;
   text-transform: uppercase;
   font-family: 'Mattone 150';
   font-style: normal;
   font-weight: 600;
   font-size: 11px;
   line-height: 12px;
   border: 1px solid #23DCD1;
   transition: .2s ease;
 }

 .mediaBlock__ #rd_cont_botones a:nth-child(1) {
   margin-right: 15px;
 }

 .mediaBlock__ #rd_cont_botones a:hover {
   background: #23DCD1
 }


 .container_ {
   width: 100%;
   padding-right: var(--bs-gutter-x, .75rem);
   padding-left: var(--bs-gutter-x, .75rem);
   margin-right: auto;
   margin-left: auto;
 }


 @media (max-width: 575px) {
   .mediaBlock__ .icon_player_prog.mobile_player {
     display: block;
   }

   .mediaBlock__ .t_prog .nameP {
     font-size: 34px;
     line-height: 38px;
   }

   .mediaBlock__ .senal_active {
     padding-bottom: 20px;
   }

   /* .mediaBlock__ .t_prog .icon_player_prog.desktop_player {
     display: none;
   } */
 }

 @media (min-width:576px) {

   .container_ {
     max-width: 540px;
   }

   #programlist2 .programaItem {
    
    height: 85px;
    
}
 }

 @media (min-width:768px) {

   .container_ {
     max-width: 720px;
   }
 }

 @media (min-width:992px) {

   .container_ {
     max-width: 960px;
   }
 }

 @media (min-width:1200px) {

   .container_ {
     max-width: 1140px;
   }
 }

 @media (min-width:1400px) {

   .container_ {
     max-width: 1320px;
   }
 }