/*general*/

.htmlRecomen {
  margin-top: 50px;
}


.htmlRecomen .ring, 
.htmlRecomenIntereses .ring {
  --uib-size: 40px;
  --uib-speed: 2s;
  --uib-color: black;
  height: var(--uib-size);
  width: var(--uib-size);
  vertical-align: middle;
  transform-origin: center;
  animation: rotate var(--uib-speed) linear infinite;
  display: block;
  margin: auto;
  margin-top: 30px;
}

.RecomendadasIntereses_{
  display: none;
}

.RecomendadasNavegacion_{
  display: none;
}

.htmlRecomen .ring circle, 
.htmlRecomenIntereses .ring circle{
  fill: none;
  stroke: var(--uib-color);
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: stretch calc(var(--uib-speed) * 0.75) ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes stretch {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dashoffset: -124px;
  }
}




/* INICIO TÍTULO */
.text_recomendadas h2,
.text_recomendadas_intereses h2 {
  /* display: inline-block;
  color: #2927b9 !important;
  font-family: 'Anek Malayalam';
  letter-spacing: -0.03em;
  font-style: normal;
  font-weight: 600;
  font-size: 88px;
  line-height: 96px;
  margin-top: 0px;
  margin-top: 30px;
  text-transform: lowercase; */
    color: #060127 !important;
    margin: 0;
    font-weight: 700;
    font-family: 'Archivo';
    font-style: normal;
    font-size: 40px;
    margin-top: 1rem;
    line-height: 45px;
    text-transform: uppercase;
}

@media (max-width: 767px) {
  .text_recomendadas h2,
  .text_recomendadas_intereses h2 {
    font-size: 24px;
    line-height: 24px;
  }
}

/* FIN TITULO */


/* INICIO - ESTILO GRID */
.parent_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
}

.parent_grid article {
  border-top: 1px solid #2927b9;
  padding: 30px 0;
}

.parent_grid article .media_block {
  grid-gap: 20px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin: 1rem 0;
  padding-top: 10px;
}

.parent_grid article .multimediaRec img {
  width: 100%;
  height: 135px;
  object-fit: cover;
}

.parent_grid article .media_block .sectionRec {
  color: #2927b9;
  font-family: "Mattone 150";
  font-weight: 500;
  margin-bottom: 0.5rem;
  display: block;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 600;
}

.parent_grid article .media_block .headlineRec {
  padding-top: 10px;
}

.parent_grid article .media_block .headlineRec a {
  font-family: "Archivo", sans-serif;
  color: #000;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  /* padding-right: 30px; */
  line-height: 28px;
}

@media (max-width: 991px) {
  .parent_grid article .media_block {
    grid-template-columns: 2fr 1fr;
  }
}

@media (max-width: 767px) {
  .parent_grid {
    display: block;
  }
}



/* FIN - ESTILO GRID */


/* INICIO - ESTILO FEATURED */
.parent_featured {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 0px;
  height: 100%;
  column-gap: 30px;
}

.parent_featured .element-rec-2,
.parent_featured .element-rec-3,
.parent_featured .element-rec-4 {
  border-top: 1px solid #2927b9;
}

.parent_featured article .media_block .sectionRec {
  color: #2927b9;
  font-family: "Mattone 150";
  font-weight: 500;
  margin-bottom: 0.5rem;
  display: block;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 600;
}

.parent_featured article .headlineRec a {
  font-family: "Archivo", sans-serif;
  color: #000;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  /* padding-right: 30px; */
  line-height: 28px;
  text-decoration: none;
}

.parent_featured article .headlineRec {
  max-width: 350px;
  padding-top: 10px;
}

.parent_featured article.element-rec-1 .headlineRec {
  max-width: 100%;
  padding-bottom: 10px;
}

.parent_featured article.element-rec-1 .textBlock {
  margin-top: 2rem;
}

.parent_featured article.element-rec-1 .text-wrapper {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  color: #434343;
  margin-bottom: 20px;
}

.parent_featured .element-rec-1 .multimediaRec img {
  width: 100%;
  height: 330px;
  object-fit: cover;
}

.parent_featured .element-rec-2 .multimediaRec img,
.parent_featured .element-rec-3 .multimediaRec img,
.parent_featured .element-rec-4 .multimediaRec img {
  width: 100%;
  height: 135px;
  object-fit: cover;
}

.parent_featured .element-rec-2 .media_block .text-wrapper,
.parent_featured .element-rec-3 .media_block .text-wrapper,
.parent_featured .element-rec-4 .media_block .text-wrapper {
  display: none;
}

.parent_featured .element-rec-2 .media_block,
.parent_featured .element-rec-3 .media_block,
.parent_featured .element-rec-4 .media_block {
  grid-gap: 0 20px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin: 1rem 0;
  padding-top: 25px;
}

.parent_featured .element-rec-1 .media_block {
  display: flex;
  flex-direction: column-reverse;
}

.parent_featured .element-rec-1 {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 4;
  grid-column-end: 2;
}

.parent_featured .element-rec-2 {
  grid-row-start: 1;
  grid-column-start: 2;
  grid-row-end: 2;
  grid-column-end: 3;
}

.parent_featured .element-rec-3 {
  grid-row-start: 2;
  grid-column-start: 2;
  grid-row-end: 3;
  grid-column-end: 3;
}

.parent_featured .element-rec-4 {
  grid-row-start: 3;
  grid-column-start: 2;
  grid-row-end: 4;
  grid-column-end: 3;
}

@media (max-width: 1399px) {

  .parent_featured .element-rec-2 .media_block,
  .parent_featured .element-rec-3 .media_block,
  .parent_featured .element-rec-4 .media_block {
    margin-top: 1rem;
  }
}


@media (min-width: 1024px) and (max-width: 1024px) {

  .parent_featured .element-rec-2 .headlineRec a,
  .parent_featured .element-rec-3 .headlineRec a,
  .parent_featured .element-rec-4 .headlineRec a {
    font-size: 20px;
    line-height: 1.2;
  }

  .parent_featured .element-rec-2 .multimediaRec,
  .parent_featured .element-rec-3 .multimediaRec,
  .parent_featured .element-rec-4 .multimediaRec {
    position: initial !important;
    width: 160px !important;
  }

  .text_recomendadas h2,
  .text_recomendadas_intereses h2 {
    font-size: 70px;
  }
}

@media (min-width: 990px) and (max-width: 1190px) {

  .parent_featured .element-rec-2 .media_block,
  .parent_featured .element-rec-3 .media_block,
  .parent_featured .element-rec-4 .media_block {
    grid-gap: 10px;
    padding-top: 10px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .text_recomendadas h2,
  .text_recomendadas_intereses h2 {
    font-size: 55px;
    line-height: 60px;
  }

  .parent_featured {
    grid-template-rows: 1fr;
  }

  .parent_featured .element-rec-2 .media_block,
  .parent_featured .element-rec-3 .media_block,
  .parent_featured .element-rec-4 .media_block {
    grid-gap: 10px 20px;
    padding-top: 10px;
    align-items: center;
  }

  .parent_featured .element-rec-2 .headlineRec a,
  .parent_featured .element-rec-3 .headlineRec a,
  .parent_featured .element-rec-4 .headlineRec a {
    font-size: 0.8rem;
    line-height: 20px;
  }

  .parent_featured .element-rec-2 .multimediaRec,
  .parent_featured .element-rec-3 .multimediaRec,
  .parent_featured .element-rec-4 .multimediaRec {
    width: 130px !important;
  }

  .parent_featured .element-rec-2 .multimediaRec img,
  .parent_featured .element-rec-3 .multimediaRec img,
  .parent_featured .element-rec-4 .multimediaRec img {
    height: 105px !important;
  }
}


@media (max-width: 767px) {
  .parent_featured {
    display: flex;
    flex-direction: column;
    gap: 0px;
    height: 100%;
    column-gap: 30px;
  }

  .parent_featured .element-rec-1 .headlineRec a {
    font-size: 22px;
    line-height: 28px;
  }

  .parent_featured article .headlineRec a {
    font-size: 20px;
    line-height: 20px;
    font-family: 'Archivo', sans-serif;
  }

  .parent_featured .element-rec-2 .headlineRec,
  .parent_featured .element-rec-3 .headlineRec,
  .parent_featured .element-rec-4 .headlineRec {
    line-height: 1;
  }

  .parent_featured .element-rec-2 .media_block,
  .parent_featured .element-rec-3 .media_block,
  .parent_featured .element-rec-4 .media_block {
    align-items: center;
    grid-gap: 20px;
  }

  .parent_featured .element-rec-2 .media_block .multimediaRec,
  .parent_featured .element-rec-3 .media_block .multimediaRec,
  .parent_featured .element-rec-4 .media_block .multimediaRec {
    width: 130px !important;
  }

  .parent_featured .element-rec-2 .multimediaRec img,
  .parent_featured .element-rec-3 .multimediaRec img,
  .parent_featured .element-rec-4 .multimediaRec img {
    width: 100% !important;
    max-height: 100% !important;
    max-width: 100% !important;
    position: relative !important;
    height: 120px !important;
    object-fit: cover;
  }
}

/* FIN - ESTILO FEATURED */


/* INICIO - ESTILO SWIPER */

.parent_swiper {
  padding-bottom: 50px;
}

.parent_swiper article .media_block {
  position: relative;
}

.parent_swiper article .media_block .textBlock {
/*  position: absolute;*/
  bottom: 0;
  padding: 19px 0;
  width: 100%;
  min-height: 75px;
}

.parent_swiper article .media_block .multimediaRec {
  background-image: linear-gradient(180deg, rgba(6, 2, 34, 0) 0%, rgba(6, 2, 34, 0.9) 0%);
  border-radius: 6px;
}

.parent_swiper article .media_block .multimediaRec a img {
  border-radius: 6px;
  width: 100%;
  height: 335px;
  object-fit: cover;
/*  -webkit-mask-image: linear-gradient(to top, transparent 0, rgba(6, 2, 34, 0.9) 40%);*/
}

.parent_swiper article .media_block .sectionRec {
  color: #2927B9;
  font-family: "Mattone 150";
  font-weight: 500;
  margin-bottom: 0.5rem;
  display: block;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 600;
}

.parent_swiper article .media_block .headlineRec a {
  text-decoration: none;
  font-family: "Archivo", sans-serif;
  color: #000;
  font-size: 16px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  margin-top: 5px;
}



.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  background: #2927B9!important;
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
}

/* @media (max-width: 767px) {
  .swiper-backface-hidden{
    padding-right: 1rem;
    padding-left: 1rem;
  }
} */

/* FIN - ESTILO SWIPER */