@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,300;0,500;0,600;1,100;1,200;1,400;1,500;1,600;1,900&display=swap');

* {
  font-family: 'Archivo', sans-serif;
}

#acceder[disabled],
#registrar[disabled],
#forgetButton[disabled] {
  opacity: .4;
  cursor: not-allowed;
}

#iter-content-wrapper {
  padding-top: 0px;
}

#iter-footer-wrapper {
  margin-top: 0px;
}

#forgetEmail {
  position: relative;
  width: 100%;
  padding: 10px;
  background: #f5f5f5;
  color: #333;
  border: none;
  outline: none;
  box-shadow: none;
  margin: 8px 0;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 300;
}

.alert-danger,
.alert-success,
.forgetPassword {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  /*text-decoration-line: underline;*/
}

.forgetPassword a {
  color: #2927B9 !important;
}

.forgetPassword .btn.btn-link {
  text-decoration: none;
  color: #2927B9;
  padding: 0;
}

.modal-title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  font-size: 23.027px;
  line-height: 28px;
  color: #2927B9;
}

.modal-footer {
  border-top: 1px solid transparent !important;
  padding: 1rem 0 0.75rem 0 !important;
}

.modal-footer #forgetButton {
  /*background-color: #2927b9 !important;
  border: 1px solid #2927b9 !important;
  border-radius: 2px;
  font-size: 12px;*/
  display: flex;
  flex-direction: column;
  background-color: transparent !important;
  border-color: transparent !important;
  font-family: 'Mattone 150';
  font-style: normal;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 17px;
  color: #2927b9;
}

.section-lr {
  position: relative;
  min-height: 100vh;
  /* background-color: #2927B9; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-direction: column;
}

/* .section-lr .logo-ecuavisa-lr img {
  width: 100px;
  margin-bottom: 3rem;
} */

.section-lr .container-lr {
  position: relative;
  width: 800px;
  /*height: 500px;*/
  height: 695px;
  background: transparent;
  /* box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1); */
  overflow: hidden;
}


.section-lr .container-lr .user {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

.section-lr .container-lr .user .imgBx {
  position: relative;
  width: 50%;
  height: 100%;
  background: #ff0;
  transition: 0.5s;
}

.section-lr .container-lr .user .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-lr .container-lr .user .formBx {
  position: relative;
  width: 100%;
  /* width: 50%; */
  height: 100%;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  transition: 0.5s;
}

/* .section-lr .container-lr .user .formBx .box-input {
  display: inline-grid;
  justify-items: center;
} */
.section-lr .container-lr .user .formBx .box-input {
  display: flex;
  justify-items: right;
  flex-direction: column;
  align-items: flex-end;
}

.section-lr .container-lr .user .formBx form .boton-redes-lr {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

/* .section-lr .container-lr .user .formBx form .boton-redes-lr .br-facebook .facebook {
  background: #2374f2;
  padding: 10px;
  border-radius: 4px;
} */
.section-lr .container-lr .user .formBx form .boton-redes-lr .br-facebook .facebook {
  background: #fff;
  border-radius: 8px;
  border: 1px solid #BFC4CD;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 35px;
  gap: 10px;
}

/* 
.section-lr .container-lr .user .formBx form .boton-redes-lr .br-google {
  display: inline-block;
  margin-right: 10px;
} */
.section-lr .container-lr .user .formBx form .boton-redes-lr .br-google {
  background: #fff;
  border-radius: 8px;
  border: 1px solid #BFC4CD;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14px 35px;
  gap: 10px;
}

/* .section-lr .container-lr .user .formBx form h2 {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
  color: #555;
} */
.section-lr .container-lr .user .formBx form h2 {
  width: 100%;
  margin-bottom: 10px;
  font-family: 'Anek Malayalam';
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 24px;
  letter-spacing: -0.03em;
  text-transform: lowercase;
  color: #2927B9;
  padding: 1rem 0;
}

/* .section-lr .container-lr .user .formBx form input {
  position: relative;
  width: 100%;
  padding: 10px;
  background: #f5f5f5;
  color: #333;
  border: none;
  outline: none;
  box-shadow: none;
  margin: 8px 0;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 300;
} */
.section-lr .container-lr .user .formBx form input {
  position: relative;
  /* background: #2927b9; */
  color: #ffff;
  outline: none;
  margin: 15px 0;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 300;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 11px 18px;
  gap: 10px;
  width: 377px;
  height: 48px;
  border: 1px solid #CACACA;
}

input#acceder {
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

input#registrar {
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

::placeholder {
  color: white;
}

/* .section-lr .container-lr .user .formBx form input[type='submit'] {
  max-width: 100px;
  background: transparent;
  color: #333;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: 0.5s;
  font-family: 'Mattone 150';
  padding-bottom: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
} */
.section-lr .container-lr .user .formBx form input[type='submit'] {
  max-width: 100px;
  background: #2927B9;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: 0.5s;
  font-family: 'Mattone 150';
  padding-bottom: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  justify-content: flex-end;
  border-color: transparent;
}


.section-lr .container-lr .signinBx .formBx form .box-input img {
  width: 75px;
}

.section-lr .container-lr .signupBx .formBx form .box-input img {
  width: 85px;
  width: 90px;
}

/* .section-lr .container-lr .user .formBx form .signup {
  position: relative;
  margin-top: 20px;
  font-size: 12px;
  letter-spacing: 1px;
  color: #555;
  text-transform: uppercase;
  font-weight: 300;
} */
.section-lr .container-lr .user .formBx form .signup {
  position: relative;
  margin-top: 20px;
  letter-spacing: 1px;
  color: #fff;
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  left: calc(50% - 315px/2 + 22px);
}

/* 
.section-lr .container-lr .user .formBx form .signup a {
  font-weight: 600;
  text-decoration: none;
  color: #2927B9;
} */
.section-lr .container-lr .user .formBx form .signup a {
  color: #fff;
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-decoration-line: underline;
}

.section-lr .container-lr .signupBx {
  pointer-events: none;
}

.section-lr .container-lr.active .signupBx {
  pointer-events: initial;
}

.section-lr .container-lr .signupBx .formBx {
  left: 100%;
}

.section-lr .container-lr.active .signupBx .formBx {
  left: 0;
}

.section-lr .container-lr .signupBx .imgBx {
  left: -100%;
}

.section-lr .container-lr.active .signupBx .imgBx {
  left: 0%;
}

.section-lr .container-lr .signinBx .formBx {
  left: 0%;
}

.section-lr .container-lr.active .signinBx .formBx {
  left: 100%;
}

.section-lr .container-lr .signinBx .imgBx {
  left: 0%;
}

.section-lr .container-lr.active .signinBx .imgBx {
  left: -100%;
}

/* .auth-method-separator {
  font-size: 16px;
  font-weight: 400;
  margin: 1em auto;
  position: relative;
  text-align: center;
} */
.auth-method-separator {
  margin: 1em auto;
  position: relative;
  text-align: center;
  color: #2927B9;
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
}

.auth-method-separator:before {
  left: 0;
}

.auth-method-separator:after {
  right: 0;
}

.auth-method-separator:after,
.auth-method-separator:before {
  border-top: 1px solid #2927B9;
  content: " ";
  display: inline-block;
  position: absolute;
  top: .7em;
  width: 25%;
}

/* 
.auth-method-separator:after,
.auth-method-separator:before {
  border-top: 1px solid #fff;
  content: " ";
  display: inline-block;
  position: absolute;
  top: .7em;
  width: 43%;
} */




/* 👉 CREATE PASSWORD */

.section-lr .container-lr .user .formBx.createPass {
  width: 100%;
}

.section-lr .container-lr .user.createPass {
  display: block;
}

.section-lr .container-lr.createPass {
  width: 500px;
}

form i {
  margin-left: -30px;
  cursor: pointer;
  position: relative;
}

.buttons button {
  background-color: #2927b9 !important;
  border: 1px solid #2927b9 !important;
  border-radius: 2px;
  font-family: 'Mattone 150';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  padding: 10px 25px;
  color: #fff;
}


/* 👉 MODAL PASSWORD */

.modal-header {
  background: #23DCD1;
  padding: 1.5rem;
}

.modal-content {
  border: none !important;
}

.modal-body {
  padding: 2.5rem 1.5rem 0 !important;
}

.modal-body label {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 300;
  font-size: 20.4685px;
  line-height: 33px;
}

#forgetEmail {
  font-family: 'Archivo';
  font-style: normal;
  font-size: 20.4685px !important;
  line-height: 33px;
  background: transparent !important;
  border: 1px solid #CACACA !important;
  border-radius: 3px;
}

.btn {
  line-height: 1 !important;
}

.btn-primary:hover {
  color: #2927b9;
  background-color: transparent !important;
  border-color: transparent !important;
}

.modal-footer button:after {
  content: url('https://estadisticas.ecuavisa.com/sites/gestor/Banner/Vector-login.svg');
}

.btn-close {
  background: url('https://estadisticas.ecuavisa.com/sites/gestor/Banner/close-fill.svg') center/1em auto no-repeat !important;
  border: 0;
  background-size: 45px !important;
  opacity: 1 !important;
}

.btn-check:focus+.btn-primary,
.btn-primary:focus {
  box-shadow: 0 0 0 0.25rem rgb(49 132 253 / 0%);
}

.btn-close:focus {
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 0%);
}

/* FIN MODAL PASSWORD */


/* 👉 REGISTRO */

.section-lr .container-lr .user .formBx form input {
  color: #ffff !important;
}

.section-lr input label {
  line-height: 7px;
}

.section-lr .container-lr .user .formBx form .signup.registro {
  margin-top: 55px;
}

/* FIN REGISTRO */


.inicio-registro {
  /* background-color: #2927B9; */
}

.inicio-registro .logo-ecuavisa-lr {
  width: 100%;
  text-align: center;
  padding: 30px 0;
}

.inicio-registro .logo-ecuavisa-lr img {
  width: 95px;
}

.inicio-registro .section-lr {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.inicio-registro .section-lr {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

/* .inicio-registro .section-lr::before {
  content: url('https://estadisticas.ecuavisa.com/sites/gestor/Banner/Vector-loginwhite.svg');
  position: absolute;
  z-index: 5;
  left: 21%;
  top: 52%;
  transform: translate(-50%,-50%);
} */

.inicio-registro label {
  line-height: 7px;
  margin: 0px 0 20px -5px !important;
}






@media (min-width: 576px) {
  .modal-dialog {
    max-width: 425px !important;
  }
}


@media (max-width: 991px) {
  .section-lr .container-lr {
    max-width: 390px;
  }

  .section-lr .container-lr .imgBx {
    display: none;
  }

  .section-lr .container-lr .user .formBx {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .section-lr .container-lr .signinBx .formBx {
    left: 0;
  }

  .section-lr .container-lr.active .signupBx .formBx {
    left: 0%;
  }
}

@media (max-width: 600px) {

  /*mobile login*/
  .inicio-registro .logo-ecuavisa-lr {
    top: 5%;
    position: absolute;
  }

  .section-lr .container-lr .user .formBx form h2 {
    font-size: 50px;
    line-height: 48px;
  }

  .section-lr .container-lr .user .formBx form input {
    width: 280px;
    height: 48px;
  }

  .inicio-registro .section-lr::before {
    /*left: 10%;
  top: 52%;*/
    left: 7%;
    top: 45%;
  }

  .auth-method-separator:after,
  .auth-method-separator:before {
    width: 20%;
  }

  .section-lr .container-lr .user .formBx form h2 {
    font-size: 50px;
    margin-top: 15px;
    letter-spacing: .3px;
    padding: 1rem 0;
  }

  .section-lr .container-lr .signinBx .formBx {
    margin: 0 10px;
    padding-top: 1rem;
  }

  .section-lr .container-lr.active .signupBx .formBx {
    margin: 0 10px;
  }

  .section-lr .container-lr .user .formBx form .signup {
    left: 0;
    font-size: 14px;
  }

  .section-lr .container-lr .user .formBx form .signup.registro {
    margin-top: 0px;
  }

  .modal-body label,
  #forgetEmail {
    font-size: 16.4685px !important;
  }

  .section-lr .container-lr {
    height: 600px;
  }

  .inicio-registro label {
    font-size: 15px;
  }

}


@media (max-width: 375px) {
  .section-lr .container-lr {
    max-width: 300px;
  }

  .inicio-registro .logo-ecuavisa-lr {
    padding: 5px 0;
  }

  .section-lr .container-lr .user .formBx form .signup.registro {
    margin-top: 10px;
  }

  .section-lr .container-lr .user .formBx form h2 {
    font-size: 48px;
  }

  /*
.inicio-registro .section-lr::before {
  left: 10%;
  top: 50%;
}*/
}

.box-input input {
  margin: 0px !important;
}






/*new design login*/

.user.signinBx .formBx form .label__email {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: #060127;
}

.user.signinBx .formBx form .forgetPassword label {
  color: #2927B9
}

/* .forgetPassword a */

.user.signinBx .formBx form .forgetPassword.__olvid label #checkTerms {
  display: none;
}


.title__central {
  text-align: center;
}