@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,300;0,500;0,600;1,100;1,200;1,400;1,500;1,600;1,900&display=swap');

* {
  font-family: 'Archivo', sans-serif;
}



#iter-content-wrapper {
  padding-top: 0px;
}

#iter-footer-wrapper {
  margin-top: 0px;
}

.section-lr {
  position: relative;
  min-height: 100vh;
  background-color: #2927B9;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-direction: column;
}

.section-lr .logo-ecuavisa-lr img {
  width: 150px;
  margin-bottom: 22px;
}

.section-lr .container-lr {
  position: relative;
  width: 800px;
  height: 500px;
  background: #fff;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.section-lr .container-lr .user {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

.section-lr .container-lr .user .imgBx {
  position: relative;
  width: 50%;
  height: 100%;
  background: #ff0;
  transition: 0.5s;
}

.section-lr .container-lr .user .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-lr .container-lr .user .formBx {
  position: relative;
  width: 50%;
  height: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  transition: 0.5s;
}

.section-lr .container-lr .user .formBx .box-input {
  display: inline-grid;
  justify-items: center;
}

.section-lr .container-lr .user .formBx form .boton-redes-lr{
  width: 218px;
}

.section-lr .container-lr .user .formBx form h2 {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
  color: #555;
}

.section-lr .container-lr .user .formBx form input {
  position: relative;
  width: 100%;
  padding: 10px;
  background: #f5f5f5;
  color: #333;
  border: none;
  outline: none;
  box-shadow: none;
  margin: 8px 0;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 300;
}

.section-lr .container-lr .user .formBx form input[type='submit'] {
  max-width: 100px;
  background: transparent;
  color: #333;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: 0.5s;
  font-family: 'Mattone 150';
  padding-bottom: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}


.section-lr .container-lr .signinBx .formBx form .box-input img {
  width: 75px;
}

.section-lr .container-lr .signupBx .formBx form .box-input img {
  width: 85px;
}

.section-lr .container-lr .user .formBx form .signup {
  position: relative;
  margin-top: 20px;
  font-size: 12px;
  letter-spacing: 1px;
  color: #555;
  text-transform: uppercase;
  font-weight: 300;
}

.section-lr .container-lr .user .formBx form .signup a {
  font-weight: 600;
  text-decoration: none;
  color: #2927B9;
}

.section-lr .container-lr .signupBx {
  pointer-events: none;
}

.section-lr .container-lr.active .signupBx {
  pointer-events: initial;
}

.section-lr .container-lr .signupBx .formBx {
  left: 100%;
}

.section-lr .container-lr.active .signupBx .formBx {
  left: 0;
}

.section-lr .container-lr .signupBx .imgBx {
  left: -100%;
}

.section-lr .container-lr.active .signupBx .imgBx {
  left: 0%;
}

.section-lr .container-lr .signinBx .formBx {
  left: 0%;
}

.section-lr .container-lr.active .signinBx .formBx {
  left: 100%;
}

.section-lr .container-lr .signinBx .imgBx {
  left: 0%;
}

.section-lr .container-lr.active .signinBx .imgBx {
  left: -100%;
}

@media (max-width: 991px) {
  .section-lr .container-lr {
    max-width: 400px;
  }

  .section-lr .container-lr .imgBx {
    display: none;
  }

  .section-lr .container-lr .user .formBx {
    width: 100%;
  }
}