/* MENU */
body,
html {
  font-family: "Archivo", sans-serif;
  scroll-behavior: smooth;
  font-size: 20px;
  line-height: 23px;
}

.clicIniciarVideo {
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  text-align: right;
  display: inline-block;
  background: #D24428;
  padding: 5px 20px;
  font-style: italic;
  position: absolute;
  right: 60px;
}

.diagramaDesk{
  height: auto;
  width: 100%;
}

.cargandoVideos {
  text-align: center;
  padding: 100px 0;
}

.colorNegro {
  color: #2A2A2A;
}

.colorBlanco {
  color: #ffffff;
}

.headerMovil {
  display: none;
}

.posterPreMovil {
  display: none;
}

.piedefotouno {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  display: block;
  margin-top: 5px;
  padding: 0 12px;
  width: 100%;
  padding-right: var(--bs-gutter-x, .75rem);
  padding-left: var(--bs-gutter-x, .75rem);
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1.5rem;
}

.modalMetodologia .modal-content {
  background-color: #2a2a2a !important;
}

.postapertura p {
  font-size: 20px;
  font-style: italic;
  font-weight: 700;
  line-height: 23px;
  padding: 0 76px;
}

.postapertura h1 {
  font-size: 20px;
  font-style: italic;
  font-weight: 700;
  line-height: 23px;
  padding: 0 76px;
}



.modalMetodologia .btn-close {
  opacity: 1 !important;
  filter: invert(1) !important;
}

.modalMetodologia .modal-header {
  border-bottom: 1px solid #494949 !important;
}

.textPinche {
  font-size: 24px;
  font-style: italic;
  font-weight: 700;
  line-height: 23px;
  cursor: pointer;
  padding: 14px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.coverNaranjaMovil {
  display: none;
}

.primerPortadaMovil {
  display: none;
}

.fotos_1 img {

  border-radius: 30px;
}

.textPinche:hover {
  color: #ffffff;
}

#temauno,
#temados,
#tematres {
  background: #f6f6f6;
}

#empresas-del-narco,
#empresas-para-cubrir-la-logistica-del-narcotrafico {
  background: #f4f4f4;
}

.cabecera-bloque_menu .dropdown-item {
  white-space: normal !important;
}


/* .swPatentTres .swiper-wrapper .swiper-slide.swiper-slide-active:first-child{
  margin-left: 60px !important;
}

.swPatentTres .swiper-wrapper .swiper-slide:last-child{
  margin-right: 60px !important;
} */

.max1070 {
  max-width: 1070px;
  margin: auto;
  padding: 0 12px;

  width: 100%;
  padding-right: var(--bs-gutter-x, .75rem);
  padding-left: var(--bs-gutter-x, .75rem);
  margin-right: auto;
  margin-left: auto;
}

.max900 {
  max-width: 900px;
  margin: auto;
  padding: 0 12px;

  width: 100%;
  padding-right: var(--bs-gutter-x, .75rem);
  padding-left: var(--bs-gutter-x, .75rem);
  margin-right: auto;
  margin-left: auto;
}

#iter-footer-wrapper {
  margin-top: 0px !important;
}

.headerBloque {
  background: #2a2a2a;
  padding: 20px 0;
  position: fixed;
  width: 100%;
  z-index: 9;
}

.cabecera-bloque {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cabecera-bloque_menu .dropdown-toggle::after {
  display: none;
}

.cabecera-bloque_menu .btn-check:focus+.btn,
.cabecera-bloque_menu .btn:focus {
  box-shadow: none;
}

.cabecera-bloque_logo {
  width: 63px;
}


/*APERTURA*/
.portada-video video {
  width: 100%;
  margin-top: 70px;
}

.portada-video.movil {
  display: none;
}

.swPatent {
  padding-bottom: 70px !important;
}

.cardSwiper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.cardSwiper img {
  width: 100px;
}

.carrusel-bloque .swiper-slide {
  background: #4c4c4c;
  color: #fff;
  border-radius: 15px;
  padding: 30px;
}

.carrusel-bloque .swiper-pagination-bullet {
  background: #D8BA9E !important;
  opacity: 1 !important;
}

.carrusel-bloque .swiper-pagination-bullet-active {
  background: #D74A2F !important;
}

.carrusel-bloque .swiper-pagination-bullet {
  width: 18px !important;
  height: 18px !important;
}

.carrusel-bloque-dos .swiper-pagination-bullet {
  background: #D8BA9E !important;
  opacity: 1 !important;
}

.carrusel-bloque-dos .swiper-pagination-bullet-active {
  background: #D74A2F !important;
}

.carrusel-bloque-dos .swiper-pagination-bullet {
  width: 18px !important;
  height: 18px !important;
}

.carrusel-bloque-tres .swiper-pagination-bullet {
  background: #D8BA9E !important;
  opacity: 1 !important;
}

.carrusel-bloque-tres .swiper-pagination-bullet-active {
  background: #D74A2F !important;
}

.carrusel-bloque-tres .swiper-pagination-bullet {
  width: 18px !important;
  height: 18px !important;
}

.carrusel-bloque-cuatro .swiper-pagination-bullet {
  background: #D8BA9E !important;
  opacity: 1 !important;
}

.carrusel-bloque-cuatro .swiper-pagination-bullet-active {
  background: #D74A2F !important;
}

.carrusel-bloque-cuatro .swiper-pagination-bullet {
  width: 18px !important;
  height: 18px !important;
}

.cardSwiper .bgProv {
  display: inline-block;
  background: #d8ba9e;
  color: #333;
  font-weight: 800;
  padding: 5px 15px;
  margin-bottom: 10px;
}

.carrusel-bloque .swiper-slide-active {
  /* transform: scale(1.4) !important; */
  transition: transform 0.5s ease, opacity 0.5s ease;
  height: 350px;
  display: flex;
}

.carrusel-bloque .swiper-slide-active .cardSwiper img {
  width: 130px;
}

.carrusel-bloque .swiper-wrapper {
  align-items: center;
}

.tercerTema .texto-bloque_tres {
  color: #fff;
}

.tercerTema {
  padding-top: 50px;
}

.videoBorder {
  border: 10px solid #D8BA9E;
}

.bgNegro {
  background: #2a2a2a;
}

.texto-blque_uno {
  color: #fff;
}

.texto-bloque_tres .swiper-slide {
  margin-right: 45px;
}

.cabecera-bloque_menu .dropdown-menu {
  background: #2b2b2b !important;
  min-width: 20rem !important;
}

.cabecera-bloque_menu .dropdown-item.active,
.cabecera-bloque_menu .dropdown-item:active {
  background-color: transparent !important;
  color: #D8BA9E !important;
}

.cabecera-bloque_menu .dropdown-item {
  color: #ffffff !important;
  margin-bottom: 10px;
}

.enlace-navegacion.active {
  color: #D8BA9E;
  /* Color blanco al seleccionar */
  text-decoration: none;
  /* Decoración de subrayado */
}

.cabecera-bloque_menu .dropdown-item:focus,
.cabecera-bloque_menu .dropdown-item:hover {
  background-color: #393939 !important;
}


.texto-blque_dos {
  color: #fff;
  padding-bottom: 80px;
  margin-top: 2rem;
}

.rasgosUno img {
  vertical-align: super;
}

.rasgosDos {
  display: flex;
  margin-bottom: -5px;
}

.rasgosDos img {
  vertical-align: super;
  transform: rotate(180deg);
}

.flamp_mobile {
  display: none;
}

.cartelUno {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.cartelMobile {
  display: none;
}



.cartelUno img {
  width: 100%;
  height: 280px;
}

.cartelUno span {
  position: absolute;
  font-size: 35px;
  font-weight: 800;
  line-height: 44px;
  text-align: center;
  color: #000;
  padding: 0 100px;
}

.bloqueSoloText {
  margin-top: 60px;
}

.bloqueTextVideo {
  margin-top: 100px;
}

.verse-player-embed {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.verse-player-embed iframe,
.verse-player-embed object,
.verse-player-embed embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bgGris {
  background: #f7f7f7;
}

.videovertical {
  height: -webkit-fill-available;
}

.graficoDos {
  margin-top: -65px;
}

.badge_ {
  background: #d8ba9e;
  color: #2a2a2a;
  /* font-weight: 700; */
  padding: 0 3px;
}

.diagramaMovil {
  display: none;
}

.badge_na {
  background: #D44126;
  color: #ffffff;
  /* font-weight: 700; */
  padding: 0 3px;
}

/* .texto-blque_uno p::first-letter {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 100px;
} */
.text_principal {
  padding: 0 65px;
}

.letraGrande {
  font-size: 115px;
  font-weight: 800;
  float: left;
  display: block;
  line-height: 80px;
  padding-right: 10px;
  color: #d8ba9e;
}

.bloqueTextComillas {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bloque-flourish {
  margin-top: 3rem;
}

.bloque-flourish .flourish-embed {
  box-shadow: 1px 2px 5px -1px;
}

.textComillas {
  position: absolute;
  max-width: 600px;
  font-size: 30px;
  font-style: italic;
  font-weight: 200;
  line-height: 45px;
  text-align: left;
}

.swPatentTres {
  padding-bottom: 70px !important;
}

.swPatentTres img {
  border-radius: 15px;
}

.swPatentCuatro {
  padding-bottom: 70px !important;
}

.swPatentCuatro img {
  border-radius: 15px;
}

.swPatentDos {
  padding-bottom: 70px !important;
}

.swPatentDos img {
  border-radius: 15px;
}

.textUnEsp {
  font-size: 30px;
  font-weight: 700;
  line-height: 23px;
  color: #fff;
}

.lineSeparador {
  border: 2px solid #ccc;
}

.textAcom {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  line-height: 30px;
}

.bloqueLogosMarcas {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.bloqueLogosMarcas img {
  width: 300px;
}

.bloqueVideos iframe {
  height: 500px;
}


/* FOOTER */


footer {
  background: #060222;
}


/* Quitar padding footer */
.footer-ecv22 .row>* {
  padding-right: 0;
  padding-left: 0;
}

.social-menu h3 {
  display: none;
}

.consulta_interes {
  margin: 7rem 5rem;
}

.rd-footer {
  padding-bottom: 1rem;
}

.consulta_interes h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  letter-spacing: -0.025em;
  color: #2927b9;
}

.consulta_interes .text_click {
  font-weight: 600;
  font-size: 11px;
  line-height: 12px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #2927b9;
  margin-top: 4rem;
}

.footer-distributed .footer-linksr a:before {
  content: " " !important;
  padding: 0 !important;
}

.footer-linksr span {
  padding-right: 8px;
}

/*eliminar Margin botton footer*/
.ly-footer .f-r02 {
  margin-top: 0;
  border-bottom: none;
}

.revistas-desktop {
  overflow: hidden;
}

.revistas-desktop {
  margin: 0rem auto;
  padding-bottom: 2rem;
}

.revistas-desktop .media_block {
  padding-bottom: 1rem;
}

.c_002_001 .IMG {
  padding: 0;
}

.revistas-desktop .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #23dcd1 !important;
  /* opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.3); */
}

.revistas-desktop .swiper-pagination-bullet-active {
  background: #23dcd1 !important;
}

.logo-footer {
  text-align: center;
  padding: 2rem 0 0;
}

.footer_desk img {
  width: 74px;
  height: 41px;
}

.line-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0px 20px;
}

.line_desk {
  background-size: cover;
  width: 1345px;
}

.line_desk img {
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  width: 100%;
}

.revistas_image img {
  display: none;
}

.footer-ecv22 {
  background: #060222;
}

.footer-distributed {
  width: 100%;
  padding-top: 10px;
}

/* Footer links */
.footer-distributed .footer-left,
.footer-distributed .footer-right {
  width: 100%;
}



/* Footer links */
.footer-distributed .footer-links {
  color: #fff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
}

.footer-distributed .footer-linksr a {
  color: #fff;
  padding: 0;
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 600;
  font-size: 14px !important;
  line-height: 28px;
  text-align: right !important;
  text-decoration: none;
}

.footer-distributed .footer-right p {
  border-bottom: 1px #fff solid;
  padding-bottom: 2rem;
  text-align: right;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-left: 6px;
  padding-right: 6px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-linksr .link-1:before {
  content: none;
}

.revistaSwiper {
  padding-bottom: 30px !important;
}

/*redes sociales*/
.social-menu ul {
  padding: 0;
  margin: 0;
  display: flex;
  float: right;
}

.social-menu ul li {
  list-style: none;
  margin: 0 10px;
}

.social-menu ul li .fab {
  font-size: 22px;
  line-height: 40px;
  transition: .3s;
  color: #000;
}

.social-menu ul li .fab:hover {
  color: #fff;
}

.social-menu ul li a {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
  transition: .6s;
  box-shadow: 0 5px 4px rgba(0, 0, 0, .5);
}

.social-menu ul li a.x-twitter {
  font-size: 22px;
  line-height: 33px;
}


.social-menu ul li a:hover {
  transform: translate(0, -10%);
}

.social-menu ul li:nth-child(1) a:hover {
  background-color: #4c64e8;
}

.social-menu ul li:nth-child(2) a:hover {
  background-color: #4cb2ff;
}

.social-menu ul li:nth-child(3) a:hover {
  background-color: #E4405F;
}

.social-menu ul li:nth-child(4) a:hover {
  background-color: #f64546;
}


@media (max-width: 1200px) {
  .cartelUno span {
    font-size: 35px;
  }
}

@media (max-width: 991px) {

  .cartelUno span {
    font-size: 18px;
    line-height: 20px;
    padding: 0 80px;
  }

  .cartelUno img {
    height: 120px;
  }

  .carrusel-bloque .swiper-slide {
    padding: 10px;
  }

  .carrusel-bloque .swiper-slide-active .cardSwiper img {
    width: 100px;
  }

  .carrusel-bloque .swiper-slide-next {
    transform: scale(1) !important;
  }
}



@media (max-width: 768px) {
  .text_principal {
    padding: 0px;
  }

  .footer-distributed {
    font: bold 10px sans-serif;
  }

  .carrusel-bloque .swiper-slide-active .cardSwiper img {
    width: 100px;
  }

  .carrusel-bloque .swiper-slide {
    padding: 10px;
  }

  .cardSwiper img {
    width: 100px;
  }

  .footer-distributed .footer-links a:before {
    padding-left: 3px;
    padding-right: 3px;
    font-size: 15px;
  }

  .footer-distributed .footer-links a {
    font-weight: 400;
  }

  .footer-ecv22 {
    padding-bottom: 1.5rem;
    margin-bottom: -2px;
  }

  .revistas-desk .c_002_001 .IMG {
    padding: 0;
  }

  .revistas-desktop .noticias .media_block {
    width: 100%;
    padding-bottom: 1rem;
  }

  /*revistas*/
  .social-menu ul li a {
    width: 25px;
    height: 25px;
  }

  .social-menu ul li .fab {
    font-size: 15px;
    line-height: 25px;
  }

  .footer-distributed .footer-right p {
    padding-bottom: 1rem;
  }

  .footer-distributed .footer-linksr a {
    font-size: 10px;
    line-height: 1rem;
  }

  .social-menu ul li a.x-twitter {
    font-size: 15px;
    line-height: 20px;
  }

  .postapertura p,
  .postapertura h1 {
    padding: 0 40px;
  }


}


@media (max-width: 767px) {
  .cardSwiper {
    font-size: 16px;
    line-height: 18px;
  }

  .cartelUno {
    display: none;
  }

  .cartelMobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .cartelMobile img {
    max-width: 100%;
    height: auto;
  }

  .ocultarImagenMovil {
    display: none;
  }

  .coverNaranjaMovil {
    display: block;
    max-width: 500px;
    height: 146px;
    width: 100%;
  }

  .headerDesk {
    display: none;
  }

  .textPinche span {
    padding: 0px 40px !important;
  }

  .portada-video video {
    width: 100%;
    margin-top: 0;
  }

  .headerMovil {
    display: block;
    /* height: 100vh; */
    object-fit: cover;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 70px;
  }

  .posterPreMovil {
    display: block;
  }

  .posterPreMovil iframe {
    height: 665px !important;
  }

  .coverNaranjaDesk {
    display: none;
  }

  .cabecera-bloque_menu .dropdown-menu {
    min-width: 10rem !important;
  }

  .fotos_1 img {
    border-radius: 20px;
  }

  .carrusel-bloque .swiper-slide-active .cardSwiper img {
    width: 100px;
  }

  .primerPortadaDesk {
    display: none;
  }

  .primerPortadaMovil {
    display: block;
  }

  .diagramaMovil {
    display: block;
  }

  .diagramaDesk {
    display: none;
  }

  .cardSwiper .bgProv {
    font-size: 18px;
  }

  .carrusel-bloque .swiper-slide {
    height: 300px;
    display: flex;
  }

  .imgGrid1x2 img {
    width: 100%;
    height: auto;
    margin-top: 44px;
  }

  .postapertura p,
  .postapertura h1 {
    padding: 0 30px;
  }

  .flamp_mobile {
    display: block;
    height: 450px;
  }

  .flamp_deskop {
    display: none;
  }

  .portada-video video {

    /* height: 100vh; */
    object-fit: cover;
  }

  .cabecera-bloque_logo {
    width: 50px;
  }

  .headerBloque {
    padding: 10px 0;
  }

  .bloqueLogosMarcas img {
    width: 100%;
  }

  .textAcom {
    font-size: 18px;
  }

  .textUnEsp {
    font-size: 18px;
  }

  .carrusel-bloque .swiper-slide {
    padding: 16px;
  }

  .textComillas {
    max-width: 300px;
    font-size: 19px;
    line-height: 22px;
  }

  .text_principal {
    padding: 0px;
  }

  .texto-blque_dos {
    margin-top: 0rem;
  }

  .bloque-flourish {
    margin-top: 0rem;
  }

}


@media (max-width: 600px) {

  .comillas_ img {
    height: 300px;
  }

  .clicIniciarVideo {
    font-size: 10px;
    line-height: 14px;
  }

  .clicIniciarVideo svg {
    width: 10px;
  }

  .footer-distributed .footer-links a {
    font-size: 16px;
  }

  /*Footer visible*/
  .ly-footer .movil {
    display: block;
  }

  .ly-footer .desktop {
    display: block;
  }

  .footer-distributed {
    font-size: 18px;
    padding: 0rem 3rem 0;
    text-align: center;
  }

  .footer-distributed .footer-right p {
    border-bottom: none;
    padding-bottom: 1rem;
    text-align: center !important;
  }

  .social-menu ul {
    position: relative;
    display: flex;
    padding-bottom: 2rem;
    justify-content: center;
    float: none;
  }

  .revistas-desktop {
    margin: 0 auto;
  }

  .footer-distributed .footer-left {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .footer-distributed .footer-links {
    text-align: center;
  }

  .footer-distributed .footer-links a:before {
    padding-left: 22px;
    padding-right: 22px;
  }

  .revistas_image img {
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    width: 100%;
  }

  .line_desk img {
    display: none;
  }

  .revistas_image img {
    display: block;
  }
}


@media (max-width: 411px) {
  .footer-distributed .footer-links a:before {
    padding-left: 15px;
    padding-right: 15px;
  }

  .postapertura p,
  .postapertura h1 {
    font-size: 16px;
  }

  .posterPreMovil iframe {
    height: 640px !important
  }
}

@media (max-width: 320px) {
  .footer-distributed {
    font-size: 14px;
  }
}


@media (max-width: 1024px) {
  .swiper-slide-next {
    transform: scale(1) !important;
    transition: transform 0.5s ease, opacity 0.5s ease;
  }



  .max900 {
    max-width: 700px;
  }
}

@media (min-width: 1440px) {
  .cardSwiper img {
    width: 150px;
  }

  .carrusel-bloque .swiper-slide-active .cardSwiper img {
    width: 170px;

  }

  .carrusel-bloque .swiper-slide-active {
    height: 270px;
  }
}
.MODAL_modal_default {
    display: none !important;
}