/* ***************************
INICIO - PORTADA - 4 DESTACADAS 
*************************** */
.HOME_MENU_RD .notas-1-p-ap .noticias .article .media_block .multimedia .multimediaIconMacroWrapper a img {
  width: 100%;
  height: 100%;
}

.HOME_MENU_RD .notas-1-p-ap .noticias .article .text_block {
  margin-top: 1.5rem;
}

.HOME_MENU_RD .notas-1-p-ap .noticias .article .text {
  font-size: 1.5rem;
}

.HOME_MENU_RD .notas-1-p-ap .noticias .article .text_block .section {
  font-size: 1.5rem;
  color: #000;
}

.HOME_MENU_RD .notas-1-p-ap .noticias .article .text_block .headline a h2 {
  color: #000;
  font-size: 2rem;
}

.HOME_MENU_RD .articulos_4dest .noticias .article .SEC_TIT_IMG_4DESTACADA {
  display: grid;
  grid-template-columns: 2fr 1fr;
  /* align-items: center; */
  grid-gap: 10px;
  margin: 1rem 0;
}


.HOME_MENU_RD .notas-2-ap {
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
  margin-top: 3rem;
}

.HOME_MENU_RD .notas-1-n-ap {
  border-bottom: 1px solid #000;
}

.HOME_MENU_RD .notas-1-p-ap {
  margin-top: 3rem;
}

.HOME_MENU_RD .notas-1-p-ap.mobile-ne {
  border-bottom: 1px solid #000;
  margin-top: 1rem;
}

.HOME_MENU_RD .notas-1-ap {
  border-bottom: 1px solid #000;
}

.HOME_MENU_RD .articulos_4dest .noticias .article .SEC_TIT_IMG_4DESTACADA .media_block .multimedia .multimediaIconMacroWrapper a div {
  position: initial !important;
  width: 165px !important;
}

.HOME_MENU_RD .articulos_4dest .noticias .article .SEC_TIT_IMG_4DESTACADA .text_block .section {
  color: #000;
}

.HOME_MENU_RD .articulos_4dest .noticias .article .SEC_TIT_IMG_4DESTACADA .text_block .headline a h3 {
  font-size: 1.5rem;
  color: #000;
}

/*NEGRIGA*/
.HOME_MENU_RD .notas-1-n-ap.articulos_4dest .noticias .article .SEC_TIT_IMG_4DESTACADA .text_block .headline a h3 {
  font-weight: 800;
}


@media (max-width: 991px) {
  .HOME_MENU_RD .articulos_4dest .noticias .article .SEC_TIT_IMG_4DESTACADA .text_block .headline a h3 {
    font-size: 1rem;
  }

  .HOME_MENU_RD .articulos_4dest .noticias .article .SEC_TIT_IMG_4DESTACADA .media_block .multimedia .multimediaIconMacroWrapper a div {
    width: 130px !important;
  }

  .HOME_MENU_RD .notas-1-p-ap .noticias .article .text {
    font-size: 1rem;
  }
}

@media (max-width: 767px) {
  .HOME_MENU_RD .notas-1-p-ap .noticias .article .text_block {
    position: absolute;
    bottom: 0;
    padding: 10px;
    width: 100%;
  }

  .HOME_MENU_RD .notas-2-ap {
    margin-top: 0;
  }

  .HOME_MENU_RD .notas-1-p-ap .noticias .article .text {
    margin-top: 1rem;
  }

  .HOME_MENU_RD .notas-1-p-ap .noticias .article .media_block {
    position: relative;
  }

  .HOME_MENU_RD .notas-1-p-ap .noticias .article .text_block .headline a h2 {
    font-size: 1.5rem;
    color: white;
  }

  .HOME_MENU_RD .notas-1-p-ap .noticias .article .text_block .section {
    font-size: 1rem;
    color: white;
  }

  .HOME_MENU_RD .notas-1-p-ap .noticias .article .media_block .multimedia .multimediaIconMacroWrapper a img {
    -webkit-mask-image: linear-gradient(to top, transparent 0, black 60%);
    height: 240px;
    object-fit: cover;
  }

  .HOME_MENU_RD .notas-1-p-ap .noticias .article .media_block .multimedia .multimediaIconMacroWrapper {
    background-image: -webkit-linear-gradient(bottom, black 50%, white 65%);
  }
}


/* ***************************
FIN - PORTADA - 4 DESTACADAS 
*************************** */



/* ***************************
INICIO - BLOQUE - ECUADOR 
*************************** */

.HOME_MENU_RD .nota-principal-bloque .noticias .article .media_block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.HOME_MENU_RD .lista-bloque .noticias {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  border-bottom: 1px solid;
  border-top: 1px solid;
}

.HOME_MENU_RD .lista-bloque .noticias .article .BLOQUE_SEC_TIT {
  margin: 20px;
}

.HOME_MENU_RD .lista-bloque .noticias .article:nth-child(2) {
  border-right: 1px solid;
  border-left: 1px solid;

}

.HOME_MENU_RD .lista-bloque .noticias .article .text_block .article-section a {
  color: #000;
  margin-bottom: 0.5rem;
  display: block;
}

.HOME_MENU_RD .lista-bloque .noticias .article .text_block .headline a h2 {
  color: #000;
  font-size: 1.3rem;
}


@media (max-width: 767px) {
  .HOME_MENU_RD .nota-principal-bloque .noticias .article .media_block {
    display: grid;
    grid-template-columns: none;
    gap: 20px;
  }
}

/* ***************************
FIN - BLOQUE - ECUADOR 
*************************** */