:root {
  --bs-black: #000;
  --rd-cintillo: #0067D5;

  /*DESKTOP*/
  --rd-size-14: 14px;
  --rd-size-16: 16px;
  --rd-size-20: 20px;
  --rd-size-22: 22px;
  --rd-size-30: 30px;
  --rd-size-32: 32px;
  --rd-size-60: 60px;
  /*MOBILE*/
  --rd-size-18: 18px;
  --rd-size-26: 26px;
  --rd-size-34: 34px;



}

/* ***************************
INICIO - PORTADA - 4 DESTACADAS 
*************************** */
.HOME_MENU_RD .ly-apertura-rd {
  margin: 2rem 0;
}

.HOME_MENU_RD .notas-1-p-ap .noticias .article .media_block .multimedia .multimediaIconMacroWrapper a img {
  width: 100%;
  height: 100%;
}

.HOME_MENU_RD .notas-1-p-ap .noticias .article .text_block {
  margin-top: 1.5rem;
}

.HOME_MENU_RD .notas-1-p-ap .noticias .article .text {
  font-size: var(--rd-size-20);
}

.HOME_MENU_RD .notas-1-p-ap .noticias .article .text_block .section {
  font-size: var(--rd-size-16);
  font-weight: 500;
  color: var(--bs-gray);

}

.HOME_MENU_RD .notas-1-p-ap .noticias .article .text_block .headline a h1 {
  color: var(--bs-black);
  font-size: var(--rd-size-32);
}

.HOME_MENU_RD .articulos_4dest .noticias .article .SEC_TIT_IMG_4DESTACADA {
  display: grid;
  grid-template-columns: 2fr 1fr;
  /* align-items: center; */
  grid-gap: 10px;
  margin: 1rem 0;
}

.HOME_MENU_RD .notas-2-ap {
  border-bottom: 1px solid var(--bs-gray);
  border-top: 1px solid var(--bs-gray);
  margin-top: 3rem;
}

.HOME_MENU_RD .notas-1-n-ap {
  border-bottom: 1px solid var(--bs-gray);
}

.HOME_MENU_RD .notas-1-p-ap {
  margin-top: 3rem;
}

.HOME_MENU_RD .notas-1-p-ap.mobile-ne {
  border-bottom: 1px solid var(--bs-gray);
  margin-top: 1rem;
}

.HOME_MENU_RD .notas-1-ap {
  border-bottom: 1px solid var(--bs-gray);
}

.HOME_MENU_RD .articulos_4dest .noticias .article .SEC_TIT_IMG_4DESTACADA .media_block .multimedia .multimediaIconMacroWrapper a div {
  position: initial !important;
  width: 165px !important;
}

.HOME_MENU_RD .articulos_4dest .noticias .article .SEC_TIT_IMG_4DESTACADA .text_block .section {
  color: var(--bs-gray);
  font-weight: 500;
  font-size: var(--rd-size-16);
}

.HOME_MENU_RD .articulos_4dest .noticias .article .SEC_TIT_IMG_4DESTACADA .text_block .headline a h3 {
  font-size: var(--rd-size-22);
  color: var(--bs-black);
}

/*NEGRIGA*/
.HOME_MENU_RD .notas-1-n-ap.articulos_4dest .noticias .article .SEC_TIT_IMG_4DESTACADA .text_block .headline a h3 {
  font-weight: 800;
}


@media (max-width: 991px) {
  .HOME_MENU_RD .articulos_4dest .noticias .article .SEC_TIT_IMG_4DESTACADA .text_block .headline a h3 {
    font-size: 1rem;
  }

  .HOME_MENU_RD .articulos_4dest .noticias .article .SEC_TIT_IMG_4DESTACADA .media_block .multimedia .multimediaIconMacroWrapper a div {
    width: 130px !important;
  }

  .HOME_MENU_RD .notas-1-p-ap .noticias .article .text {
    font-size: 1rem;
  }
}

@media (max-width: 767px) {
  .HOME_MENU_RD .notas-1-p-ap .noticias .article .text_block {
    position: absolute;
    bottom: 0;
    padding: 10px;
    width: 100%;
  }

  .HOME_MENU_RD .articulos_4dest .noticias .article .SEC_TIT_IMG_4DESTACADA .text_block .headline a h3 {
    font-size: var(--rd-size-20);
  }

  .HOME_MENU_RD .notas-2-ap {
    margin-top: 0;
  }

  .HOME_MENU_RD .notas-1-p-ap .noticias .article .text {
    margin-top: 1rem;
    font-size: var(--rd-size-18);
  }

  .HOME_MENU_RD .notas-1-p-ap .noticias .article .media_block {
    position: relative;
  }

  .HOME_MENU_RD .notas-1-p-ap .noticias .article .text_block .headline a h1 {
    font-size: var(--rd-size-26);
    color: var(--bs-white);
  }

  .HOME_MENU_RD .notas-1-p-ap .noticias .article .text_block .section {
    color: var(--bs-white);
  }

  .HOME_MENU_RD .notas-1-p-ap .noticias .article .media_block .multimedia .multimediaIconMacroWrapper a img {
    -webkit-mask-image: linear-gradient(to top, transparent 0, black 60%);
    /* height: 240px;
    object-fit: cover; */
  }

  .HOME_MENU_RD .notas-1-p-ap .noticias .article .media_block .multimedia .multimediaIconMacroWrapper {
    background-image: -webkit-linear-gradient(bottom, black 50%, white 65%);
  }
}




/* ***************************
INICIO - BLOQUE - ECUADOR 
*************************** */
.HOME_MENU_RD .nota-principal-bloque {
  margin: 1.5rem 0;
}

.HOME_MENU_RD .cintillo-rd {
  margin-bottom: .5rem;
  display: block;
  font-size: var(--rd-size-60);
  font-weight: 500;
  color: var(--rd-cintillo);
}

.HOME_MENU_RD .nota-principal-bloque .noticias .article .media_block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.HOME_MENU_RD .lista-bloque .noticias {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-bottom: 1px solid var(--bs-gray);
  border-top: 1px solid var(--bs-gray);
}

.HOME_MENU_RD .lista-bloque .noticias .article .BLOQUE_SEC_TIT {
  margin: 20px;
}

.HOME_MENU_RD .lista-bloque .noticias .article:nth-child(2) {
  border-right: 1px solid var(--bs-gray);
  border-left: 1px solid var(--bs-gray);
}

.HOME_MENU_RD .lista-bloque .noticias .article .text_block .section {
  color: var(--bs-gray);
  font-weight: 500;
  margin-bottom: 0.5rem;
  display: block;
  font-size: var(--rd-size-16);
}

.HOME_MENU_RD .lista-bloque .noticias .article .text_block .headline a h2 {
  color: var(--bs-black);
  font-size: var(--rd-size-20);
}

.HOME_MENU_RD .nota-principal-bloque .noticias .article .text_block .headline a h2 {
  font-size: var(--rd-size-30);
  color: var(--bs-black);
}

.HOME_MENU_RD .nota-principal-bloque .noticias .article .text_block .section {
  font-size: var(--rd-size-16);
  font-weight: 500;
  color: var(--bs-gray);
}

.HOME_MENU_RD .nota-principal-bloque .noticias .article .text_block .text {
  font-size: var(--rd-size-20);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  -webkit-box-orient: vertical;
}

@media (max-width: 991px) {
  .HOME_MENU_RD .nota-principal-bloque .noticias .article .text_block .headline a h2 {
    font-size: var(--rd-size-22);
  }

  .HOME_MENU_RD .nota-principal-bloque .noticias .article .text_block .text {
    font-size: var(--rd-size-14);
  }
}


@media (max-width: 767px) {
  .HOME_MENU_RD .nota-principal-bloque .noticias .article .media_block {
    display: grid;
    grid-template-columns: none;
    gap: 20px;
  }
  .HOME_MENU_RD .cintillo-rd {
    font-size: var(--rd-size-34);
  }

  .HOME_MENU_RD .lista-bloque .noticias {
    grid-template-columns: none;
  }

  .HOME_MENU_RD .lista-bloque .noticias .article:nth-child(2) {
    border-right: none;
    border-left: none;
    border-bottom: 1px solid var(--bs-gray);
    border-top: 1px solid var(--bs-gray);
  }

  .HOME_MENU_RD .lista-bloque {
    margin-top: 20px;
  }

  .HOME_MENU_RD .lista-bloque .noticias .article .BLOQUE_SEC_TIT {
    margin: 20px 0;
  }

  .HOME_MENU_RD .nota-principal-bloque-mobile .noticias .article .text_block .section {
    margin-bottom: .5rem;
    display: block;
    font-size: 1.8rem;
    font-weight: bold;
    display: none;
  }

  .HOME_MENU_RD .nota-principal-bloque-mobile .noticias .article .text_block .text{
    
  }

  .HOME_MENU_RD .nota-principal-bloque-mobile .noticias .article .text_block .headline a h2 {
    color: var(--bs-black);
    font-size: var(--rd-size-26);
  }

  .HOME_MENU_RD .nota-principal-bloque-mobile .noticias .article .text_block .text{
    font-size: var(--rd-size-18);
    margin-top: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    -webkit-box-orient: vertical;
  }

}



/* ***************************
INICIO - BLOQUE - PROGRAMACION 
*************************** */

.HOME_MENU_RD .img-header-prog img {
  width: 100%;
}

.HOME_MENU_RD .lista-programacion-bloque .noticias {
  overflow: auto;
  white-space: nowrap;
}

.HOME_MENU_RD .lista-programacion-bloque .noticias .article {
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.HOME_MENU_RD .lista-programacion-bloque .noticias .article .text_block .text .text-wrapper {
  background: #0067d58c;
  border-radius: 5px;
  padding: 15px 20px;
}

.HOME_MENU_RD .lista-programacion-bloque .noticias .article .text_block .text .text-wrapper p {
  margin: 0;
}

.HOME_MENU_RD .lista-programacion-bloque .noticias .article .text_block .text .text-wrapper p:nth-child(1) {
  color: rgba(0, 103, 213, 0.8);
  font-weight: 600;
  font-size: 16px;
}

.HOME_MENU_RD .lista-programacion-bloque .noticias .article .text_block .text .text-wrapper p:nth-child(2) {
  color: rgba(0, 103, 213, 0.8);
  font-weight: 350;
  font-size: 15px;
}


/* ***************************
INICIO - BLOQUE - MUNDO 
*************************** */

.HOME_MENU_RD .lista-bloque-1x4 .noticias {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid var(--bs-gray);
  border-top: 1px solid var(--bs-gray);
}

.HOME_MENU_RD .lista-bloque-1x4 .noticias .article:nth-child(1) {
  border-right: 1px solid var(--bs-gray);
}

.HOME_MENU_RD .lista-bloque-1x4 .noticias .article:nth-child(3) {
  border-right: 1px solid var(--bs-gray);
  border-top: 1px solid var(--bs-gray);
}

.HOME_MENU_RD .lista-bloque-1x4 .noticias .article:nth-child(4) {

  border-top: 1px solid var(--bs-gray);
}


.HOME_MENU_RD .lista-bloque-1x4 .noticias .article .media_block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.HOME_MENU_RD .lista-bloque-1x4 .noticias .article .text_block .section {
  color: var(--bs-gray);
  font-weight: 500;
  margin-bottom: 0.5rem;
  display: block;
  font-size: var(--rd-size-16);
}

.HOME_MENU_RD .lista-bloque-1x4 .noticias .article .text_block .headline a h2 {
  color: var(--bs-black);
  font-size: var(--rd-size-14);
}

.HOME_MENU_RD .lista-bloque-1x4 .noticias .article .BLOQUE_SEC_TIT_IMG {
  margin: 20px;
}


@media (min-width: 1400px) {
  .HOME_MENU_RD .lista-bloque-1x4 .noticias {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .HOME_MENU_RD .lista-bloque-1x4 .noticias .article:nth-child(3) {
    border-top: none;
    border-left: 1px solid var(--bs-gray);
  }

  .HOME_MENU_RD .lista-bloque-1x4 .noticias .article:nth-child(4) {
    border-top: none;
  }
}



@media (max-width: 767px) {
  .HOME_MENU_RD .lista-bloque-1x4 .noticias {
    grid-template-columns: none;
    border-bottom: 1px solid var(--bs-gray);
    border-top: 1px solid var(--bs-gray);
  }

  .HOME_MENU_RD .lista-bloque-1x4 .noticias .article .BLOQUE_SEC_TIT_IMG {
    margin: 20px 0;
  }

  .HOME_MENU_RD .lista-bloque-1x4 .noticias .article:nth-child(2) {
    border-bottom: 1px solid var(--bs-gray);
    border-top: 1px solid var(--bs-gray);
  }

  .HOME_MENU_RD .lista-bloque-1x4 .noticias .article:nth-child(3) {
    border-bottom: none;
    border-right: none;
    border-top: none;
  }

  .HOME_MENU_RD .lista-bloque-1x4 .noticias .article .text_block .headline a h2{
    font-size: var(--rd-size-20);
  }

  .HOME_MENU_RD .lista-bloque-1x4 .noticias .article:nth-child(1) {
    border-right: none;
  }
}