/* ***************************
INICIO - PORTADA - 4 DESTACADAS 
*************************** */
.HOME_MENU_RD .notas-1-p-ap .noticias .article .media_block .multimedia .multimediaIconMacroWrapper a img {
  width: 100%;
  height: 100%;
}

.HOME_MENU_RD .notas-2-ap .noticias .article .SEC_TIT_IMG_4DESTACADA {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 1rem 0;
}

.HOME_MENU_RD .notas-2-ap .noticias .article {
  border-bottom: 2px solid #5f5f5f;
}

.HOME_MENU_RD .notas-2-ap .noticias .article .SEC_TIT_IMG_4DESTACADA .media_block {
  width: 100%;
}
.HOME_MENU_RD .notas-2-ap .noticias .article .SEC_TIT_IMG_4DESTACADA  .media_block .multimedia .multimediaIconMacroWrapper a div {
  position: initial !important;
  width: 165px !important; 
}

.HOME_MENU_RD .notas-2-ap .noticias .article .SEC_TIT_IMG_4DESTACADA .text_block .headline a h3{
  font-size: 1.5rem;
}


/* ***************************
FIN - PORTADA - 4 DESTACADAS 
*************************** */