/*stories*/

#iter-content-wrapper {
  padding-top: 0px;
}

#iter-footer-wrapper {
  margin-top: 0px;
}

.layout-web-stories .DETAIL_TXT .text .html iframe {
  width: 100% !important;
  height: 100vh !important;
  display: block !important;
}



/*SUBSECCION*/

/*
  ####
  #### Inicio seccion global
  ####
*/

:root {
  --color-azul: #2927B9;
  --color-azul-oscuro: #060127;
  --espacio-left-mobile: 22px;
  --espacio-right-mobile: 22px;
  --espacio-top-mobile: 12px;
  --espacio-bottom-mobile: 12px;
}

/*
  ####
  #### Inicio Escritorio
  ####
*/

/*

#Inicio sección 1: Título

*/

.c_azul_celeste_Mobile {
  display: none;
}

.cintillo-rd h1 {
  color: #2927b9;
  font-family: 'Archivo';
  font-weight: 700;
}

@media (max-width: 767px) {
  .c_azul_celeste_Mobile {
    display: block;
  }

  .c_azul_celeste_Desktop {
    display: none;
  }
}


#iter-content-wrapper .row {
  width: 100% !important;
  padding: 0px !important;
  margin: 0px;
}

/*

#Fin sección 1: Título

*/

/*

#Inicio sección 2: Noticias

*/

#main-content .u-listado-ultimos-videos.container {
  padding-left: 20px !important;
  padding-top: 30px;
  padding-bottom: 30px;
}

.u-listado-ultimos-videos ul li a {
  display: none;
}

.u-listado-ultimos-videos img {
  position: relative !important;
  -webkit-mask-image: linear-gradient(to top, transparent 0, #060127 100%);
  height: 285px !important;
  object-fit: cover;
  width: 100% !important;
  border-radius: 2px;
}

.u-listado-ultimos-videos .cutlineShow div {
  padding-top: 0% !important;
}


.u-listado-ultimos-videos article.article>div,
.u-listado-ultimos-videos .media_block {
  position: relative;
  background-color: var(--color-azul-oscuro);
  border-radius: 5.0022px;
}

.u-listado-ultimos-videos .text_block {
  position: absolute;
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: end;
  bottom: 0;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
  z-index: 1;
}

.u-listado-ultimos-videos .article-section a.section {
  color: #23DCD1;
  font-family: 'Mattone 150';
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 12px;
  text-transform: uppercase;
}

.u-listado-ultimos-videos .headline h3 {
  margin-bottom: 5px;
}

.u-listado-ultimos-videos .headline {
  margin-top: 2px;
}

.u-listado-ultimos-videos .headline h3,
.u-listado-ultimos-videos .headline span {
  color: #FFFFFF;
  font-family: 'Anek Malayalam';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  display: block;
}

.u-listado-ultimos-videos .iconPlay {
  position: absolute;
  text-align: center;
  top: 20px !important;
  right: 20px !important;
  left: auto !important;
  background-image: url(https://estadisticas.ecuavisa.com/sites/gestor/Recursos/play-icon-white.svg);
  border-radius: 3px;
  transform: initial !important;
  width: 33px;
  height: 33px;
}


.u-listado-ultimos-videos .noticias {
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}


.u-listado-ultimos-videos .date {
  color: #ffffff;
  font-size: 14px;
}

/*

#Fin sección 2: Noticias

*/

/*

#Inicio sección 3: Paginación
*/
.u-listado-ultimos-videos {
  padding-top: 10px !important;
  padding-bottom: 40px !important;
}

.u-listado-ultimos-videos .nav-button {
  display: inline-flex;
  margin: 40px 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  display: inline-flex;
  padding: 0 100px;
}

.u-listado-ultimos-videos .nav-button ul {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  margin: 0 15px;
}

.u-listado-ultimos-videos .nav-button ul li {
  font-family: 'Anek Malayalam';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  display: block;
  padding: 5px 15px;
  color: #060127;
  cursor: pointer;
}

.u-listado-ultimos-videos .nav-button ul li.nav-page-selected {
  background: #2927B9;
  color: #fff;
  border-radius: 2px;
}

.u-listado-ultimos-videos .nav-button .next-button,
.u-listado-ultimos-videos .nav-button .prev-button {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 600;
  padding: 5px 15px;
  cursor: pointer;
}


/*

#Fin sección 3: Paginación

*/

/*
  ####
  #### Fin Escritorio
  ####
*/
/*-------------------------------*/




@media (min-width: 1200px) {
  .u-listado-ultimos-videos .noticias {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}


@media (min-width: 1400px) {
  .u-listado-ultimos-videos .noticias {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}




@media (max-width: 767px) {
  .u-listado-ultimos-videos .noticias {
    grid-template-columns: 1fr 1fr 1fr;
  }
}



/*-------------------------------*/
@media (max-width: 700px) {


  .portlet-boundary.portlet-static-end.teaser-viewer-portlet.swiper.fadeSwiper.swiper-fade.swiper-initialized.swiper-horizontal.swiper-watch-progress.swiper-backface-hidden {
    display: none !important;
  }

  .portlet-boundary.portlet-static-end.article-recommendations-portlet.c_002_001,
  .portlet-boundary.portlet-static-end.htmlcontainer-portlet.c_002_001.title-recommended {
    display: none !important;
  }

  .subheadline h5 {
    display: none !important;
  }

  .portlet-boundary.portlet-static-end.teaser-viewer-portlet.swiper.fadeSwiper.swiper-fade.swiper-initialized.swiper-horizontal.swiper-pointer-events.swiper-watch-progress.swiper-backface-hidden,
  .portlet-boundary.portlet-static-end.teaser-viewer-portlet.swiper.fadeSwiper.swiper-fade.swiper-initialized.swiper-horizontal.swiper-ios.swiper-watch-progress.swiper-backface-hidden {
    display: none;
  }

  #main-content .container {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  #main-content .container .row {
    margin-left: 0px;
    margin-right: 0px;
  }

  #main-content .nopadding {
    padding-left: 0 !important;
    padding-right: 0px !important;
  }

  #bloque-contador.nopadding iframe {
    overflow: hidden;
    height: 620px;
    padding: 0px !important;
    padding-left: 10px !important;
    background-color: #060127;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }


  #main-content {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-listado-ultimos-videos .iconPlay {
    position: absolute;
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    background-image: url(https://ecuavisadev.netlify.app/grilla/bloque/assets/Play.svg);
    border-radius: 3px;
    width: 50px;
    height: 50px;
    right: auto !important;
  }

  /*
  
  #Fin sección 2: Noticias
  
  */

  /*

  #Inicio sección 3: Paginación
  */


  /*

  #Fin sección 3: Paginación

  */

}


@media (max-width: 481px) {
  .u-listado-ultimos-videos .noticias {
    grid-template-columns: 1fr 1fr;
  }
}

/*
  ####
  #### Fin mobile max:700px
  ####
*/
/*-------------------------------*/