#play-pause-btn,
#div_reproducir,
#div_pausar_reanudar {
  display: flex;
  align-items: center;
  column-gap: 5px;
  padding: 5px;
  border: 0;
  background: transparent;
}

/* loader cargando */
.ring {
  --uib-size: 20px;
  --uib-speed: 2s;
  --uib-color: black;

  height: var(--uib-size);
  width: var(--uib-size);
  vertical-align: middle;
  transform-origin: center;
  animation: rotate var(--uib-speed) linear infinite;
}

.parent_player svg {
  width: 30px !important;
  height: 30px !important;
}

.ring circle {
  fill: none;
  stroke: var(--uib-color);
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: stretch calc(var(--uib-speed) * 0.75) ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes stretch {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dashoffset: -124px;
  }
}

/* playing */

.waveform {
  --uib-size: 30px;
  --uib-speed: 1s;
  --uib-color: black;
  --uib-line-weight: 4.5px;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: var(--uib-size);
  height: calc(var(--uib-size) * 0.9);
}

.waveform__bar {
  width: var(--uib-line-weight);
  height: 100%;
  background-color: var(--uib-color);
}

.waveform__bar:nth-child(1) {
  animation: grow var(--uib-speed) ease-in-out calc(var(--uib-speed) * -0.45) infinite;
}

.waveform__bar:nth-child(2) {
  animation: grow var(--uib-speed) ease-in-out calc(var(--uib-speed) * -0.3) infinite;
}

.waveform__bar:nth-child(3) {
  animation: grow var(--uib-speed) ease-in-out calc(var(--uib-speed) * -0.15) infinite;
}

.waveform__bar:nth-child(4) {
  animation: grow var(--uib-speed) ease-in-out infinite;
}

@keyframes grow {

  0%,
  100% {
    transform: scaleY(0.3);
  }

  50% {
    transform: scaleY(1);
  }
}