
.banner_fijos_rd_desktop article img {
  object-fit: cover;
  height: auto;
}

/* CINTILLO - INICIO */

.title_seccion .c_azul_celeste_Mobile {
  display: block;
  max-width: 400px;
  margin-top: 24px;
}

.contenedor_embed_radio{
  display: none;
  text-align: center;
}



.c_azul_celeste_Desktop {
  display: none;
}

/*Título sección Desktop*/
.title-section .tit2 span {
  color: #2927b9;
}

.title_seccion .cintillo-rd h1,
.title_seccion .cintillo-rd h2 {
  display: inline-block;
  font-family: 'Anek Malayalam';
  letter-spacing: -0.03em;
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 24px;
  color: #2927B9;
}

@media (max-width: 768px) {

  .title_seccion .cintillo-rd h1,
  .title_seccion .cintillo-rd h2 {
    font-size: 55px;
    line-height: 24px;
    display: flex;
    align-items: center;
  }

  .title_seccion .c_azul_celeste_Mobile {
    margin-top: 24px;
  }
}


@media (max-width: 767px) {
  .c_azul_celeste_Mobile {
    display: block;
  }

  .c_azul_celeste_Desktop {
    display: none;
  }
}

/* CINTILLO - FIN */

/*
  @
  @ noticias recomendadas:
  @
*/

.ecv_relacionadas_2022.mt-4>div>div {
  position: relative;
  margin-right: 0px;
  text-transform: uppercase;
  font-family: 'Archivo';
  padding-left: 0px;
  color: #060127;
  font-size: 24px;
  position: relative;
  font-size: 40px;
  text-transform: uppercase;
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
}

.ecv_relacionadas_2022 {
  margin-bottom: 23px;
}

.cin__mobile {
  display: none;
  width: 100%;
}

.cin__desktop {
  width: 100%;
}

.t-nt-rec {
  display: flex;
  align-items: center;
  column-gap: 7px;
}

@media (max-width: 767px) {
  .cin__mobile {
    display: block;
  }

  .t-nt-rec {
    display: initial;
  }

  .cin__desktop {
    display: none;
  }
}


.ecv_relacionadas_2022 span.second {
  color: rgba(43, 183, 107, 1);
  display: block;
  padding-left: 0px;
}

.recoment_miradio>div:not(.ecv_relacionadas_2022.mt-4 > div) {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.recoment_miradio .recomendadas-rd .text_block .section {
  font-family: 'mattone 150';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #2927b9;
}

.recoment_miradio .recomendadas-rd .headline {
  margin-top: 5px;
}

.recoment_miradio .recomendadas-rd .headline h3 {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  display: flex;
  align-items: flex-end;
  color: #060127;
}

.recoment_miradio .recomendadas-rd {
  display: flex;
  width: 100%;
  border-bottom: 0px solid #2927B9;
  flex-direction: column-reverse;
  gap: 15px;
}

.recoment_miradio>div:not(.ecv_relacionadas_2022.mt-4 > div) {
  display: grid;
  align-items: baseline;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
}

.recoment_miradio>div:not(.ecv_relacionadas_2022.mt-4 > div) .recomendadas-rd:nth-child(n+4) {
  display: none;
}

@media (max-width: 700px) {
  .ecv_relacionadas_2022 span.second {
    margin-top: -10px;
    display: block;
    padding-left: 0px;
  }

  .ecv_relacionadas_2022.mt-4>div>div {
    position: relative;
    margin-right: 0px;
    padding-bottom: 0px;
    text-transform: uppercase;
    font-family: 'Archivo';
    padding-left: 0px;
    color: #060127;
    font-size: 24px;
    line-height: 35px;
    margin-bottom: 0px;
  }

  .recoment_miradio>div:not(.ecv_relacionadas_2022.mt-4 > div) {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }

  .recoment_miradio>div:not(.ecv_relacionadas_2022.mt-4 > div) .recomendadas-rd {
    width: 100%;
    padding-right: 0px;
    flex-wrap: wrap;
    padding-bottom: 10px;
  }

  .recoment_miradio .recomendadas-rd .text_block {
    width: 100%;
    background: rgba(43, 183, 107, 1);
    padding: 23px;
    border-radius: 2px;
  }

  .recoment_miradio .recomendadas-rd .media_block {
    width: 100%;
    display: none;
  }

  .recoment_miradio .recomendadas-rd .headline h3 {
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
  }

  .recoment_miradio .recomendadas-rd .headline h3 {
    color: #ffffff;
  }

  .recoment_miradio .recomendadas-rd .text_block .section {
    font-weight: 600;
    font-family: 'Mattone 150' !important;
    font-style: normal !important;
    font-size: 15px;
    display: none;
  }


}


/*
  @
  @ pautas digitales
  @
*/


.pub_autopautas {
  background: #2927b9;
  padding: 30px 20px;
  margin: 25px 0;
}

.pub_autopautas .swiper-wrapper {
  padding-bottom: 40px;
}

.IMG_PAUTAS_DIGITALES {
  padding: 20px 0;
  border-bottom: 1px solid #23dcd1;
  border-top: 1px solid #23dcd1;
}

.swiper-pagination-mi-ecuavisa {
  margin-bottom: -12px;
}

.bullets-notas .swiper-pagination-bullet-active,
.banner_fijos_rd .swiper-pagination-bullet-active {
  background: #23dcd1;
}

.bullets-notas .swiper-pagination-bullet,
.banner_fijos_rd .swiper-pagination-bullet {
  width: 15px !important;
  height: 15px !important;
}

.bullets-notas .swiper-pagination-bullet,
.banner_fijos_rd .swiper-pagination-bullet {
  background: var(--swiper-pagination-bullet-inactive-color, #23dcd1);
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 8px);
}

.banner_fijos_rd_mobile {
  padding-bottom: 5px;
  margin-bottom: 15px;
}


.no_has_encontrado {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 34px;
  text-align: center;
  letter-spacing: -0.025em;
  color: #2927B9;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 30px;
}

.button_container {
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button_container .sp_button {
  border-radius: 2px;
  background-color: transparent;
  color: #2927B9;
  width: auto;
  font-weight: 700;
  font-style: normal;
  box-shadow: none;
  border-color: transparent;
  padding: 11px 0;
  display: block;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-transform: uppercase;
  font-family: 'Mattone 150';
  font-size: 14px;
}

.button_container .sp_button:after {
  content: url('https://estadisticas.ecuavisa.com/sites/gestor/Newsletter%2FbotonNews.svg');
}


/*
  @
  @ BLOQUE EMBED PLAYER RADIO
  @
*/

#no_transmision__,#programacion_radio {
  /* background: rgb(35, 220, 209); */
  /* padding: 20px; */
  display: block;
  font-family: "Anek Malayalam";
  letter-spacing: -0.03em;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  color: #2927B9;
}

.parent_texto_visible {
  font-family: 'Anek Malayalam';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 24px;
  letter-spacing: -0.03em;
  color: #2927B9;
  margin-bottom: 20px;
  text-align: center;
}

.msp_radio .np__global_player span {
  display: none !important;
}

.msp_radio .np__global_player .np__avatar_element {
  display: none !important;
}

.msp_radio .np__global_player .np__btn_controls.moreless {
  display: none !important;
}

.msp_radio .np__global_player {
  z-index: 9 !important;
}

@media (max-width: 600px) {
  .msp_radio .np__global_player .np__player_widget .np__elements_soundbadge .np__avatar_element {
    display: none !important;
  }

  .contenedor_embed_radio iframe{
    width: 100%;
  }

  .msp_radio .np__global_player .np__player_widget .np__elements_play_controls {
    justify-content: center !important;
    padding: 0 !important;
  }

  .msp_radio .np__global_player .np__btn_controls_mobile {
    display: none !important;
  }
}