/*****************
*****CINTILLO*****
*****************/

.titulo_central .cintillo-rd {
  display: inline-block;
  color: var(--rd-cintillo);
  font-family: 'Anek Malayalam';
  letter-spacing: -0.03em;
  font-style: normal;
  font-weight: 600;
  font-size: 88px;
  line-height: 96px;
  margin-top: 30px;
  text-transform: lowercase;
}

.faq_separador2 {
  max-width: 100%;
}

@media (max-width: 767px) {
  .titulo_central .cintillo-rd {
    font-size: 55px;
    line-height: 24px;
    margin-bottom: 20px;
  }
}

/*************************
*****TEMAS DESTACADOS*****
*************************/

.temas_destacados_swiper {
  padding: 0 50px !important;
  max-width: 400px;
}

.temas_destacados_swiper .noticias .article .media_block {
  position: relative;
}

.temas_destacados_swiper .noticias .article {
  border-radius: 5px;
}

.temas_destacados_swiper .noticias .article .media_block .text_block {
  position: absolute;
  bottom: 0;
  padding: 0.5rem 1rem;
  width: 100%;
  background-image: -webkit-linear-gradient(bottom, #060127 25%, #ffffff00 100%);
  padding: 7rem 1rem 1.5rem;
}

.temas_destacados_swiper .noticias .article .media_block .multimedia .multimediaIconMacroWrapper a div {
  background-image: -webkit-linear-gradient(bottom, #242424 50%, white 100%);
}

.temas_destacados_swiper .noticias .article .media_block .multimedia img {
  height: 100% !important;
  width: 100% !important;
  object-fit: contain;
  -webkit-mask-image: linear-gradient(to top, transparent 0, #242424 75%);
}

.temas_destacados_swiper .noticias .article .media_block .multimedia .multimediaIconMacroWrapper a span {
  z-index: 99;
  background-size: 45px;
  height: 55px !important;
  background-image: url('https://ecuavisadev.netlify.app/rd-podcast/assets/iconpodcast.svg') !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
}

.temas_destacados_swiper .noticias .article .media_block .text_block .headline a h2 {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #FFFFFF;
}

.temas_destacados_swiper .noticias .article .media_block .text_block .article-section {
  display: none;
}

.title-destacada {
  margin: 30px 0;
}

.title-destacada h2 {
  color: black;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.8rem;
  font-family: 'Archivo';
}

.title-destacada .destacada {
  color: #2927b9;
  font-family: 'Archivo';
  font-weight: 700;
}


/*************************
*****MAS ESCUCHADOS*****
*************************/


.masEscuchados .PODCAST_MAS_ESCUCHADOS .media_block {
  display: grid;
  grid-template-columns: 2fr 4fr 1fr;
  justify-items: stretch;
  align-items: center;
}

.masEscuchados .PODCAST_MAS_ESCUCHADOS .media_block .multimedia {
  width: 100%;
}

.masEscuchados .PODCAST_MAS_ESCUCHADOS .media_block .multimedia img {
  border-radius: 50%;
  border: 5px solid #D9D9D9;
  padding: 5px;
}

.masEscuchados .PODCAST_MAS_ESCUCHADOS .media_block .multimedia .multimediaIconMacroWrapper a span {
  display: none;
}

.masEscuchados .iter-tabview-content-item .element {
  margin-bottom: 25px;
  padding-bottom: 25px;
  border-bottom: 2px solid #2927B9;
}

.masEscuchados .iter-tabview-content-item {
  border-top: 2px solid #2927B9;
  margin-top: 30px;
  padding-top: 25px;
}

.masEscuchados .iter-widget .iter-tabview-content .iter-rankingtab-mostviewed-hd {
  display: none;
}

.masEscuchados .PODCAST_MAS_ESCUCHADOS .media_block .pod_icon_play img {
  width: 37px;
}

.masEscuchados .PODCAST_MAS_ESCUCHADOS .media_block .pod_icon_play {
  text-align: end;
  display: block;
}

.masEscuchados .PODCAST_MAS_ESCUCHADOS .media_block .text_block .headline a h2 {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #060127;
  margin-left: 20px;
  margin-bottom: 0;
}

.tit-vid a h2 {
  color: #2927B9;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Archivo';
  margin-bottom: 30px;
  line-height: 28px;
}





/*************************
*****MINI PORTADA ACTUALIDAD Y ENTRETENIMIENTO*****
*************************/

.layout_podcast_portadilla .row.r05 {
  margin: 0;
}



.pod_general {
  position: relative;
  border-bottom: 16px solid #2927B9;
}

.pod_general .pod_sup .pod_logo {
  position: absolute;
  text-align: center;
  transform: translate(-50%, 0);
  left: 50%;
  padding: 30px 0;
  background: rgb(6, 2, 34);
  background: -moz-linear-gradient(180deg, rgba(6, 2, 34, 1) 0%, rgba(0, 0, 0, 0) 100%);
  background: -webkit-linear-gradient(180deg, rgba(6, 2, 34, 1) 0%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(180deg, rgba(6, 2, 34, 1) 0%, rgba(0, 0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#060222", endColorstr="#000000", GradientType=1);
  width: 100%;

}

.pod_general .pod_sup .pod_play {
  position: absolute;
  text-align: center;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.pod_general .pod_sup .pod_play img {
  width: 60px;
}

.pod_general .pod_fondo img {
  width: 100%;
}

.pod_general .pod_inf {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0px);
  padding: 30px 0;
  text-align: center;
  background: rgb(6, 2, 34);
  background: -moz-linear-gradient(0deg, rgba(6, 2, 34, 1) 0%, rgba(0, 0, 0, 0) 100%);
  background: -webkit-linear-gradient(0deg, rgba(6, 2, 34, 1) 0%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(0deg, rgba(6, 2, 34, 1) 0%, rgba(0, 0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#060222", endColorstr="#000000", GradientType=1);
  width: 100%;
}

.pod_general .pod_inf h3 {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
  margin: 0;
}

.pod_general .pod_inf .pod_texto {
  margin-bottom: 15px;
}

.pod_general .pod_inf .pod_boton {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 20px;
}

.pod_general .pod_inf .pod_boton a {
  background: #23DCD1;
  font-family: 'Mattone 150';
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 12px;
  text-align: center;
  text-transform: uppercase;
  color: #2927B9;
  text-decoration: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 18px 20px;
  gap: 10px;
  width: 139.85px;
  height: 32px;
  background: #23DCD1;
  border: 1px solid #23DCD1;
  border-radius: 2px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

/* ITEMS */
.pod_items .PODCAST_MAS_ESCUCHADOS .media_block {
  display: grid;
  grid-template-columns: 2fr 4fr 1fr;
  justify-items: stretch;
  align-items: center;
}

.pod_items .PODCAST_MAS_ESCUCHADOS .media_block .multimedia {
  width: 100%;
}

.pod_items .PODCAST_MAS_ESCUCHADOS .media_block .multimedia img {
  border-radius: 50%;
  border: 5px solid #D9D9D9;
  padding: 5px;
}

.pod_items .PODCAST_MAS_ESCUCHADOS .media_block .multimedia .multimediaIconMacroWrapper a span {
  display: none;
}

.pod_items .noticias article {
  margin-bottom: 25px;
  padding-bottom: 25px;
  border-bottom: 2px solid #2927B9;
}

.pod_items .noticias {
  border-top: 2px solid #2927B9;
  margin-top: 30px;
  padding-top: 25px;
}

.pod_items .PODCAST_MAS_ESCUCHADOS .media_block .pod_icon_play img {
  width: 37px;
}

.pod_items .PODCAST_MAS_ESCUCHADOS .media_block .pod_icon_play {
  text-align: end;
  display: block;
}

.pod_items .PODCAST_MAS_ESCUCHADOS .media_block .text_block .headline a h2 {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #060127;
  margin-left: 20px;
  margin-bottom: 0;
}


@media (max-width: 767px) {

  .layout_podcast_portadilla .row.r05 #not-actualidad,
  .layout_podcast_portadilla .row.r05 #nov-entretenimiento {
    padding: 0;
  }
}


@media (max-width: 575px) {
  .container.miniportadas {
    padding-left: 0;
    padding-right: 0;
  }
  #not-actualidad .title-destacada,
  #nov-entretenimiento .title-destacada {
    margin: 30px 12px;
  }

  .pod_items .noticias {
    margin-right: 12px;
    margin-left: 12px;
  }
}