/*****************
*****CINTILLO*****
*****************/

.titulo_central .cintillo-rd {
  display: inline-block;
  color: var(--rd-cintillo);
  font-family: 'Anek Malayalam';
  letter-spacing: -0.03em;
  font-style: normal;
  font-weight: 600;
  font-size: 88px;
  line-height: 96px;
  margin-top: 30px;
  text-transform: lowercase;
}

@media (max-width: 767px) {
  .titulo_central .cintillo-rd {
    font-size: 55px;
    line-height: 24px;
    margin-bottom: 20px;
  }
}

/*************************
*****TEMAS DESTACADOS*****
*************************/

.temas_destacados .noticias .article .media_block {
  position: relative;
}

.temas_destacados .noticias .article .media_block .text_block {
  position: absolute;
  bottom: 0;
  padding: 0.5rem 1rem;
  width: 100%;
  background-image: -webkit-linear-gradient(bottom, #060127 50%, #ffffff00 100%);
  padding: 7rem 1rem 1.5rem;
}

.temas_destacados .noticias .article .media_block .text_block .article-section {
  display: none;
}


.temas_destacados {
  padding: 0 50px;
}


@media (min-width: 991px) {
  .temas_destacados {
    margin: 0 20%;
  }
}