.menu {
  color: #000;
  background-color: #f2f2f2;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* .mejs__container {
  margin-top: 10px;
} */

.mejs__controls {
  display: block;
  flex-direction: column;
}

.mejs__controls,
.mejs__container {
  background: none !important;
}

.mejs__time {
  color: #000 !important;
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 700 !important;
  padding: 0 !important;
  height: auto !important;
}

.mejs__time-total {
  background: rgb(21 21 21 / 30%) !important;
}

.podcast {
  background: #f0f0f0;
  border-radius: 3px;
  padding: 0px;
}

.mejs__time-current,
.mejs__time-handle-content {
  background: #2927B9 !important;
}

.podcast__episode_title {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #060127;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  margin-bottom: 0;
}

.podcast__category {
  margin: auto;
  text-transform: uppercase;
  font-size: 11px;
  color: #555;
}

.podcast__category i {
  font-style: normal;
  font-weight: normal;
  text-transform: capitalize;
  margin-left: 10px;
}

.mejs__button>button {
  filter: invert(1);
}

.podcast__meta {
  background: #fff;
  margin: 0px 0px 0px 0px;
  padding: 30px 30px 45px 30px;
  display: block;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  z-index: 150;
  box-shadow: 0 0 16px rgb(0 0 0 / 25%);
  transform: translateY(0);
  transition: transform .3s cubic-bezier(.25, .46, .45, .94);
  align-items: center;
}

.podcast__meta .artwork {
  margin-right: 0;
  transform: translateY(-70px);
}

.podcast__meta .artwork>img {
  border-radius: 3px;
  width: 150px;
  height: 150px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: -80px;
}

.mejs-prepended-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mejs-appended-buttons {
  display: flex;
  justify-content: space-evenly;
}

.mejs__play>button {
  background: transparent url("https://cdn.jsdelivr.net/gh/ivorpad/images-src/mediaplayer-sprite-gray.svg") no-repeat;
}

.mejs__pause>button {
  background: transparent url("https://cdn.jsdelivr.net/gh/ivorpad/images-src/mediaplayer-sprite-gray.svg") no-repeat;
  background-position: -20px 0;
}

.mejs__mute>button {
  background: transparent url("https://cdn.jsdelivr.net/gh/ivorpad/images-src/mediaplayer-sprite-gray.svg") no-repeat;
  background-position: -60px 0;
}

.mejs__unmute>button {
  background: transparent url("https://cdn.jsdelivr.net/gh/ivorpad/images-src/mediaplayer-sprite-gray.svg") no-repeat;
  background-position: -40px 0;
}

.mejs-skip-back-button>button,
.mejs__skip-back-button>button {
  background: transparent url("https://cdn.jsdelivr.net/gh/ivorpad/images-src/skipback.svg");
}

.mejs-jump-forward-button>button,
.mejs__jump-forward-button>button {
  background: url("https://cdn.jsdelivr.net/gh/ivorpad/images-src/jumpforward.svg") no-repeat;
}

.mejs__button>button {
  color: #555;
}

.mejs__horizontal-volume-slider {
  display: none !important;
}

.play-stop-button__stop {
  display: none;
}

.play-stop-button--playing .play-stop-button__stop {
  display: block;
}

.play-stop-button--playing .play-stop-button__play {
  display: none;
}

/* fin playstop button */
/* podcast box */
.podcast-lista .noticias .article .media_block img {
  width: 100%;
  height: 250px;
}

