:root {
  --animate-duration: 1s;
  --animate-delay: 1s;
  --animate-repeat: 1;
}


/* .mejs__container {
  margin-top: 10px;
} */

.mejs__controls {
  display: block;
  flex-direction: column;
}

.mejs__controls,
.mejs__container {
  background: none !important;
}

.mejs__time {
  color: #000 !important;
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 700 !important;
  padding: 0 !important;
  height: auto !important;
}

.mejs__time-total {
  background: rgb(21 21 21 / 30%) !important;
}


.mejs__time-current{
  background: #2927B9 !important;
}

.mejs__time-handle-content{
  background: #2927B9 !important;
  width: 20px !important;
  height: 20px !important;
  top: -8px !important;
  border: 4px solid rgb(218 31 31 / 0%) !important;
}

.podcast__episode_title {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #060127;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  margin-bottom: 0;
}

.podcast__category {
  margin: auto;
  text-transform: uppercase;
  font-size: 11px;
  color: #555;
}

.podcast__category i {
  font-style: normal;
  font-weight: normal;
  text-transform: capitalize;
  margin-left: 10px;
}

.mejs__button>button {
  filter: invert(1);
}

.mejs__time-float {
  background: #000 !important;
  border: solid 1px #333 !important;
  color: #fff !important;
}

.mejs__time-float-corner {
  border-color: #272727 #00000000 #00000000 !important; 
}

.mejs__time-float-current {
  font-family: 'Archivo' !important;
  font-style: normal !important;
  font-weight: 600 !important;
}

.animationPLayer {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-duration: var(--animate-duration);
  animation-duration: var(--animate-duration);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInUpBig;
  animation-name: fadeInUpBig;
}

.podcast__meta {
  /* position: fixed; */
  bottom: 0;
  width: 100%;
  background: #fff;
  margin: 0px 0px 0px 0px;
  padding: 30px 30px 45px 30px;
  display: block;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  z-index: 150;
  box-shadow: 0 0 16px rgb(0 0 0 / 25%);
  align-items: center;
}

.podcast__meta .artwork {
  margin-right: 0;
  transform: translateY(-70px);
}

.podcast__meta .artwork>img {
  border-radius: 3px;
  width: 150px;
  height: 150px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: -80px;
}

.mejs-prepended-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mejs-appended-buttons {
  display: flex;
  justify-content: space-evenly;
}

.mejs__play>button {
  background: transparent url("https://cdn.jsdelivr.net/gh/ivorpad/images-src/mediaplayer-sprite-gray.svg") no-repeat;
}

.mejs__pause>button {
  background: transparent url("https://cdn.jsdelivr.net/gh/ivorpad/images-src/mediaplayer-sprite-gray.svg") no-repeat;
  background-position: -20px 0;
}

.mejs__mute>button {
  background: transparent url("https://cdn.jsdelivr.net/gh/ivorpad/images-src/mediaplayer-sprite-gray.svg") no-repeat;
  background-position: -60px 0;
}

.mejs__unmute>button {
  background: transparent url("https://cdn.jsdelivr.net/gh/ivorpad/images-src/mediaplayer-sprite-gray.svg") no-repeat;
  background-position: -40px 0;
}

.mejs-skip-back-button>button,
.mejs__skip-back-button>button {
  background: transparent url("https://cdn.jsdelivr.net/gh/ivorpad/images-src/skipback.svg");
}

.mejs-jump-forward-button>button,
.mejs__jump-forward-button>button {
  background: url("https://cdn.jsdelivr.net/gh/ivorpad/images-src/jumpforward.svg") no-repeat;
}

.mejs__button>button {
  color: #555;
}

.mejs__horizontal-volume-slider {
  display: none !important;
}

.play-stop-button__stop {
  display: none;
}

.play-stop-button--playing .play-stop-button__stop {
  display: block;
}

.play-stop-button--playing .play-stop-button__play {
  display: none;
}

/* fin playstop button */
/* podcast box */
.podcast-lista .noticias .article .media_block img {
  width: 100%;
  height: 250px;
}

@-webkit-keyframes fadeInUpBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUpBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}