.tabnavBuscador {
  padding: 20px 10px;
}

.basic-search-rd-mobile .iter-field.iter-field-text .iter-field-element input {
  height: 40px;
  font-size: 1rem;
  color: #333;
  flex: auto;
  min-width: 0;
  border: 0px solid #CACACA;
  border-radius: 0px;
  padding: 0 19px;
}

.basic-search-rd-mobile .iter-field.iter-field-text .iter-field-element input:focus-visible {
  border-radius: 0px;
  border: 0px solid #8f8e8e;
  outline: none;
}

.basic-search-rd-mobile {
  /*display: flex !important;*/
  position: initial !important;
  float: initial !important;
}

.basic-search-rd-mobile .iter-button-submit {
  display: block !important;
  margin-left: 10px;
}

.basic-search-rd-mobile .iter-button-submit .iter-button-content input {
  background-color: #2927b9 !important;
  border: 1px solid #2927b9 !important;
  border-radius: 2px;
  font-family: 'Mattone 150';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  padding: 10px 25px;
  color: #fff;
}