:root {
    --color-azul: #2927B9;
    --color-azul-oscuro: #060127;
}

/* QUITAR MARGENES */
#iter-content-wrapper {
  padding-top: 0;
}

.row.r00 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

/* ENCUESTA */
/*.container-fluid {
  padding-left: 0;
  padding-right: 0;
}*/


.row>* {
  padding-right: 1rem;
  padding-left: 1rem;
}

.c_azul_celeste_Mobile {
  display: none;
}

@media (max-width: 767px) {
  .c_azul_celeste_Mobile {
    display: block;
  }

  .c_azul_celeste_Desktop {
    display: none;
  }
}

/*PROGRAMACION WEB*/
.prog-web-container {
  margin-bottom: 45px;
  background: #060127;
  border-top: 16px solid #2927B9;
  border-bottom: 16px solid #2927B9;
}
.prog-web-container .iframe__ iframe {
  width: 100%;
  /*height: 860px;*/
  height: 385px;
}
.prog-web-container .titulo_programa_web .cintillo-rd span {
  color: #23DCD1;
}

.prog-web-container .ver_t_prog .button_container {
  display: none;
}

.prog-web-container .titulo_programa_web .cintillo-rd {
  display: inline-block;
  font-size: 80px;
  font-weight: 600;
  color: white;
  line-height: 76px;
  text-transform: lowercase;
  margin-top: 30px;
  margin-bottom: 20px;
  font-family: 'Anek Malayalam';
}

.estilo_separadorDesktop,
.estilo_separadorMobile {
  max-width: 100%;
  margin-top: 5px;
}

.estilo_separadorDesktop {
  width: 100%;
}

.estilo_separadorMobile {
  display: none;
}

.title_bloque {
  display: flex;
  gap: 5px;
}

@media (max-width: 767px) {
  .prog-web-container .titulo_programa_web .cintillo-rd {
    font-size: 55px;
    line-height: 45px;
  }
/* 
  .estilo_separadorDesktop,
  .estilo_separadorMobile {
    margin-top: 16px;
  } */

  .estilo_separadorMobile {
    display: block;
  }

  .estilo_separadorDesktop {
    display: none;
  }

  .title_bloque {
    display: block;
  }
}

@media (max-width: 320px) {
  .prog-web-container .titulo_programa_web .cintillo-rd {
    font-size: 45px;
  }
}

/*VIDEOS MAS VISTOS*/

/* ***************************
INICIO - BLOQUE - VIDEOS MAS VISTOS
*************************** */
.rankSwiper .swiper-pagination-bullet-active {
  background: #2927b9;
}
.rankSwiper .swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
}
.rankSwiper .swiper-pagination-bullets-dynamic {
  width: 77px !important;
}

.sliderVideos .videos-sem {
  display: none;
}

.sliderVideos .ranking-viewer-portlet li a {
  display: none;
}

.sliderVideos .media_block {
  position: relative;
}

.sliderVideos .text_block {
  position: absolute;
  bottom: 0;
  padding: 0.7rem;
}

.sliderVideos .article-section a {
  font-weight: 600;
  color: #23DCD1;
  display: block;
}

.sliderVideos .headline h3 {
  color: var(--bs-white);
  font-size: var(--rd-size-16);
}

.sliderVideos .multimedia .multimediaIconMacroWrapper a div {
  background-image: linear-gradient(180deg, rgba(6, 2, 34, 0) 0%, rgba(6, 2, 34, 0.9) 80.47%);
  border-radius: 6px;
}

.sliderVideos .multimedia img {
  border-radius: 6px;
  -webkit-mask-image: linear-gradient(to top, #0000002e 0, #242424 60%);
  height: 100% !important;
  object-fit: cover;
}

.sliderVideos .swiper-wrapper {
  padding-bottom: 2.5rem;
}

.sliderVideos .ms-visto-ec .swiper .swiper-wrapper .element .media_block .top_info {
  display: flex;
  position: absolute;
  top: 17px;
  z-index: 9;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.sliderVideos .ms-visto-ec .swiper .swiper-wrapper .element .media_block .top_info .Topheadline {
  margin-left: 1rem;
}

.Topheadline h2 {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 5px;
}
.sliderVideos .ms-visto-ec .swiper .swiper-wrapper .element .media_block .top_info .Topheadline .hLine {
  background: #23DCD1;
  font-size: 12px;
  margin: 0;
  padding: 5px;
  text-transform: uppercase;
}

.sliderVideos .ms-visto-ec .swiper .swiper-wrapper .element .media_block .top_info .Topheadline .hide {
  opacity: 0;
}

.sliderVideos .tit-vid h2 {
  color: #23DCD1;
  font-size: var(--rd-size-22);
  font-weight: 600;
  text-transform: uppercase;
  font-family: 'Mattone 150';
  margin-bottom: 20px;
}

.sliderVideos .tit-vid h2 span {
  color: white;
}

.rankSwiper .media_block .rd_date ul li {
  color: #c7c7c7;
  font-size: 14px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  margin-top: -5px;
}

.sliderVideos .iconPlay {
  background-image: url('https://ecuavisadev.netlify.app/home-rd/assets/iconplayrd.svg');
  width: 30px;
  height: 30px;
  top: 15px;
  right: 10px;
  left: initial;
  bottom: initial;
}

.sliderVideos .tit-vid h2 {
  color: #2927B9;
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: 'Mattone 150';
  margin-bottom: 30px;
}

.sliderVideos .tit-vid h2 span {
  display: none;
}

.btn_informativo .button_container,
.btn_entretenimiento .button_container {
  display: none;
}

@media (max-width: 767px) {
  .sliderVideos .tit-vid h2 {
    font-size: 15px;
    margin: 20px 0;
  }
}
@media (max-width: 575px) {
  .HOME_MENU_RD .lista-bloque-programas .noticias .article .media_block .top_info .Topheadline .hLine {
    font-size: 10px;
  }

  .portlet-boundary.portlet-static-end.velocitycontainer-portlet.titulo_programa_web {
    margin-top: 0px;
  }
}
/* FIN QUITAR MARGENES */


/* TITULAR DE SECCIÓN */
.cintillo-rd h1,
.cintillo-rd h2 {
  font-size: 70.5px;
  color: #2927b9;
  font-weight: 700;
  font-family: 'Anek Malayalam';
  text-transform: lowercase;
  margin-top: 30px;
}

/*PORTADA*/
.destacada-entretenimiento {
  border-bottom: 12px solid #2927B9;
  border-top: 12px solid #2927B9;
}

.destacada-entretenimiento .media_block .text_block .headline h1 {
  color: white;
  font-size: 34px;
  font-family: 'Archivo';
  font-weight: 700;
}

.destacada-entretenimiento .noticias .article .text_block {
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3.5rem 1rem 25px;
  width: 100%;
  margin-top: -1px;
  position: initial;
  background: #060127;
}

.destacada-entretenimiento .media_block .multimedia img {
  filter: brightness(80%) !important;
}

.destacada-entretenimiento .noticias .article .media_block .multimedia .multimediaIconMacroWrapper a img {
  -webkit-mask-image: linear-gradient(to top, transparent 0, #060127 60%);
}

.destacada-entretenimiento .IMG_SEC_TIT_TXT_PORTADA .multimediaIconMacroWrapper div {
  background-image: -webkit-linear-gradient(bottom, #060127 50%, white 65%);
}

.destacada-entretenimiento .media_block .text_block .headline {
  padding: 25px 0;
}

.destacada-entretenimiento .text_block .text {
  display: none;
}

.destacada-entretenimiento .media_block .text_block .article-section a {
  font-size: 14px !important;
}

.destacada-entretenimiento .noticias .article .media_block .multimedia .multimediaIconMacroWrapper a img {
  -webkit-mask-image: linear-gradient(to top, transparent 0, #060127 30%);
  height: 220px !important;
  object-fit: cover;
}

.destacada-entretenimiento .noticias .article .multimedia .multimediaIconMacroWrapper a div {
  border-bottom: none;
  height: 220px !important;
}

/* FIN PORTADA */

/* ENCUESTA */
.results .choice {
  color: white;
  border: 2px solid #23dcd1 !important;
  font-family: 'Archivo';
}

.results .choice .bg-bar .bar {
  background: #23dcd1 !important;
}

.vote-count {
  color: white !important;
  font-weight: 700;
  font-family: 'Archivo';
  font-size: 22px;
}

.bg-secondary {
  background-color: #23dcd1a3 !important;
}

.badge {
  font-family: 'Archivo';
}

/* fin ENCUESTA */
/*ocultar quiz extras*/
.micro_593 {
  display: none;
}

.encuesta_estadio {
  display: none;
}

.encuesta_estilo {
  display: none;
}

.sub_estadio {
  display: none;
}

/* fin ocultar quiz extras*/

/* TEMAS DESTACADOS */
.tarjeta-destacada .noticias .article .media_block .multimedia .multimediaIconMacroWrapper a div:after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  left: 0;
  right: 0;
  background-image: url("https://ecuavisadev.netlify.app/rd-estilo/assets/fondo-temas-destacados.png") !important;
  background: #3F3F4200;
  background-position: center 100%;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  opacity: .1;
  border-radius: 5px;
}

.faq_separador {
  display: flex;
  margin: 0 auto;
  width: 310px;
  padding-bottom: 1rem;
}

.faq_separador2 {
  float: left;
}

.tarjeta-destacada .iconPlay {
  background-image: url('https://ecuavisadev.netlify.app/home-rd/assets/iconplayrd.svg');
  width: 30px;
  height: 30px;
  top: 15px;
  right: 10px;
  left: initial;
  bottom: initial;
}

.tarjeta-destacada h2 {
  padding: 0;
}

.tarjeta-destacada h2 {
  color: black;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 40px;
  font-family: 'Archivo';
  margin: 0;
  padding-top: 2rem;
}

.tarjeta-destacada .destacada {
  color: #2927b9;
  font-family: 'Archivo';
  font-weight: 700;
}

.teaser-viewer-title h2 {
  color: #2927b9;
  font-weight: 700;
  padding-bottom: 1rem;
  font-family: 'Archivo';
  font-size: 1.5rem;
}

/* SOMBREADO DE TARJETA */
.swiper-3d .swiper-slide-shadow {
  background: #2927B9;
  border: 0.1px #716fcd solid;
}

.tarjetaSwiper .noticias article .media_block .text_block .article-section {
  display: none;
}

.tarjetaSwiper a h3 {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #FFFFFF;
}

.tarjetaSwiper .swiper-wrapper .swiper-slide .text_block {
  margin-top: -150px;
  min-height: 110px;
  position: absolute;
  bottom: 0;
  padding: 7rem 1rem 1.5rem;
  background-image: -webkit-linear-gradient(bottom, #060127 50%, #ffffff00 100%);
  left: 0;
  right: 0;
}

.tarjetaSwiper {
  width: 100% !important;
  /*padding: 0 25px;*/
  padding: 0 40px;
}



.tarjetaSwiper .swiper-wrapper .swiper-slide {
  border-radius: 5px;
}

.tarjeta-destacada .noticias.swiper-wrapper .swiper-slide-active {
  border-radius: 5px;
}

/* FIN TEMAS DESTACADOS */

/*bloque Video Swiper Principal */
.bloque-programas .swiper-button-next,
.bloque-programas.swiper-button-prev {
  top: 60%;
}

.bloque-programas .media_block .text_block .headline h1,
.bloque-programas .media_block .text_block .headline h2 {
  color: white;
  font-size: 34px;
  font-family: 'Archivo';
  font-weight: 700;
}

.bloque-programas .media_block {
  position: relative;
}

.bloque-programas .text_block {
  position: absolute;
  bottom: 0;
  padding: 3rem 1rem 1rem;
  background-image: -webkit-linear-gradient(bottom, #060127 20%, #ffffff00 100%);
  left: 0;
  right: 0;
  border-radius: 5px;
}

.principalSwiper .teaser-viewer-title h2 {
  padding-bottom: 2rem;
}

.bloque-programas .Topheadline,
.carrusel-programas .Topheadline {
  z-index: 2;
  position: absolute;
  color: #2927b9;
  background-color: #23dcd1;
  width: 70%;
  display: flex;
  margin: 10px;
  justify-content: center;
  border-radius: 5px 0px 0 0;
}

.bloque-programas .Topheadline svg {
  display: none;
}

.bloque-programas .Topheadline h1 {
  text-transform: uppercase;
  font-family: 'Anek Malayalam';
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  padding-top: 8px;
}

.programas-desktop .multimedia img {
  width: 100% !important;
  height: 555px !important;
  max-height: 555px !important;
  position: relative !important;
  object-fit: cover;
  border-radius: 2px;
}

.bloque-programas .media_block .multimedia img {
  filter: brightness(70%);
  border-radius: 5px;
  height: 100% !important;
  object-fit: cover;
}

.programas-desktop .media_block .multimedia img {
  height: 555px !important;
  object-fit: cover;
}

.programas-desktop .multimedia div {
  padding-top: 0 !important;
}

.programas-desktop .noticias .article .media_block .text_block .article-section a {
  font-size: 22px;
  line-height: 31.52px;
  font-family: 'Anek Malayalam';
}

.programas-desktop .text_block {
  padding: 3rem 62px 50px;
}

.programas-desktop .noticias .article .media_block .text_block .headline {
  max-width: 700px;
}

.programas-desktop .noticias .article .media_block .text_block .headline h1,
.programas-desktop .noticias .article .media_block .text_block .headline h2 {
  font-size: 42px!important;
  line-height: 48px!important;
  text-transform: initial;
}

.bloque-programas .media_block .text_block .inf2,
.programas-desktop .noticias .article .media_block .text_block .inf2 {
  font-family: 'Archivo';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  color: #d5d5d5;
}

.bloque-programas .media_block {
  position: relative;
  border-radius: 5px;
}

/*FIN BLOQUE SWIPER PRINCIPAL */

/*INICIO BLOQUE CARRUSEL PROGRAMAS*/
.carrusel-programas .media_block .multimedia img {
  border-radius: 5px;
}

.carrusel-programas .text_block {
  border-radius: 5px;
}

.bloque-programas .media_block .text_block .headline h3,
.bloque-programas .media_block .text_block .headline h2,
.programas-desktop .media_block .text_block .headline h1 {
  color: white;
  font-size: var(--rd-size-20);
  font-family: 'Anek Malayalam';
  font-weight: 600;
  padding-top: .5rem;
  text-transform: initial;
}

/* .bloque-programas .media_block .text_block .article-section {
  padding-bottom: 15px;
} */
.bloque-programas .media_block .text_block .article-section a,
.destacada-entretenimiento .media_block .text_block .article-section a {
  color: #23dcd1;
  text-transform: uppercase;
  font-family: 'mattone 150';
  font-weight: 600;
  font-size: 11px;
  line-height: 16px;
}

.bloque-programas .media_block .text_block .subheadline {
  display: none;
}

/* FIN BLOQUE CARRUSEL PROGRAMAS */

/******* BOTÓN IR A PROGRAMA ********/


#navegacion {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 35px;
  margin-bottom: 18px;
  gap: 5px;
}

#navegacion .title h2 {
  color: #2927b9;
  font-weight: 700;
  margin: 0;
  font-family: 'Archivo';
  font-size: 22px;
  line-height: 24px;
}

#navegacion .enlace-programa {
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 25px;
  padding: 5px 15px 3px 15px;
  color: #2927b9;
  text-decoration: none;
  border: 1px #23dcd1 solid;
  font-family: 'Mattone 150';
}

.btn-encontacto,
.btn-programas {
  position: relative;
  z-index: 13;
}

.btn-encontacto a,
.btn-programas a {
  display: inline-block;
  height: 35px;
  top: 45px;
  text-align: left;
  text-transform: uppercase;
  font-weight: 600;
}

.btn-encontacto a:nth-child(1),
.btn-programas a:nth-child(1) {
  right: 0;
  border-radius: 4px;
  width: auto;
  font-size: 11px;
  line-height: 25px;
  padding: 5px 15px;
  color: #2927b9;
  text-decoration: none;
  position: absolute;
  border: 1px #23dcd1 solid;
  font-family: 'Mattone 150';
}

/******* FIN BTN IR A PROGRAMA ********/

/* INICIO ÍCONO DE VIDEOS*/
.icono-programas .iconPlay {
  background-image: url("https://ecuavisadev.netlify.app/grilla/bloque/assets/Play.svg");
  height: 48px;
  width: 48px;
  background-size: contain;
  position: absolute;
  top: 40% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
  z-index: 9;
}

.icono-carrusel .iconPlay {
  background-image: url('https://ecuavisadev.netlify.app/home-rd/assets/iconplayrd.svg');
  width: 30px;
  height: 30px;
  top: 15px;
  right: 10px;
  left: initial;
  bottom: initial;
}

.tarjetaSwiper.tarj_mobile {
  padding: 0 40px;
  max-width: 400px;
  margin: auto;
}

/* FIN ÍCONO DE VIDEOS */

/* INICIO TEXTOS DESCRIPTIVOS */

.headband-2.article-section p{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  font-family: 'Archivo';
  text-transform: initial;
  line-height: 20px;
  margin-top: -15px;
  margin-bottom: 30px;
}
/* FIN TEXTOS DESCRIPTIVOS */




/* INICIO CSS MEDIA QUERIES */

@media (max-width: 1024px) {
  .programas-desktop .multimedia img {
    height: 455px !important;
    max-height: 455px !important;
  }

}


@media (min-width: 991px) {

  .icono-programas .iconPlay {
    position: initial;
    transform: initial;
    margin-bottom: 20px;
  }


}


@media (max-width: 990px) {
  .tarjetaSwiper .swiper-wrapper .swiper-slide .text_block {
    padding: 20px;
    min-height: 0;
  }

  .tarjetaSwiper a h3 {
    font-size: 14px;
    line-height: 18px;
  }
}



@media (max-width: 768px) {

  /* TARJETAS SWIPER DESTACADAS */
  .tarjetaSwiper .swiper-android .swiper-slide,
  .tarjetaSwiper .swiper-wrapper {
    transform: translate3d(0%, 0, 0) !important;
    margin: 0px 0px 0px 0px !important;
  }

  .swiper.tarjetaSwiper {
    width: 100% !important;

  }

  .swiper-cards {
    overflow: hidden;
  }

  .tarjetaSwiper .swiper-wrapper {
    transform: translate3d(15%, 0, 0);
  }
}

@media (max-width: 767px) {
  .tarjetaSwiper .swiper-wrapper .swiper-slide .text_block {
    padding: 7rem 1rem 1.5rem;
    min-height: 110px;
  }

  #navegacion .title h2 {
    font-size: 20px;
  }

  .tarjetaSwiper a h3 {
    font-size: 18px;
    line-height: 26px;
  }

  .tarjeta-destacada h2 {
    font-size: 24px;
    line-height: 25px;
    padding-top: 0rem;
  }
}

@media (max-width: 600px) {

  /* ENCUESTA */
  .container-fluid {
    padding-left: 0.7rem;
    padding-right: 0.7rem;
  }

  .title_seccion {
    padding: 0rem 1rem 1rem;
  }

  .cintillo-rd h1,
  .cintillo-rd h2 {
    font-size: 47px;
  }

  .teaser-viewer-title h2 {
    font-size: 22px;
    width: 50%;
  }

  .faq_separador2 {
    max-width: 100%;
  }

  .faq_separador {
    width: 310px;
  }

  .btn-programas a {
    top: 54px;
  }

  .btn-encontacto a {
    top: 45px;
  }

  .bloque-programas .media_block .text_block .headline h1,
  .bloque-programas .media_block .text_block .headline h2 {
    font-size: 16px;
  }

  /* TARJETAS SWIPER DESTACADAS */
  .tarjetaSwiper .swiper-android .swiper-slide,
  .tarjetaSwiper .swiper-wrapper {
    transform: translate3d(0%, 0, 0) !important;
    margin: 0px 0px 0px 0px !important;
  }

  .swiper.tarjetaSwiper {
    width: 100%!important;
    padding-right: 80px;
    padding-left: 55px;
  }

  .swiper-cards {
    overflow: hidden;
  }

}

/*AÑADIR DEGRADADO A TODOS LOS BLOQUES DE LAS NOTAS*/
.carrusel-programas .multimedia > div,
.rankSwiper .multimedia > div,
.tarjetaSwiper .multimedia > div {
    background: #060127;
}

.carrusel-programas .text_block,
.tarjetaSwiper .text_block {
    background-image: none!important;
}

.carrusel-programas .multimedia > div img,
.rankSwiper .multimedia img,
.tarjetaSwiper .multimedia > div img {
    -webkit-mask-image: linear-gradient(to top, transparent 0, #060127 40%);
}

.carrusel-programas .multimedia > div img:hover,
.tarjetaSwiper .media_block:hover .multimedia > div img,
.rankSwiper .multimedia img:hover,
.tarjetaSwiper .multimedia > div img:hover {
    -webkit-mask-image: linear-gradient(to top, transparent 0, #060127 85%)!important;
}
/*FIN AÑADIR DEGRADADO A TODOS LOS BLOQUES DE LAS NOTAS*/

/*QUITAR LA SECCIÓN MÁS DESTACADAS, TANTO EN MOBILE COMO ESCRITORIO*/
.ocultar-bloque,
.tarjeta-destacada.titulo-destacadas {
    display: none;
}

.sec-titulo .noticias {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  margin-top: 10px;
  /* margin-bottom: 50px; */
}

.sec-titulo .noticias .article {
  /* height: 100%; */
  /* display: flex; */
  /* align-items: center; */
  /* border-top: 1px solid #2927B9; */
  /* border-bottom: 1px solid #2927B9; */
  border-bottom: 1px solid #2927B9;
  /* height: 135px; */
  display: flex;
  align-items: center;
}
.sec-titulo .noticias .article:nth-child(1), 
.sec-titulo .noticias .article:nth-child(2) {
  border-top: 1px solid #292789;
}
.sec-titulo .text_block .article-section a {
  color: #2927B9;
  font-weight: 600;
  text-transform: uppercase;
  font-family: 'Mattone 150';
  font-size: 14px;
  line-height: 16px;
}

.sec-titulo .headline h2 {
  color: black;
  font-size: 22px;
  font-weight: 700;
  font-family: 'Archivo';
  line-height: 26px;
}

/* .sec-titulo .text_block {
  padding: 30px 0;
} */
.sec-titulo .text_block {
  padding: 34px 0;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
}

.sec-titulo .headline h2 {
  padding-top: .5rem;
}


.sec-titulo.notas-estilo-mobile .noticias .article .media_block{
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
  gap: 50px;
}

.sec-titulo.notas-estilo-mobile .iconPlay {
  background-image: url('https://estadisticas.ecuavisa.com/sites/gestor/Podcast%2FPlayRedondoCeleste.svg');
  width: 30px;
  height: 30px;
  top: initial;
  bottom: 0;
  right: 0;
  left: initial;
  margin: 10px;
}


@media (max-width: 768px) {

  .sec-titulo.notas-estilo-mobile .noticias .article .media_block{
    grid-template-columns: 2fr 1fr;
  }

}


@media (max-width: 767px) {
  
  .sec-titulo .noticias .article:nth-child(1) {
    border-top: 1px solid #292789;
  }
  .sec-titulo .noticias .article:nth-child(2) {
    border-top: none;
  }

  .sec-titulo .noticias {
    grid-template-columns: 1fr;
    gap: 0;
  }

}

.notas-estilo-mobile {
  margin-bottom: 40px;
}


@media (max-width: 600px) {
  .notas-estilo-mobile h3 {
    color: white;
    font-family: 'Mattone 150';
  }
  .notas-estilo-mobile .notas2 {
    margin-top: -20px;
    padding: 1.5rem 7px 15px;
  }
}

.sec-titulo.notas-estilo-mobile .BLOQUE_SEC_TIT_IMG {
    width: 100%;
}
/*FIN QUITAR LA SECCIÓN MÁS DESTACADAS, TANTO EN MOBILE COMO ESCRITORIO*/

/*Comunidades*/
.iconPlay.bottom, .iconPlay.left, .iconPlay {
    top: 20px!important;
    left: auto!important;
    background-image: url(https://estadisticas.ecuavisa.com/sites/gestor/Recursos/play-icon-white.svg);
    right: 10px!important;
    stroke: white;
    width: 30px;
    height: 30px;
}

#main-content .swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: #2927B9!important;
}

#main-content .swiper-pagination-bullet {
    background: #2927B9!important;
}

.swiper-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic, .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    bottom: 0px;
}

.u-t-comunidad-gye .swiper-button-next, .u-t-comunidad-gye .swiper-button-prev ,
.u-t-comunidad .swiper-button-next, .u-t-comunidad .swiper-button-prev {
    color: #23DCD1;
    display: none;
}

#main-content .u-t-comunidad article.article{
    background-color: var(--color-azul-oscuro);
    border-radius: 5.0022px;
  }

  .u-t-comunidad .swiper-wrapper {
    padding: 30px 0px;
    /* padding-bottom: 50px; */
    padding-bottom: 35px;
  }

  .u-t-comunidad {
    overflow: hidden;
    position: relative;
    background-color: #fff;
  }
  
  #main-content .u-t-comunidad article.article{
    background-color: var(--color-azul-oscuro)
  }

.u-t-comunidad .text_block {
    position: absolute;
    bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 12px;
  }

  .u-t-comunidad a,
  .u-t-comunidad h3,
  .u-t-comunidad h2{
    color: #fff;
    font-size: 15px;
  }

  .u-t-comunidad img {
      position: initial!important;
      height: 333px!important;
      min-height: 333px !important;
      max-height: 333px !important;
      object-fit: cover!important;
      width: 100%!important;
      min-width: 100%!important;
      max-width: 100%!important;
      background-color: var(--color-azul-oscuro);
      position: relative !important;
      border-radius: 5.0022px;
      -webkit-mask-image: linear-gradient(to top, transparent 0, #060127 40%);
  }

  .u-t-comunidad img:hover {
      -webkit-mask-image: linear-gradient(to top, transparent 0, #060127 85%);
  }

  .u-t-comunidad .multimediaIconMacroWrapper a > div {
      padding-top: 0px!important;
  }
  
  .u-t-comunidad .date{
    color: #23DCD1;
    font-size: 10px;
    font-weight: 400;
  }

#main-content .u-t-comunidad-gye article.article{
  background-color: var(--color-azul-oscuro);
  border-radius: 5.0022px;
}

.u-t-comunidad-gye .swiper-wrapper {
  padding: 30px 0px;
  /* padding-bottom: 50px; */
  padding-bottom: 35px;
}

.u-t-comunidad-gye {
  overflow: hidden;
  position: relative;
  background-color: #fff;
}

#main-content .u-t-comunidad-gye article.article{
  background-color: var(--color-azul-oscuro)
}

.u-t-comunidad-gye .text_block {
  position: absolute;
  bottom: 0;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 12px;
}

.u-t-comunidad-gye a,
.u-t-comunidad-gye h3,
.u-t-comunidad-gye h2{
  color: #fff;
  font-size: 15px;
}

.u-t-comunidad-gye img {
    position: initial!important;
    height: 333px!important;
    min-height: 333px !important;
    max-height: 333px !important;
    object-fit: cover!important;
    width: 100%!important;
    min-width: 100%!important;
    max-width: 100%!important;
    background-color: var(--color-azul-oscuro);
    position: relative !important;
    border-radius: 5.0022px;
    -webkit-mask-image: linear-gradient(to top, transparent 0, #060127 40%);
}

.u-t-comunidad-gye img:hover {
    -webkit-mask-image: linear-gradient(to top, transparent 0, #060127 85%);
}

.u-t-comunidad-gye .multimediaIconMacroWrapper a > div {
    padding-top: 0px!important;
}

.u-t-comunidad-gye .date{
  color: #23DCD1;
  font-size: 10px;
  font-weight: 400;
}
.u-t-comunidad .text_block {
  padding-bottom: 20px;
}

.u-t-comunidad .swiper-wrapper{
    padding-left: calc(var(--bs-gutter-x)/2);
}
.u-t-comunidad .swiper-pagination{
  /*display: none;*/
}

.u-video-t-contac .swiper-wrapper,
.u-t-comunidad .swiper-wrapper,
.u-t-comunidad-gye .swiper-wrapper,
.u-video-t-politc .swiper-wrapper,
.u-video-t-7pm .swiper-wrapper{
    padding-left: calc(var(--bs-gutter-x)/2);
}

@media (max-width: 1219px) and (min-width: 767px ){
      .u-t-comunidad-gye .swiper-wrapper,
      .u-t-comunidad .swiper-wrapper {
        padding-bottom: 30px;
      }
}