.ly-news-form {
  background: #46b1ff;
}

.ly-news-form .container .row {
  align-content: center;
  justify-content: center;
  align-items: center;
}

.titulo-news h1 {
  font-size: 4rem;
  font-weight: 700;
}

.newsletter_general_title h2 {
  color: white;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.newsletter_general_desc {
  color: #eaeaea;
  margin-bottom: 2rem;
}

.newsletter_email .newsletter_email_label {
  display: none;
}

.img-news-start {
  text-align: end;
}


.newsletters_options {
  display: block !important;
}

.newsletter_chk_subs_div,
.newsletters_cab.newsletters_open,
.newsletters_title,
.newsletters_options .newsletters_option_title_desc,
.newsletters_options .newsletters_option_date {
  display: none;
}

.newsletter_email_div {
  margin-bottom: 1rem;
}

.newsletter_email_div .newsletter_email_ctrl {
  border: 2px solid white;
  background: #46b1ff;
  color: white;
}

.newsletter_email_div .newsletter_email_ctrl:focus-visible {
  border: 2px solid white;
  background: #46b1ff;
}


.newsletter_email_ctrl::placeholder {
  color: white;
}

.boton-suscrib .btn-trans {
  background: transparent;
  border-color: transparent;
  color: #333;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  float: right;
  transition: 0.3s;
}

.boton-suscrib .btn-trans:hover {
  color: white;
}

.boton-suscrib div {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.boton-suscrib div img {
  width: 95px;
}


@media (min-width:1200px) {
  .ly-news-form {
    padding: 50px 400px;
  }
}

@media (max-width:1024px) {
  .ly-news-form {
    padding: 50px 250px;
  }
}

@media (max-width:768px) {
  .ly-news-form {
    padding: 50px 120px;
  }
}

@media (max-width:576px) {
  .ly-news-form {
    padding: 50px 10px;
  }

  .titulo-news h1 {
    font-size: 2.5rem;
  }
}