.ly-news-form {
  background: #46b1ff;
}

.titulo-news h1 {
  font-size: 4rem;
  font-weight: 700;
}

.newsletter_general_title h2 {
  color: white;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.newsletter_general_desc {
  color: #eaeaea;
  margin-bottom: 2rem;
}

.newsletter_email .newsletter_email_label {
  display: none;
}

.img-news-start {
  text-align: end;
}


.newsletters_options {
  display: block !important;
}

.newsletter_chk_subs_div,
.newsletters_cab.newsletters_open,
.newsletters_title,
.newsletters_options .newsletters_option_title_desc,
.newsletters_options .newsletters_option_date {
  display: none;
}

.newsletter_email_div{
  margin-bottom: 1rem;
}

.newsletter_email_div .newsletter_email_ctrl {
  border: 2px solid white;
  background: #46b1ff;
}

.newsletter_email_div .newsletter_email_ctrl:focus-visible {
  border: 2px solid white;
  background: #46b1ff;
}

@media (min-width:1200px) {
  .ly-news-form {
    padding: 50px 400px;
  }
}