.ly-news-form {
  background: #46b1ff;
}

.titulo-news h1 {
  font-size: 4rem;
  font-weight: 700;
}

.newsletter_general_title h2 {
  color: white;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.newsletter_general_desc {
  color: #eaeaea;
  margin-bottom: 2rem;
}

.newsletter_email .newsletter_email_label {
  display: none;
}

.img-news-start {
  text-align: end;
}


.newsletters_options{
  display: block !important;
}


@media (min-width:1200px){
  .ly-news-form{
    padding: 50px 400px;
  }
}