#iter-content-wrapper {
  padding-top: 0px;
}

.nav-pills.s_acumulada .nav-link{
  display: inline-block;
  padding: 13px 13px 10px 13px;
  font-family: 'Mattone 150';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: #fff;
  border-radius: 0;
}

.navChilds.s_acumulada{
  justify-content: center;
  background: #000;
  display: none;
}

.fondo-agenda {
  position: relative;
  /* display: inline-block; */
  text-align: center;
  min-height: 170px;
}

.fondo-agenda img {
  width: 100%;
  display: none;
}

.fondo-agenda iframe {
  position: absolute;
  bottom: 30px;
  left: 0px;
}

.banner_desk,
.banner_mov {
  margin: 0 0 20px;
}

.banner_mov {
  display: none;
}

@media (max-width: 600px) {
  .banner_mov {
      display: block;
  }

  .banner_desk {
      display: none;
  }
}

@media (min-width: 768px) {
  .banner_mov {
      display: none;
  }

  .banner_desk {
      display: block;
  }
}

@media (max-width: 767px) {
  .fondo-agenda img {
      height: 300px;
      /* object-fit: cover; */
      background-position: center;
  }
}

/*  CINTILLO*/
.cintillo-rd {
  display: inline-block;
  font-family: 'Anek Malayalam';
  letter-spacing: -0.03em;
  font-style: normal;
  font-weight: 600;
  font-size: 88px;
  line-height: 81px;
  text-transform: lowercase;
  color: #2927B9;
  margin-bottom: 24px;
}

.cintillo-rd h1 {
  display: inline-block !important;
  font-family: 'Anek Malayalam' !important;
  letter-spacing: -0.03em !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 88px !important;
  line-height: 81px !important;
  text-transform: capitalize !important;
  color: #2927B9 !important;
  margin-bottom: 24px !important;
}

.c_azul_celeste_Mobile {
  display: none;
  margin-bottom: 35px;
}

.c_azul_celeste_Desktop {
  margin-bottom: 35px;
}

/*TABS*/
.navCentral {
  margin: 30px 0;
  border-bottom: 1px solid #2927B9;
  overflow: auto;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap !important;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.navCentral::-webkit-scrollbar {
  height: 8px;
}

.navCentral::-webkit-scrollbar:hover {
  height: 10px;
  padding-top: 10px;
}

.navCentral::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
}

.navCentral::-webkit-scrollbar-thumb {
  height: 6px;
  background-color: #b4b0ff;
}

.navCentral::-webkit-scrollbar-thumb:hover {
  background-color: #072569;
  height: 10px;
}

.navCentral::-webkit-scrollbar:vertical {
  display: none;
}
/*menú de pills en móvil*/
.navChilds {
  margin: 30px 0;
  border-bottom: 1px solid #2927B9;
  overflow: auto;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap !important;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.navChilds::-webkit-scrollbar {
  height: 8px;
}

.navChilds::-webkit-scrollbar:hover {
  height: 10px;
  padding-top: 10px;
}

.navChilds::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
}

.navChilds::-webkit-scrollbar-thumb {
  height: 6px;
  background-color: #b4b0ff;
}

.navChilds::-webkit-scrollbar:vertical {
  background-color: #072569;
  height: 10px;
}

/* END menú de pills en móvil*/
.navChilds {
  margin: 30px 0;
}

.tabs-box {
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
}

.tabs-box .b-nav-tab,
.nav-pills .nav-link {
  display: inline-block;
  padding: 13px 13px 10px 13px;
  font-family: 'Mattone 150';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: #2927B9;
  border-radius: 0;
}

.tabs-box .b-nav-tab.active,
.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: #ffffff;
  background: #2927B9;
}



/*CONTENIDOS*/

.content-box {
  border-top: 1px solid #2927B9;
}

.content-box .b-tab {
  padding: 30px 0;
  display: none;
}

.content-box .b-tab.active {
  display: block;
}



@media (max-width: 767px) {
  .c_azul_celeste_Mobile {
    display: block;
  }

  .c_azul_celeste_Desktop {
    display: none;
  }

  .cintillo-rd {
    font-weight: 600;
    font-size: 55px;
    line-height: 48px;
  }

  .cintillo-rd h1 {
    font-size: 55px !important;
    line-height: 50px !important;
    margin-bottom: 0px !important;
  }
}