#iter-content-wrapper {
  padding-top: 0px;
}

/*CINTILLO*/
.cintillo-rd {
  display: inline-block;
  font-family: 'Anek Malayalam';
  letter-spacing: -0.03em;
  font-style: normal;
  font-weight: 600;
  font-size: 88px;
  line-height: 81px;
  text-transform: lowercase;
  color: #2927B9;
  margin-bottom: 24px;
}

.cintillo-rd h1{
  display: inline-block !important; 
  font-family: 'Anek Malayalam' !important;
  letter-spacing: -0.03em !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 88px !important;
  line-height: 81px !important;
  text-transform: lowercase !important;
  color: #2927B9 !important;
  margin-bottom: 24px !important;
}


.c_azul_celeste_Mobile {
  display: none;
  margin-bottom: 35px;
}

.c_azul_celeste_Desktop {
  margin-bottom: 35px;
}



/*TABS*/
.tabs-box {
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
}

.tabs-box .b-nav-tab {
  display: inline-block;
  padding: 13px 13px 10px 13px;
  font-family: 'Mattone 150';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: #2927B9;
}

.tabs-box .b-nav-tab.active {
  color: #ffffff;
  background: #2927B9;
}



/*CONTENIDOS*/

.content-box {
  border-top: 1px solid #2927B9;
}

.content-box .b-tab {
  padding: 30px 0;
  display: none;
}

.content-box .b-tab.active {
  display: block;
}



@media (max-width: 767px) {
  .c_azul_celeste_Mobile {
    display: block;
  }

  .c_azul_celeste_Desktop {
    display: none;
  }

  .cintillo-rd {
    font-weight: 600;
    font-size: 55px;
    line-height: 48px;
  }
  .cintillo-rd h1 {
    font-size: 55px !important;
    line-height: 50px !important;
    margin-bottom: 0px !important;
}
}